@import '../mixins/frame';

.banner-carousel {
    position: relative;
    padding: 0;
    margin: 0 auto 2.5rem;
    max-width: $banner-max-width;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    @include media-breakpoint-up(xl) {
        min-height: 24.6425rem;
    }

    img {
        width: 100%;
    }

    .slick-next,
    .slick-prev {
        top: 0;
        width: 4.5rem;

        @include media-breakpoint-up(sm) {
            width: 6rem;
        }

        @include media-breakpoint-up(md) {
            width: 8rem;
        }

        @include media-breakpoint-up(xl) {
            width: 4rem;
        }
    }
}

.banner-carousel-item {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40rem;

    @include media-breakpoint-down(lg) {
        height: auto;
        @include frame();
    }

    &::before {
        border: none;
        box-shadow: none;
    }
}

.banner-carousel-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-carousel-cta-content {
    background-color: transparent;
    color: $white;
    cursor: pointer;
    padding: 1.5rem 4.25rem 2.5rem;
    position: relative;
    visibility: hidden;
    white-space: normal;

    @include media-breakpoint-up(sm) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .btn-primary {
        background-color: $approx;
        font-size: $font-size-2;
        font-weight: $font-weight-extra-bold;
        width: 14rem;
        border: none;

        &:hover {
            background-color: $primary;
            border-color: $primary;
        }
    }
}

.banner-carousel-cta-title {
    font-family: $font-family-base;
    font-size: $font-size-16;
    font-weight: $font-weight-extra-bold;
    line-height: 1.2;
    max-height: 7.5rem;
    margin-bottom: 1.25rem;

    > a {
        &:hover {
            text-decoration: none;
        }

        &::before {
            content: '';
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
        }
    }
}

.banner-carousel-cta-text {
    display: block;
    font-style: italic;
    line-height: 1.2;
    max-height: 5rem;
    margin: 0 0 1.625rem;
    padding: 0;

    @include media-breakpoint-up(xl) {
        font-size: $font-size--2;
    }
}

.banner-carousel-menu {
    text-align: left;

    @include media-breakpoint-up(xl) {
        position: absolute;
        min-width: 22.25%;
        max-width: 20rem;
        left: 6%;
        top: 9%;
    }
}

.banner-carousel-menu-content {
    background-color: $white;
    padding: 2rem 2.5rem;
    position: relative;
    visibility: hidden;
    white-space: normal;

    @include media-breakpoint-up(xl) {
        padding: 1.75rem 1.75rem 1.5rem;
        @include frame();
    }
}

.banner-carousel-menu-title {
    font-family: $font-family-base;
    font-size: $font-size-2;
    font-weight: $font-weight-medium;
    line-height: 1;
    margin-bottom: 0.875rem;
    text-transform: uppercase;
}

.banner-carousel-menu-items {
    > a {
        font-weight: $font-weight-medium;
        font-size: $font-size--2;
        line-height: 2;
        display: flex;
    }
}

.banner-carousel-details {
    background-color: rgba($white, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.125rem 1.5rem 0;
    position: relative;
    visibility: hidden;
    white-space: normal;

    @include media-breakpoint-up(xl) {
        position: absolute;
        padding: 1.125rem;
        width: 25%;
        right: 6%;
        top: 0;
        bottom: 0;
    }
}

.banner-carousel-details-title {
    font-family: $font-family-base;
    font-size: $font-size-16;
    font-weight: $font-weight-light;
    margin-bottom: 1.375rem;
    text-transform: uppercase;
}

.banner-carousel-details-text {
    display: block;
    font-weight: $font-weight-medium;
    font-style: italic;
    line-height: 1.4;
    padding: 0;
    @include make-container-max-widths();

    @include media-breakpoint-up(sm) {
        padding: 0 2rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size--2;
        padding: 0;
    }
}

.slick-initialized {
    &.banner-carousel {
        overflow: initial;
    }

    .banner-carousel-cta-content,
    .banner-carousel-menu-content,
    .banner-carousel-details {
        visibility: visible;
    }
}
