.breadcrumb-container {
    margin: 1.5rem 0;

    @include media-breakpoint-down(lg) {
        margin: 0.9375rem 0;

        .breadcrumb-item {
            &:last-child {
                font-weight: $font-weight-extra-bold;
            }
        }
    }

    .breadcrumb {
        background: none;
        margin: 0 auto;

        .breadcrumb-item {
            font-size: $font-size-base;
            font-family: $font-family-base;
            text-transform: uppercase;

            &:not(:first-child) {
                &::before {
                    content: "/";
                }
            }

            &:not(:last-child) {
                a {
                    color: $grey5;
                    text-decoration: underline;

                    @include media-breakpoint-down(sm) {
                        font-weight: $font-weight-semi-bold;
                        color: $black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.clp-breadcrumb {
    .breadcrumb {
        max-width: $banner-max-width;

        li:first-child {
            margin-left: 5%;
        }
    }
}
