$receipt-font-size: 0.875rem;
$receipt-spacing: 0.625em;

.grand-total {
    position: relative;
    font-size: 1.125rem;
    font-weight: $font-weight-semi-bold;
    padding-top: 1rem;
    margin-top: 0.5rem;

    @include media-breakpoint-down(sm) {
        font-size: $font-size-2;
        padding: 0;
        margin: 0;
    }

    &::before {
        content: '';
        border-top: 0.0625rem solid $grey3;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        @include media-breakpoint-down(sm) {
            border: none;
        }
    }
}

.vat-label {
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(xl) {
        display: block;
        font-size: $font-size--2;
        font-weight: $font-weight-normal;
        white-space: normal;
    }
}

.terms-and-conditions-warning {
    font-size: $font-size--5;
    font-weight: $font-weight-semi-bold;
    text-align: center;
    margin-top: 0.5rem;
    display: none;

    .link {
        font-size: $font-size--5 !important;
        font-weight: $font-weight-bold !important;
    }
}

.order-receipt-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        font-size: $font-size-2;
    }
}

.product-line-item + .product-line-item::before,
.multi-shipping + .product-line-item::before {
    content: "";
    display: block;
    border-bottom: 0.063em dashed $horizontal-rule-grey;
    margin: $receipt-spacing -0.625em;

    @include media-breakpoint-up(lg) {
        margin: $receipt-spacing -1.225em;
    }
}

.shipment-block + .shipment-block::before {
    content: "";
    display: block;
    border-bottom: 0.063em dashed $horizontal-rule-grey;
    margin: $receipt-spacing -0.625em;

    @include media-breakpoint-up(lg) {
        margin: $receipt-spacing -1.225em;
    }
}

.shipping-method {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-summary-block {
    margin: 0;
    @include media-breakpoint-up(md) {
        border-bottom: 0.0625rem solid $grey3;
    }
}

.order-detail-header {
    font-size: $font-size-base !important;
    font-weight: $font-weight-semi-bold !important;

    .confirmation-item-title {
        font-size: $font-size-base !important;
        font-weight: $font-weight-semi-bold !important;
    }
}

.order-detail-section {
    padding: 0 1rem;

    .confirmation-items-header {
        display: none;
    }

    .confirmation-item {
        @include media-breakpoint-up(md) {
            width: 100%;
        }
    }

    .confirmation-item-description {
        width: calc(100% - 7.625rem);
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 83%;
        }
    }

    .confirmation-item-details-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .confirmation-item-name > a {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
    }

    .confirmation-item-image {
        max-width: 6.25rem;
        margin-right: 0.75rem;

        img {
            width: 100%;
        }
    }

    .confirmation-item-name {
        width: 60%;

        > p {
            margin-bottom: 0;
        }
    }

    .confirmation-item-quantity {
        width: 15%;
        text-align: center;
        justify-content: center;
    }
}

.summary-details {
    font-size: $font-size--1;
}

.payment-information {
    @include media-breakpoint-up(sm) {
        margin-bottom: 1.0625rem;
    }
}

.checkout-hidden {
    display: none;
}

.user-payment-instruments {
    &.checkout-hidden {
        display: block !important;

        .radio-button-link.selected-payment i {
            border-color: $grey3 !important;
        }

        .radio-button-link.selected-payment i::after {
            display: none !important;
        }

        .stored-payments + .radio-button-link i {
            border-color: $secondary !important;
        }

        .stored-payments + .radio-button-link i::after {
            display: block !important;
        }
    }
}

.security-code-input {
    position: relative;

    .saved-payment-security-code {
        &::placeholder {
            color: $secondary;
        }
    }

    .form-control {
        @include media-breakpoint-up(md) {
            max-width: 6.5rem;
            padding-right: 1rem;
        }
    }

    .info-icon {
        position: absolute;
        right: 0.4rem;
        top: 0.4rem;

        i::before {
            color: $grey3;
            font-size: 1rem;
        }
    }
}

.card-image {
    width: 100%;
    width: 2.5rem;
    min-width: 2.5rem;
}

.cancel-new-payment {
    margin-top: 1rem;
}

.multi-ship .single-shipping .shipping-content {
    display: none;
}

.multi-ship .shipping-summary .single-shipping {
    display: none;
}

.gift-message-block {
    padding-bottom: 1em;
    padding-top: 1em;
}

.single-shipping .summary-section-label {
    margin-bottom: 0;
}

.confirm-details .shipping-method,
.confirm-details .shipping-method-price {
    margin-bottom: 0;
}

.multi-ship .confirm-details .single-shipping {
    display: none;
}

.multi-shipping {
    display: none;
}
