.main-menu-banner-container {
    width: 227px;
    overflow: hidden;
    white-space: normal;
    text-align: center;

    &:hover {
        text-decoration: none;
    }
}

.main-menu-banner-image {
    display: block;
    width: 100%;
}

.main-menu-banner-title {
    font-size: $font-size-4;
    font-weight: $font-weight-medium;
    display: block;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.main-menu-banner-text {
    font-size: $font-size-base;
    display: block;
    padding: 0 0.5rem;
    text-transform: none;
}
