.main-menu {
    text-transform: uppercase;

    > .container {
        margin-bottom: 0;

        @include media-breakpoint-down(lg) {
            background-color: $white;
            margin-left: 0;
        }
    }

    .navbar {
        padding: 0;

        @include media-breakpoint-down(lg) {
            position: fixed;
            left: 0;
            top: 2rem;
            bottom: 0;
            padding: 0.75rem;
            background-color: $white;
            width: calc(100% - 4.875rem);
            overflow: auto;
        }
    }

    .navbar-nav {
        justify-content: flex-start;
    }

    .nav-link {
        color: $white;
        font-size: $font-size-base;
        font-weight: $font-weight-semi-bold;
        line-height: 1.35;
    }

    .menu-group {
        flex: 0 0 100%;
        margin-bottom: auto;

        &.bottom-menu-group {
            margin-top: auto;
            margin-bottom: 0;

            .navbar-quick-menu {
                .nav-link {
                    border-bottom: none;
                    @include media-breakpoint-down(xs) {
                        font-size: $font-size--1;
                        padding: 0.3125rem;
                    }
                }
            }
        }

        .nav-link-icon {
            margin-right: 0.7rem;
        }

        .link {
            font-size: $font-size--3 !important;
            font-weight: $font-weight-bold !important;
            text-transform: none;
        }

        .nav-link {
            display: flex;
            align-items: center;
            position: relative;

            .icon-home {
                margin: 0.175rem 0.7rem 0 0;

                @include ipad() {
                    margin: 0.375rem 0.7rem 0 0;
                }
            }

            .caret-up {
                transform: rotate(180deg);
            }

            .icon-caret,
            .icon-caret.caret-up {
                &::before,
                &::after {
                    margin: -0.0625rem 0 0 -0.4375rem;
                    width: 0.875rem;
                    height: 0.125rem;
                }
            }

            .icon-caret.caret-up {
                display: none;
            }
        }
    }

    .nav-item > .dropdown-menu {
        border-radius: 0;
        margin: 0;

        @include media-breakpoint-down(lg) {
            > div {
                max-width: 100%;
            }
        }

        @include media-breakpoint-up(xl) {
            border: 0.0625rem solid rgba($black, 0.15);
        }

        > ul > .dropdown-item {
            > .dropdown-menu {
                .dropdown-item {
                    .dropdown-link {
                        text-transform: none;
                    }
                }
            }
        }

        .dropdown-menu,
        .dropdown-menu > ul {
            flex-direction: column;
        }
    }

    .show {
        > .expanded {
            .icon-caret {
                display: none;
            }

            .icon-caret.caret-up {
                display: block;
            }
        }
    }

    .dropdown-item {
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: transparent;
            color: $primary;
        }
    }

    .dropdown-item a {
        color: $black !important;

        &:hover {
            color: $primary !important;
        }
    }
}

@include media-breakpoint-down(lg) {
    .main-menu {
        position: fixed;
        left: 0;
        top: 2rem !important;
        background-color: rgba($secondary, 0.4);
        display: none;
        overflow: auto;
        bottom: 0;
        width: 100%;
        z-index: 4;

        .menu-group {
            margin-top: 0.175rem;

            .menu-header {
                display: flex;
                padding: 0.4375rem 0;

                .navbar-toggler {
                    color: $secondary;
                    padding: 0;

                    i::before {
                        margin: 0;
                    }
                }

                .user-actions {
                    text-transform: none;
                    text-decoration: underline;

                    .user a {
                        font-weight: $font-weight-semi-bold;
                        color: $boulder;
                        border-bottom: none;
                        padding: 0 1rem;

                        &.user-login {
                            border-right: 0.0625rem solid $dove-gray;
                        }
                    }
                }
            }

            .nav-link {
                border-bottom: 0.0625rem solid $grey3;
                color: $secondary;
                padding: 1.15rem 0 1.1rem;

                &::after {
                    display: none;
                }

                &:focus {
                    outline: none !important;
                }

                .icon-caret,
                .icon-caret.caret-up {
                    margin-left: auto;
                    margin-right: 0.3125rem;
                }
            }
        }

        .dropdown-menu {
            border: 0;
            border-radius: 0;
            margin: 0;
            padding: 0;

            ul {
                max-width: 100% !important;
            }
        }

        .show {
            > .dropdown-menu {
                display: block;

                @include media-breakpoint-down(xl) {
                    width: 100%;
                }
            }
        }

        .dropdown-item {
            padding: 0;

            .nav-link {
                padding-left: 1rem;
            }

            > .dropdown-menu > ul > .dropdown-item > .nav-link {
                padding-left: 4rem;

                + .dropdown-menu > ul > .dropdown-item > .nav-link {
                    padding-left: 5rem;

                    + .dropdown-menu > ul > .dropdown-item > .nav-link {
                        padding-left: 6rem;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .main-menu {
        display: block !important;
        top: 0 !important;
        transition: padding-top $animation-duration;
        border-bottom: 0.0625rem solid $grey8;

        .menu-group {
            .nav-link {
                padding: 0.375rem 0;
                transition: padding-top $animation-duration, padding-bottom $animation-duration;
                font-weight: $font-weight-extra-bold;

                &::before,
                &::after {
                    display: none;
                    position: absolute;
                }
            }

            .dropdown-item {
                white-space: normal;

                @include media-breakpoint-up(lg) {
                    width: 15rem;
                    padding: 1.25rem 0;
                }
            }
        }

        .nav-item > .nav-link {
            padding-left: 1.2rem;
            padding-right: 1.2rem;
        }

        .nav-item > .nav-link.current:not(.active) {
            &::after {
                display: none;
            }
        }

        .nav-item > .nav-link.current,
        .nav-item > .nav-link.active,
        .nav-item > .nav-link:focus,
        .nav-item:not(.dropdown) > .nav-link:hover {
            color: $menu-link;
        }

        .nav-cat-level-0 {
            border: 0;
            border-top: 0.5rem solid transparent;
            border-bottom: 0 solid $grey3;
            border-radius: 0;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0;
            top: 1.62rem #{"/*rtl:1.8rem*/"};
            overflow-y: auto;
            padding-top: 2rem;
            padding-bottom: 0;

            ul.container {
                background-color: $white;
                display: flex;
                flex-wrap: wrap;
            }

            > ul > .dropdown-item {
                padding: 0.25rem 0.75rem 2.5rem;
                max-width: 10.5rem;
                flex: 1 0 auto;

                > .nav-link-only-name,
                > .nav-link-with-thumbnail.dropdown-toggle {
                    font-size: $font-size-base;
                    margin-bottom: 0.75rem;
                    padding: 0.6rem 0.5rem !important;
                    justify-content: center;
                    align-items: center;
                }

                > .nav-link-with-thumbnail {
                    &:not(.dropdown-toggle) {
                        flex-direction: column;
                        font-size: $font-size--1;
                        padding: 0;
                        margin: 0;

                        > img {
                            width: 100%;
                        }
                    }

                    &.dropdown-toggle {
                        justify-content: flex-start;

                        > img {
                            margin-right: 0.75rem;
                            margin-left: -0.5rem;
                            max-width: 5.25rem;
                        }
                    }
                }
            }

            .dropdown-menu {
                border: 0;
                display: flex;
                flex-direction: column;
                position: relative;
            }
        }

        .nav-cat-level-1 {
            ul {
                display: flex;
                flex-flow: row wrap;
                float: left;
                width: calc(100% - 40rem);
            }

            .category-banner-image {
                width: 20rem;
                float: right;

                img {
                    width: 100%;
                }
            }

            .nav-link-only-name,
            .nav-link-with-count {
                display: inline-block;
                font-size: $font-size-base;
                font-weight: $font-weight-semi-bold;
                padding-top: 0;
                padding-bottom: 0;
            }

            .nav-link-with-thumbnail.nav-link-with-count {
                text-transform: uppercase !important;
                margin-left: -1.5rem;
                margin-right: -1.5rem;

                > img {
                    margin-right: 0.75rem;
                    max-width: 5.25rem;
                }
            }
        }

        .product-tile {
            .tile-body {
                padding-bottom: 0;
                white-space: normal;
            }

            .price-container,
            .badges-container,
            .ratings-container {
                height: auto;
            }

            .name-container {
                height: 2rem;
            }

            .price-container {
                margin-bottom: 0.6rem;
            }

            .badges-container {
                margin-bottom: 0.85rem;
            }

            .ratings-container {
                margin-bottom: 1.1rem;
            }

            .image-container {
                .tile-image {
                    max-height: 12.875rem;
                    width: auto;
                }
            }
        }
    }
}

.navbar-quick-menu {
    color: $black;
    display: flex;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0.6875rem 0;
    width: 100%;
    text-align: center;
    margin-top: auto;

    .nav-item {
        flex: 1 0 0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

        &:not(:last-child) {
            border-right: 0.0625rem solid $dove-gray;
        }
    }

    .nav-link {
        align-items: center;
        color: $secondary;
        display: flex;
        font-size: $font-size-2;
        padding: 0 0.3125rem;
        text-transform: none;

        > i {
            display: block;

            @include media-breakpoint-up(xs) {
                padding-right: 0.5625rem;
            }

            &::before {
                font-size: $font-size-8;

                @include media-breakpoint-down(xs) {
                    font-size: $font-size-4;
                }
            }
        }
    }
}
