.rating-stars {
    .icon-star::before,
    .icon-star-half::before,
    .icon-star-empty::before,
    .icon-star-half-outline::before {
        color: $mustard;
        font-size: $font-size--2;
    }
}
