.review-summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 1.375rem;
    }
}

.review-stats {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
        border-right: 0.0625rem solid rgba($dove-gray, 0.3);
        padding-right: 3rem;
    }

    .rating-stars {
        margin-bottom: 0.875rem;

        .icon-star::before,
        .icon-star-empty::before,
        .icon-star-half-outline::after,
        .icon-star-half-outline::before {
            font-size: $font-size-2;

            @include media-breakpoint-up(xl) {
                font-size: $font-size-2;
            }
        }

        .icon-star-half-outline::after {
            top: auto;
        }
    }

    .review-stats-rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;

        @include media-breakpoint-up(xl) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    h4 {
        font-size: $font-size-1;
        font-weight: $font-weight-light;
        margin-right: 0.875rem;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-5;
            margin-right: 0;
        }
    }

    > ul {
        display: flex;
        font-size: $font-size--3;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0 1rem;
            position: relative;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0.0625rem;
                bottom: 0.0625rem;
                border-right: 0.0625rem solid rgba($dove-gray, 0.5);
            }
        }
    }
}

.review-rating-stats {
    padding-left: 3.375rem;

    > ul {
        font-size: $font-size--3;
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
            display: flex;
            align-items: center;
        }
    }

    .rating-point {
        font-weight: $font-weight-medium;
    }

    .rating-point,
    .icon-star {
        margin-right: 0.25rem;
    }

    .rating-point,
    .rating-count,
    .icon-star::before {
        font-size: $font-size-2;
    }
}

.review-rating-stats-bar {
    background-color: rgba($secondary, 0.2);
    position: relative;
    margin-right: 0.5rem;
    width: 12.5rem;
    height: 0.125rem;

    > span {
        background-color: $secondary;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

.review-actions {
    .btn {
        font-size: $font-size-2;
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 14.6875rem;
        }

        @include media-breakpoint-up(xl) {
            width: 12.5rem;
        }
    }
}

.review-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    @include media-breakpoint-up(xl) {
        margin-bottom: 1.25rem;
    }

    .col-form-label {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        margin-right: 0.875rem;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .custom-select,
    .bootstrap-select.custom-select {
        border-color: $grey3;
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        height: calc(2rem + 1px) !important;
        width: 9.75rem !important;

        .custom-select {
            width: 0.03125rem !important;
        }

        .dropdown-toggle {
            border-color: transparent;
        }

        .dropdown-toggle,
        .dropdown-item {
            font-size: $font-size--2;
            font-weight: $font-weight-medium;
        }

        .dropdown-item {
            padding: 0.5rem 0.75rem;
        }
    }
}

.review-list {
    > .row > div {
        display: flex;
    }

    .review-item {
        width: 100%;
    }
}

.review-item {
    position: relative;
    background-color: $alabaster;
    padding: 1.5rem;
    margin-bottom: 1rem;

    .review-date {
        color: $boulder;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;

        @include media-breakpoint-down(lg) {
            font-size: $font-size--2;
            top: 1.8rem;
        }
    }

    .reviewer-name {
        font-size: $font-size-2;
        font-weight: $font-weight-semi-bold;
        margin-bottom: 0.25rem;
    }

    .reviewer-country {
        color: $grey3;
        font-size: $font-size--3;
        margin-bottom: 1.125rem;
        text-transform: uppercase;
    }

    .review-rating-stars {
        margin-bottom: 0.75rem;
        margin-top: 0.5rem;

        .icon-star::before,
        .icon-star-empty::before,
        .icon-star-half-outline::after,
        .icon-star-half-outline::before {
            font-size: $font-size-2;
        }

        .icon-star-half-outline::after {
            top: auto;
        }
    }

    .review-title {
        font-size: $font-size-2;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
    }

    .review-content {
        margin-bottom: 0.75rem;

        @include media-breakpoint-down(lg) {
            font-size: $font-size--2;
            line-height: 1.25rem;
        }
    }

    .btn-link-with-icon {
        font-size: $font-size--3;
        font-weight: $font-weight-semi-bold;
        margin-bottom: 1.375rem;

        > i {
            min-width: 1.2rem;
        }

        > span {
            position: relative;
            top: 0.0625rem;
        }
    }

    .review-feedback {
        font-size: $font-size--2;
        font-weight: $font-weight-light;
        margin-bottom: 0.5rem;
    }

    .review-feedback-buttons {
        display: flex;

        .btn {
            font-size: $font-size--3;
            font-weight: $font-weight-bold;
            padding: 0.25rem 0.5rem;
            margin-right: 1.25rem;
            min-width: 0;
        }
    }
}

.review-form {
    .rating-stars {
        .icon-star::before,
        .icon-star-empty::before,
        .icon-star-half-outline::after,
        .icon-star-half-outline::before {
            font-size: $font-size-2;

            @include media-breakpoint-up(xl) {
                font-size: $font-size-2;
            }
        }

        .icon-star-half-outline::after {
            top: auto;
        }

        i {
            cursor: pointer;
        }
    }

    .review-feedback-buttons {
        display: flex;

        .btn {
            margin-top: 0.8125rem;
        }

        .btn:first-child {
            margin-right: 0.6rem;
        }

        .btn:last-child {
            margin-left: 0.6rem;
        }
    }

    .btn-submit {
        margin-top: 0 !important;
        margin-bottom: 1.875rem;
    }
}

.close-review-form {
    position: absolute;
    background: transparent;
    border: none;
    right: 0.413rem;
    padding: 0.3125rem 0.8125rem;
    line-height: 1;

    i {
        &::before,
        &::after {
            margin: -0.0625rem 0 0 -1.08125rem;
        }
    }
}

.write-review {
    .container-title {
        @include media-breakpoint-only(xs) {
            text-align: left;
            font-family: $font-family-base;
            font-size: $font-size-2;
            text-transform: uppercase;
            font-weight: $font-weight-bold;

            &::after {
                display: none;
            }
        }
    }
}
