@import "bootstrap/scss/functions";
@import "../js/config/breakpoints.json";

// font-awesome font file locations in relation to target location of the css file.
$fa-font-path: "../fonts" !default;

// flag icons location in relation to target location of the css file.
$flag-icon-css-path: "../fonts/flags/" !default;

$primary: #000 !default;
$primary-hover: #b8b7b6 !default;
$secondary: #001022 !default;
$secondary-hover: #36495e !default;
$tertiary: #efefef !default;
$tertiary-hover: #f4f3f3 !default;
$white: #fff !default;
$black: #000 !default;
$blue: #0070d2 !default;
$green: #008827 !default;
$red: #c00 !default;
$lonestar: #6a0000 !default;
$success: $green !default;
$light-blue: #7ed0ee !default;
$gallery-gray: #ecebeb !default;
$dove-gray: #717171 !default;
$dove-gray-secondary: #727272 !default;
$alto: #d1d1d1 !default;
$oslo-gray: #7f8993 !default;
$alabaster: #f8f8f8 !default;
$tamarillo: #a81717 !default;
$gallery: #eaeaea !default;
$japaneseLaurel: #03620a !default;
$tabasco: #af1212 !default;
$carouselPink: #fdf5f6 !default;
$midnight: #01172d !default;
$mosaic-bg: #f6f6f6 !default; //mosaic description bg
$info-text: #636363 !default; //info block
$product-tile: #fafafa !default; //profuct tile bg
$pdp-section: #f7f7f7 !default; //profuct section bg
$dark-grey: #757575 !default; //badges color
$light-grey: #e5e5e5 !default;
$very-light-grey: #f2f2f2 !default;
$cali-grey-light: #dbdbda;
$cali-grey-dark: #898989;
$shiraz: #c30932 !default;
$danger: $shiraz !default;
$tide: #b8b7b6 !default;
$target-border: #d3d3d3 !default;
$target-shadow: #f0f0f0 !default;
$target-shadow2: #bbb !default;
$border-btn-color: #1b0c0c !default;
$checkout-btn: #231161 !default;
$menu-arrow: #8d8d8d !default;
$carousel-arrow: #191919 !default;

// Consolidated values
$grey1: #f9f9f9 !default;
$grey2: #eee !default;
$grey3: #b8b7b6 !default;
$grey4: #999 !default;
$grey5: #666 !default;
$grey6: #444 !default;
$grey7: #222 !default;
$grey8: #333 !default;
$grey9: #707070 !default;
$grey10: #f5f5f5 !default;
$grey11: #7e7e7e !default;
$grey12: #3d4246 !default;
$grey13: #ccc !default;
$grey14: #69727b !default;
$grey15: #e8e9eb !default;
$grey-transparent-1: rgba(0, 0, 0, 0.65) !default;
$grey-transparent-2: rgba(0, 0, 0, 0.25) !default;

$light-gray: $grey1 !default;
$slightly-darker-gray: $grey4 !default;
$dark-gray: $grey6 !default;
$darker-gray: $grey7 !default;
$horizontal-rule-grey: $grey3 !default;
$product-number-grey: $grey3 !default;
$horizontal-border-grey: $grey4 !default;
$menu-link: $secondary !default;
$close-menu-bg: $grey2 !default;
$link-color: $secondary !default;
$hr-border-color: $grey3 !default;
$input-placeholder-color: $grey-transparent-1 !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 760px,
    lg: 1025px,
    xl: 1450px
) !default;

$container-max-widths: (
    md: 735px,
    lg: 970px,
    xl: 1270px,
    xxl: 1430px,
) !default;

$border-radius: 0.1875rem !default;
$border-radius-lg: $border-radius !default;
$border-radius-sm: $border-radius !default;
$border-color: $grey3;

$state-danger-text: $white !default;
$alert-success-text: $white !default;

// Animations
$animation-duration: 0.3s !default;
$animation-default: all $animation-duration ease !default;

// Font
$font-family-base: Futura, 'Futura', 'Century Gothic', 'CenturyGothic', Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$font-family-secondary: 'FuturaDem', 'Century Gothic', 'CenturyGothic', Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$font-family-tertiary: Futura-Lig, 'FuturaLig', 'Century Gothic', CenturyGothic, Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$font-family-books: 'FuturaBook', 'Century Gothic', 'CenturyGothic', Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-extra-bold: 800 !default;

$font-size-base: 0.875rem !default; //14

$font-size--1: ($font-size-base - 0.0625) !default; //13
$font-size--2: ($font-size-base - 0.125) !default; //12
$font-size--3: ($font-size-base - 0.1875) !default; //11
$font-size--4: ($font-size-base - 0.25) !default; //10
$font-size--5: ($font-size-base - 0.3125) !default; //9
$font-size--6: ($font-size-base - 0.375) !default; //8
$font-size--7: ($font-size-base - 0.4375) !default; //7
$font-size--8: ($font-size-base - 0.09375) !default; //12.5

$font-size-1: ($font-size-base + 0.0625) !default; //15
$font-size-2: ($font-size-base + 0.125) !default; //16
$font-size-3: ($font-size-base + 0.1875) !default; //17
$font-size-4: ($font-size-base + 0.25) !default; //18
$font-size-5: ($font-size-base + 0.3125) !default; //19
$font-size-6: ($font-size-base + 0.375) !default; //20
$font-size-7: ($font-size-base + 0.4375) !default; //21
$font-size-8: ($font-size-base + 0.5) !default; //22
$font-size-9: ($font-size-base + 0.5625) !default; //23
$font-size-10: ($font-size-base + 0.625) !default; //24
$font-size-11: ($font-size-base + 0.6875) !default; //25
$font-size-12: ($font-size-base + 0.75) !default; //26
$font-size-14: ($font-size-base + 0.875) !default; //28
$font-size-16: ($font-size-base + 1) !default; //30
$font-size-18: ($font-size-base + 1.125) !default; //32
$font-size-21: ($font-size-base + 1.3125) !default; //35
$font-size-24: ($font-size-base + 1.5) !default; //38
$font-size-26: ($font-size-base + 1.625rem) !default; //40
$font-size-27: ($font-size-base + 1.6875) !default; //41
$font-size-36: ($font-size-base + 2.25) !default; //50

// Line height
$font-lh: 1 !default;
$font-lh--1: 1.2 !default;
$font-lh--2: 1.4 !default;
$font-lh--3: 1.6 !default;
$font-lh--4: 1.8 !default;
$font-lh--5: 2.14 !default;
$font-lh--6: 1.5 !default;
$font-lh--7: 1.43 !default;
$font-lh--8: 1.22 !default;
$font-lh--9: 1.7 !default;
$font-lh--10: 1.35 !default;
$font-lh-4: 4 !default;

// Letter spacing
$font-ls--1: 0.05em !default;
$font-ls-1: 0.05625rem !default;
$font-ls-2: 0.0625rem !default; //1
$font-ls-3: 0.1em !default;
$font-ls-4: 0.01rem !default;
$font-ls-5: 0.00875rem !default; //0.14
$font-ls-6: 0.0075rem !default; //0.12
$font-ls-7: 0.04375rem !default;
$font-ls-8: 0.04em !default;
$font-ls-9: 0.07em !default;
$font-ls-10: 0.06em !default;
$font-ls-11: 0.05em !default;
$font-ls-12: 0.010625rem !default; //0.17
$font-ls-13: 0.013125rem !default; //0.21
$font-ls-14: 0.1em !default;
$font-ls-15: 0.1rem !default; //1.6
$font-ls-16: 0.05rem !default; //0.8
$font-ls-17: 0.08em !default;
$font-ls-18: 0.015625rem !default; //0.25
$font-ls-19: 0.07rem !default; //1.12
$font-ls-20: 0.04rem !default; //0.64

// Bootstrap overrides
$body-bg: $white !default;
$body-color: $secondary !default;
$card-cap-bg: $white !default;
$alert-border-radius: 0 !default;
$alert-link-font-weight: $font-weight-medium !default;

// Tabs
$nav-tabs-border-width: 0 !default;
$nav-tabs-border-radius: 0 !default;
$nav-tabs-active-link-hover-bg: transparent !default;

// Breadcrumb
$breadcrumb-padding-y: 0.1875rem !default;
$breadcrumb-padding-x: 1rem !default;
$breadcrumb-item-padding: 0.4rem !default;
$breadcrumb-text-color: #6c6c6c !default;
$breadcrumb-bg: #ececec !default;
$breadcrumb-font-size: $font-size--5 !default;
$breadcrumb-font-weight: $font-weight-medium !default;
$breadcrumb-text-transform: uppercase !default;
$breadcrumb-divider-font-size: inherit !default;
$breadcrumb-divider-line-height: 1.25 !default;
$breadcrumb-divider-color: $breadcrumb-text-color !default;
$breadcrumb-active-color: $breadcrumb-text-color !default;
$breadcrumb-divider: quote(">") !default;
$breadcrumb-min-visible-breakpoint: xl;

// Table border
$table-border-color: $grey3 !default;

// Forms
$form-group-margin-bottom: 1.0625rem !default;
$input-padding-y: 0.5315rem !default;
$input-height: auto !default;
$input-focus-box-shadow: 'none' !default;
$input-border-radius: 0 !default;
$input-border-color: $grey3 !default;

$custom-select-padding-y: $input-padding-y !default;
$custom-select-height: $input-height !default;
$custom-select-indicator-color: $secondary !default;
$custom-select-indicator: str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.7 8.647'%3e%3cpath transform='translate(15.7) rotate(90)' fill='#{$custom-select-indicator-color}' d='M0,.952.932,0,8.647,7.85.932,15.7,0,14.753l6.778-6.9Z'/%3e%3c/svg%3e"), "#", "%23") !default;

$svg-check: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") !default;
$form-feedback-icon-invalid: "";

// Tooltip
$tooltip-border-radius: 0 !default;
$tooltip-bg: $secondary !default;

// Buttons
$btn-border-radius: 0 !default;

// Slick Carousel
$slick-font-path: '/node_modules/slick-carousel/slick/fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: '/node_modules/slick-carousel/slick-carousel/slick/' !default;
$slick-arrow-color: $black !default;
$slick-arrow-left: url('../images/arrow_left_black.svg') !default;
$slick-arrow-right: url('../images/arrow_right_black.svg') !default;

// Banners
$banner-max-width: 75rem !default;

// Links
$emphasized-link-hover-darken-percentage: 0% !default;

// Color Swatches
$swatch-size: 1.5rem;
$swatch-border-color: rgba($black, 0.3);

// Modal
$modal-inner-padding: 2.4375rem !default;
$modal-dialog-margin-y-sm-up: 12rem !default;
$modal-title-line-height: 1.2 !default;

$modal-content-border-width: 0 !default;
$modal-content-border-radius: 0 !default;

$modal-backdrop-bg: $alto !default;
$modal-backdrop-opacity: 0.7 !default;
$modal-header-border-color: $white !default;
$modal-header-padding-y: 1rem !default;
$modal-header-padding-x: $modal-inner-padding !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-xl: 1140px !default;
$modal-lg: 800px !default;
$modal-md: 460px !default;
$modal-sm: 300px !default;

//OOB Spacings
$oob-spacing: -6.625rem;
