@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.dashboard-menu {
    position: relative;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            font-size: $font-size-base;
            margin-bottom: 2rem;
            text-align: center;

            @include media-breakpoint-up(md) {
                font-size: $font-size-2;
            }

            @include media-breakpoint-up(xl) {
                font-size: $font-size-4;
            }

            a {
                text-transform: uppercase;
                letter-spacing: $font-ls-8;
                padding-right: 1.5rem;
                background: transparent url(../images/arrow_right_dimgray.svg) no-repeat 100% center;
                background-size: 0.9rem 0.9rem;
                color: $grey9;

                @include media-breakpoint-up(md) {
                    background-image: none;
                    padding-right: 0;
                }
            }

            &.active {
                a {
                    font-family: $font-family-secondary;
                    color: $black !important;
                }
            }
        }
    }

    .dashboard-menu-horizontal & {
        margin-bottom: 4rem;

        ul {
            text-align: center;

            @include media-breakpoint-up(md) {
                display: flex;
                justify-content: center;
            }

            li {
                @include media-breakpoint-up(md) {
                    margin: 0 0.4rem;
                    display: inline-block;
                    border-bottom: solid 1px $black;
                    min-width: 10rem;
                }

                @include media-breakpoint-up(md) {
                    margin: 0 0.5rem;
                    font-size: $font-size--1;
                }

                @include media-breakpoint-up(lg) {
                    font-size: $font-size-base;
                }

                @include media-breakpoint-up(xl) {
                    font-size: $font-size-2;
                }

                a {
                    padding: 0 1rem;

                    @include media-breakpoint-up(md) {
                        display: block;
                    }

                    &:hover {
                        font-family: $font-family-secondary;
                        color: $black;
                    }
                }
            }
        }
    }
}

.dashboard-content {
    position: relative;

    @include media-breakpoint-up(md) {
        padding-left: 0.5rem;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 2.75rem;
    }

    hr {
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
    }

    input[type="checkbox"] + .form-control-label {
        font-size: $font-size--2;
        font-weight: $font-weight-light;
    }
}

.dashboard-row-header {
    font-family: $font-family-base;
    font-size: $font-size-4;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
}

.dashboard-wishlist-item {
    font-size: $font-size--3;

    .sales .value {
        font-size: $font-size--1;
    }
}

.product-attribute-list {
    font-weight: $font-weight-medium;
    display: flex;
    flex-wrap: wrap;

    span {
        position: relative;
        font-weight: $font-weight-medium;
    }

    span:not(:last-child) {
        margin-right: 1.2rem;

        &::after {
            content: '';
            border-right: 0.0625rem solid $secondary;
            position: absolute;
            right: -0.6rem;
            top: 0.125rem;
            bottom: 0.125rem;
        }
    }
}

.btn-group-actions {
    .btn {
        font-size: $font-size-1;
        margin-bottom: 1rem;
    }
}

.show-no-records {
    .btn-group-actions {
        justify-content: center;
    }
}

.show-no-payment-methods {
    .no-payment-methods-container {
        display: block !important;
    }

    .dashboard-title-link {
        display: none;
    }
}

.my-account-header {
    text-align: center;
    font-family: $font-family-base;
    margin-top: 1rem;

    .my-account-title {
        font-size: $font-size-18;
        letter-spacing: $font-ls-11;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: $font-size-24;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-36;
        }
    }

    .my-account-subtitle {
        font-family: $font-family-secondary;
        letter-spacing: $font-ls-8;
        font-size: $font-size-4;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size-6;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-8;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
        }
    }

    .my-account-description {
        font-size: $font-size--1;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }
    }
}

.my-account-breadcrumbs {
    .breadcrumb-item {
        + .breadcrumb-item {
            &::before {
                margin-top: 0.1875rem;
            }
        }
    }

    .breadcrumb-link {
        color: $grey9;
        font-family: $font-family-tertiary;

        &:hover {
            color: $primary;
        }
    }

    .breadcrumb-item-last,
    .breadcrumb-go-back {
        color: $primary;
        font-family: $font-family-tertiary;
    }
}

.profile-address-item,
.profile-address-link {
    font-size: $font-size-base;
    font-family: $font-family-base;
    color: $primary;
    letter-spacing: $font-ls-4;
    text-transform: uppercase;

    /* rtl:raw:
        text-align: right;
    */

    @include media-breakpoint-up(md) {
        font-size: $font-size--2;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size--1;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-1;
    }
}

.profile-address-item {
    position: relative;
    margin-bottom: 1.5625rem;

    &::after {
        position: absolute;
        content: '';
        left: 0.9375rem;
        right: 0.9375rem;
        bottom: 0;
        border-bottom: 0.0625rem solid $tide;
    }

    .radio-button-link {
        margin-bottom: 1.25rem;

        > i {
            border: 0.0625rem solid $primary-hover;
            background: $white;
            position: relative;
            width: 2.25rem;
            height: 2.25rem;
            min-width: 2.25rem;
            margin-right: 0.75rem;
            transition: all 0.2s;

            /* rtl:raw:
                margin-left: 0.75rem;
                margin-right: 0;
            */

            &::after {
                background-color: $secondary;
                position: absolute;
                top: 50%;
                left: 50%;
                right: auto;
                bottom: auto;
                width: 0.875rem;
                height: 0.875rem;
                margin: -0.4375rem 0 0 -0.4375rem;
            }
        }

        &:hover {
            > i {
                background-color: $grey10;
            }
        }
    }
}

.profile-address-link {
    position: relative;
    padding-right: 20px;
    text-decoration: none;
    color: $info-text;

    @include media-breakpoint-up(md) {
        font-size: $font-size-base;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-2;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-4;
    }

    &:hover {
        color: $tide;
    }

    &::after {
        content: " ";
        position: absolute;
        width: 1rem;
        height: 1.3rem;
        background: transparent url(../images/arrow_left_black.svg) no-repeat center center;
        right: 0;
        top: 0;
        background-size: 0.7rem;
        transform: rotate(180deg);

        /* rtl:raw:
            transform: rotate(0deg);
        */
    }
}
