@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.contact-us-form {
    width: 100%;

    @include media-breakpoint-down(sm) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    @include media-breakpoint-up(md) {
        width: 36rem;
    }

    @include media-breakpoint-up(lg) {
        width: 44.5rem;
    }

    @include media-breakpoint-up(xl) {
        width: 51.875rem;
    }

    .form-control-label {
        font-size: $font-size-base;
        font-weight: $font-weight-semi-bold;
    }
}

.contact-us-info {
    text-align: center;
    font-family: $font-family-base;
    color: $info-text;
    width: 50%;
    margin: 0 auto;
    font-size: $font-size--8;
    margin-top: 1rem;
    margin-bottom: 3rem;

    p {
        margin: 0;
    }

    @include media-breakpoint-up(md) {
        font-size: $font-size-2;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-4;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-6;
    }
}

.contact-us-content-block {
    padding-top: 2rem;
    border-bottom: 0.0625rem solid $border-color;

    @include media-breakpoint-up(md) {
        border-bottom: none;
        padding-bottom: 2rem;
        border-top: 0.0625rem solid $border-color;
    }
}

.contact-us-element {
    text-transform: uppercase;
    color: $primary;
    letter-spacing: $font-ls-14;
    line-height: $font-lh--1;

    @include media-breakpoint-down(md) {
        margin-bottom: 2rem;
    }

    > * {
        margin-bottom: 1.5rem;
    }

    .title {
        font-family: $font-family-secondary;
        font-size: $font-size-base;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }
    }

    .description {
        font-family: $font-family-base;
        font-size: $font-size-base;

        p {
            margin: 0 0 0.625rem;
        }

        @include media-breakpoint-up(md) {
            font-size: $font-size--2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
        }
    }

    .cta-button {
        font-family: $font-family-tertiary;
        letter-spacing: $font-ls-8;
        font-size: $font-size-base;

        a {
            text-decoration: none;
            color: $info-text;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-4;
        }
    }

    .cta-button-mail {
        text-decoration: underline;
    }

    .icon-svg-arrow-right-dimgray {
        display: inline-block;
        background-repeat: no-repeat;
        height: 0.875rem;
        margin-left: 0.5625rem;
        width: 0.875rem;

        @include media-breakpoint-up(md) {
            margin-left: 0.375rem;
        }
        @include media-breakpoint-up(lg) {
            height: 1rem;
            margin-left: 0.375rem;
            width: 1rem;
        }
        @include media-breakpoint-up(xl) {
            height: 1.125rem;
            margin-left: 0.5625rem;
            width: 1.125rem;
        }
    }
}
