@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import './utilities/swatch';
@import '~base/components/categoryTiles';

.wishlist-main {
    position: relative;
}

.wishlist-row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    .no-records-container {
        margin: 0 auto;
    }

    .wishlist-mobile-hr {
        display: none;
    }
}

.wishlist-product-col {
    width: 100%;
    position: relative;
    padding: 0.9375rem 0 1.875rem;

    &:not(:last-of-type) {
        border-bottom: 0.0625rem solid $primary-hover;
    }

    @include media-breakpoint-up(lg) {
        padding: 1.25rem 0 2.5rem;
    }

    @include media-breakpoint-up(lx) {
        padding: 1.5625rem 0 3.125rem;
    }
}

.wishlist-delete-from {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 1.875rem;

    @include media-breakpoint-up(lg) {
        bottom: 2.875rem;
    }

    @include media-breakpoint-up(lx) {
        bottom: 3.3125rem;
    }

    .remove-from-wishlist {
        margin: 0;
        border-bottom: solid 0.0625rem $primary-hover;
        border-top: solid 0.0625rem $primary-hover;
        padding: 0.3rem 0.4rem;

        @include media-breakpoint-up(lg) {
            padding: 0.5rem 0.6rem;
        }
    }

    .icon-svg-remove-trash {
        width: 0.8125rem;
        min-height: 0.8125rem;
        display: inline-block;
        min-width: auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

        @include media-breakpoint-up(lg) {
            width: 1rem;
            min-height: 1rem;
        }
    }
}

.wishlist-item {
    width: 100%;

    .product {
        padding: 0;
        height: auto;
        min-height: auto;
    }

    .product-tile {
        background: transparent;
        position: relative;
        display: block;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            display: flex;
        }

        .product-tile-link,
        .tile-promo-labels {
            display: none;
        }

        .name-container {
            max-width: 66%;
            margin-bottom: 0;
        }

        .price-container {
            height: auto;
            margin-bottom: 0.9375rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
                max-width: 33%;
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .image-container {
            margin-bottom: 1.5rem;
            background: transparent;
            max-width: 100%;

            @include media-breakpoint-up(md) {
                max-width: calc(100% / 3);
                margin-bottom: 0;
            }

            .tile-image {
                max-height: 29.6875rem;

                @include media-breakpoint-up(md) {
                    max-height: inherit;
                    min-height: 9.375rem;
                }
            }
        }

        .tile-body {
            max-width: 100%;
            padding: 0 0 0 0.9375rem;
            justify-content: start;
            height: auto;

            @include media-breakpoint-up(md) {
                max-width: calc(100% / 3 * 2);
            }

            .pdp-link,
            .pdp-link .link {
                font-family: $font-family-base;
                font-weight: $font-weight-medium;
                text-transform: uppercase;
                letter-spacing: $font-ls-11;
                line-height: $font-lh--1;
                font-size: $font-size--2;
                margin-bottom: 0.9375rem;

                @include media-breakpoint-up(md) {
                    font-size: $font-size-base;
                }

                @include media-breakpoint-up(lg) {
                    font-size: $font-size-2;
                }

                @include media-breakpoint-up(xl) {
                    font-size: $font-size-4;
                }
            }

            .pdp-link .link {
                margin-bottom: 0;
            }

            .btn-primary {
                width: 10.3125rem;

                @include media-breakpoint-up(md) {
                    position: absolute;
                    bottom: 0;
                }

                @include media-breakpoint-up(lg) {
                    width: 13.875rem;
                }
            }
        }
    }

    .image-container {
        min-height: auto !important;
        overflow: visible;

        .tile-image {
            width: auto !important;
            max-width: 100%;
            max-height: 11rem;

            @include media-breakpoint-down(md) {
                max-height: 7rem;
            }
        }
    }

    .tile-body {
        width: 100%;

        @include media-breakpoint-down(md) {
            width: 70%;
            float: left;
            padding-left: 2rem;
            padding-bottom: 0;

            .pdp-link {
                text-align: left;
            }
        }

        @include media-breakpoint-down(sm) {
            button {
                width: 100%;
            }
        }
    }
}
