@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.breadcrumb-container {
    display: none;

    @include media-breakpoint-up(xl) {
        display: block;
    }
}

.account-back {
    position: absolute;
    left: 1.5rem;
    top: 2rem;
    font-size: $font-size--1;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    @include media-breakpoint-up(md) {
        display: none;
    }

    i {
        &::before,
        &::after {
            width: 0.75rem;
        }
    }
}

.dashboard-menu {
    margin-bottom: 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;

    @include media-breakpoint-up(md) {
        border: 0.0625rem solid $border-color;
        margin-left: 0;
        margin-right: 0;
    }

    > a {
        border-top: 0.0625rem solid $border-color;
        border-bottom: 0.0625rem solid $border-color;
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        margin-bottom: -0.0625rem;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            border: 0;
            font-size: $font-size--3;
            padding: 0.5rem 0.875rem;
            margin-bottom: 0;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-base;
            padding: 0.875rem 1.25rem;
        }

        > i {
            width: 2rem;
        }

        > .icon-address-book::before {
            font-size: $font-size-base;
        }
    }
}

.dashboard-menu,
.dashboard-menu ~ .btn {
    @include media-breakpoint-up(xl) {
        margin-right: -2.25rem;
        width: auto;
    }
}

.dashboard-menu ~ .btn {
    font-size: $font-size--2;
    padding: 0.801rem 0.5rem 0.7rem;
}

.dashboard-content {
    position: relative;

    @include media-breakpoint-up(md) {
        padding-left: 0.5rem;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 2.75rem;
    }

    hr {
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
    }

    .btn {
        font-size: $font-size--2;
        padding: 0.5rem 0.5rem 0.375rem;
    }

    input[type="checkbox"] + .form-control-label {
        font-size: $font-size--2;
        font-weight: $font-weight-light;
    }
}

.dashboard-row-header {
    font-family: $font-family-base;
    font-size: $font-size-4;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
}

.dashboard-wishlist-item {
    font-size: $font-size--3;

    .sales .value {
        font-size: $font-size--1;
    }
}

.product-attribute-list {
    font-weight: $font-weight-medium;
    display: flex;
    flex-wrap: wrap;

    span {
        position: relative;
        font-weight: $font-weight-medium;
    }

    span:not(:last-child) {
        margin-right: 1.2rem;

        &::after {
            content: '';
            border-right: 0.0625rem solid $secondary;
            position: absolute;
            right: -0.6rem;
            top: 0.125rem;
            bottom: 0.125rem;
        }
    }
}

.btn-group-actions {
    .btn {
        font-size: $font-size-1;
        margin-bottom: 1rem;
    }
}

.show-no-records {
    .btn-group-actions {
        justify-content: center;
    }
}

.show-no-payment-methods {
    .no-payment-methods-container {
        display: block !important;
    }

    .dashboard-title-link {
        display: none;
    }
}
