@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "~brand_core/components/creditCardField";
@import "components/checkoutComponents";
@import "components/checkoutPaymentMethods";
@import "components/checkoutSteps";

$checkout-font-weight: 600;

.checkout-main {
    .card {
        border: 0;
        border-radius: 0;
        margin: 0;

        h4:not(.container-title) {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            font-size: $font-size-3;
            margin-bottom: 0.9375rem;
            text-transform: uppercase;

            @include media-breakpoint-down(sm) {
                text-transform: capitalize;
                font-size: $font-size-2;
                font-weight: $font-weight-semi-bold;
            }
        }

        .form-control,
        .bootstrap-select > .dropdown-toggle {
            padding: 0.75rem;
            font-size: $font-size--3;
            font-weight: $font-weight-medium;

            @include media-breakpoint-down(sm) {
                border-color: $tertiary;
                border-radius: 0.125rem;
                height: 2.5rem;
            }
        }

        .bootstrap-select .no-result {
            font-size: $font-size--3;
            padding: 0.3125rem;
        }

        .shipping-address-block,
        .billing-address {
            font-size: $font-size--3;
        }
    }

    .card-header {
        border-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .card-body {
        padding: 0;
        margin-top: 0;
        border-radius: 0;
    }

    .fieldset-content {
        @include media-breakpoint-down(sm) {
            background: transparent;
            border: none;
            padding: 0;
        }

        &.credit-card-form {
            .credit-card-images {
                position: absolute;
                top: -4.0625rem;
                right: 1rem;
            }
        }

        .invalid-feedback {
            font-size: $font-size--2;
        }
    }

    .cvv-code {
        margin-top: -1.6875rem;
        margin-bottom: 0.75rem;
    }

    .form-group {
        position: relative;
        margin: 1.0625rem 0;

        @include media-breakpoint-down(sm) {
            margin: 0.375rem 0;
        }
    }

    .shipment-selector-block {
        > .btn-link {
            font-size: $font-size-base;
            font-weight: $font-weight-semi-bold;
            padding: 0;
            margin-top: 1rem;
            margin-bottom: 0.25rem;
            text-decoration: underline;
        }

        .form-control-label {
            font-size: $font-size-base;
            font-weight: $font-weight-semi-bold;
            padding-left: 1.75rem;
            padding-top: 0.1rem;
        }
    }

    .address-item {
        background-color: $alabaster;
        border: 0.0625rem solid $grey3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 3.5rem;
        padding: 0 0.75rem;
        margin-bottom: -0.0625rem;
    }

    .address-selected {
        .address-item {
            background-color: $gallery-gray;
        }
    }

    .address-actions {
        color: $grey3;
        font-size: $font-size--2;
        font-weight: $font-weight-base;
        min-width: 6rem;
        margin-left: auto;
        text-align: right;

        .btn-link {
            color: $dove-gray;
            font-size: $font-size--2;
            font-weight: $font-weight-base;
            margin-top: 0;
            padding: 0;
            text-transform: none;
            text-decoration: underline;
        }
    }

    .shipping-method-block {
        margin-top: 2rem;
        margin-bottom: 1rem;

        h4 {
            margin-bottom: 1.5rem;
        }

        .row {
            margin-bottom: 1rem;

            @include media-breakpoint-down(sm) {
                border: 0.0625rem solid $tertiary;
                border-radius: 0.25rem;
                padding: 0.625rem;
            }
        }

        .shipping-method-option {
            .display-name {
                font-size: $font-size-1;
                font-weight: $font-weight-semi-bold;
                display: block;
                margin-bottom: 0.35rem;
            }

            .arrival-time {
                font-size: $font-size-base;
                font-weight: $font-weight-light;
                display: block;
            }
        }

        .shipping-cost,
        .discounted-shipping-cost {
            font-size: $font-size-2;
            font-weight: $font-weight-extra-bold;
            display: block;
            text-align: center;
            text-transform: uppercase;
            margin: 0.3125rem;

            @include media-breakpoint-down(sm) {
                font-size: $font-size-base;
            }
        }

        .form-check-label {
            padding-top: 0;
            padding-left: 2rem;
        }
    }

    .shipping-form-actions {
        align-items: center;
    }

    .shipping-form-action-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .btn {
            font-size: $font-size--3;
            font-weight: $font-weight-bold;
            padding-left: 2.75rem;
            padding-right: 2.75rem;
        }
    }

    .shipping-method-pricing {
        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $approx;
        }
    }

    .order-total-summary {
        background-color: $alabaster;
        padding: 1.5rem 1rem 1rem;

        @include media-breakpoint-down(xs) {
            background: transparent;
            box-shadow: 0 0 0.5rem 0 rgba($black, 0.1);
            padding: 0.875rem 1rem 1.5rem;
            border-top: 10px solid $tertiary-hover;
            border-bottom: 15px solid $tertiary-hover;
        }
    }

    .next-step-button {
        margin-bottom: 1.875rem;
        margin-top: 1rem;

        @include media-breakpoint-down(sm) {
            margin: 0;
        }

        .btn {
            font-size: $font-size-2;
            font-weight: $font-weight-bold;
        }
    }

    .billing-payment-options-block {
        .nav-tabs .nav-link {
            &.active {
                border: none;
            }

            &.radio-button-link {
                font-size: $font-size-base;
                font-weight: $font-weight-bold;
                padding: 1.0625rem;
                text-align: left;
                min-height: 3.5rem;
                border-radius: 0.25rem;
                border: 0.0625rem solid $tertiary;
                margin-bottom: 0.5rem;

                &.payment-method-credit_card.customer-has-payment-instruments.customer-is-registered {
                    display: none;
                }

                .btn {
                    font-size: $font-size-base;
                    font-weight: $font-weight-semi-bold;
                    margin: 0;
                    padding: 0;
                    text-transform: capitalize;
                    text-decoration: underline !important;
                    text-align: left;
                }

                > i {
                    margin-right: 0.5rem;
                }

                .add-new-card-icon {
                    border: 0;

                    &::after {
                        background: none;
                    }
                }

                > span,
                > div {
                    align-items: center;

                    > i {
                        margin-right: 1rem;
                        width: 2.5rem;
                        min-width: 2.5rem;
                        text-align: center;

                        &::before {
                            font-size: 1.4rem;
                        }
                    }

                    > .sc-icon-credit_card::before {
                        font-size: $font-size-10;
                    }
                }

                &.selected-payment > i {
                    border-color: $secondary;

                    &::after {
                        display: block;
                    }
                }

                &.selected-payment.saved-payment-instrument > i {
                    @include media-breakpoint-down(md) {
                        margin-top: -2.25rem;
                    }
                }

                .saved-credit-card-info {
                    @include media-breakpoint-down(md) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                .saved-security-code {
                    @include media-breakpoint-down(md) {
                        align-self: flex-start;
                        margin-left: 3.5rem;
                        margin-top: 0.25rem;
                    }

                    @include media-breakpoint-down(xs) {
                        margin-left: 0;
                        align-self: flex-end;
                        width: 6.5625rem;
                    }
                }
            }

            .nav-link-note {
                font-size: $font-size--4;
                font-weight: $font-weight-medium;
                font-style: italic;
                display: block;
            }
        }

        .label-service-fee {
            display: block;
            font-family: $font-family-secondary;
            font-weight: $font-weight-extra-bold;
            white-space: nowrap;
        }

        .label-default-method {
            color: $grey3;
            font-weight: $font-weight-light;
            font-size: $font-size--2;
        }

        .form-control-label {
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
        }

        .securityCode {
            @include media-breakpoint-up(md) {
                max-width: 6.5rem;
            }
        }

        .security-code-input-container {
            display: flex;
            align-items: center;

            .security-code-input {
                position: relative;
                max-width: 7.5rem;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                    max-width: 100%;
                }
            }

            .security-code-input-icon {
                position: absolute;
                right: 0.75rem;
                top: 50%;
                transform: translateY(-50%);

                i {
                    &::before {
                        font-size: $font-size-10;
                    }
                }
            }

            .form-text {
                font-size: $font-size--4;
                font-weight: $font-weight-light;
                max-width: 6.5rem;
                margin-top: 0;
                margin-left: 0.625rem;
            }
        }

        .tab-content {
            > .fieldset-content {
                background-color: $white;
                border: 0;
                padding: 0;

                .checkout-cash-delivery-note {
                    display: inline-block;
                    font-size: $font-size-2;
                    margin-top: 0.5rem;
                    max-width: 90%;
                }
            }
        }

        .fade:not(.show) {
            display: none;
        }

        .fade.customer-has-payment-instruments.payment-method-credit_card {
            display: block;
            opacity: 1;
        }

        .payment-method-cod {
            .verify-phone-input:read-only {
                background-color: $white;
            }
        }

        .region-code {
            max-height: 2.75rem !important;
        }

        .applepay-content {
            button {
                display: inline-block;
                margin-top: 0;
                margin-bottom: 0.5rem;
            }
        }
    }

    .sms-verification-container {
        padding-top: 0.5rem;
        background: $white;

        .form-control-label {
            font-size: $font-size-base;
            font-weight: $font-weight-medium;
        }

        .form-control,
        .btn.dropdown-toggle {
            padding: 0.625rem 0.75rem;
            font-size: $font-size-1;
        }

        .btn {
            padding: 0.625rem 0.5rem 0.5rem;
        }

        .phone-number-container {
            @include media-breakpoint-up(lg) {
                padding-right: 0 !important;
            }
        }
    }
}

.card.ghost {
    opacity: 0.5;
}

.billing-address {
    display: block;
    padding-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
        border-bottom: 0.0625rem solid $grey3;
    }

    input[type="checkbox"] {
        &:not(:checked),
        &:checked {
            + label {
                padding-left: 1.875rem;
                font-size: $font-size-base;

                @include media-breakpoint-down(sm) {
                    padding-top: 0.1875rem;
                }

                &::before,
                &::after {
                    width: 1.125rem;
                    height: 1.125rem;
                    border-radius: 0.125rem;
                    border: 0.0625rem solid $grey3;
                }

                &::after {
                    content: url(../images/check-icon.svg) !important;
                    box-shadow: none;
                    text-align: center;
                    background: $primary;
                    border-color: $primary;
                }
            }
        }
    }
}

.error-message {
    display: none;
}

.next-step-button {
    @include media-breakpoint-up(md) {
        position: static;
        padding-right: 0.938em;
        padding-left: 0.938em;
    }
}

.checkout-sticky-bar {
    transform: none !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

.sticky-sidebar-container {
    @include media-breakpoint-down(sm) {
        padding: 0;
        width: 100%;
    }
}

.multi-ship .multi-shipping {
    display: block;
}

.order-product-summary {
    display: block;

    h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-4 !important;
            font-weight: $font-weight-light !important;
        }

        > a {
            font-size: $font-size--2 !important;
            font-weight: $font-weight-bold !important;

            @include media-breakpoint-up(md) {
                margin-right: 1rem;
            }
        }
    }
}

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
    display: block;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        button.submit-payment {
            display: none;
        }

        button.submit-shipping {
            display: none;
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        .checkout-step-shipping-title {
            color: $secondary;
            font-weight: $font-weight-semi-bold;
        }

        .shipping-title {
            display: block;

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        .payment-title {
            display: none;
        }

        .checkout-payment-step {
            display: none;
        }

        &.multi-ship .order-product-summary {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: block;
        }

        [data-address-mode=customer] {
            .shipping-address-block {
                display: none;
            }

            .shipment-selector-block {
                display: block !important;
            }
        }

        [data-address-mode=shipment] {
            .shipping-address-form {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new,
            .shipment-selector-block {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-add-new,
            .shipment-selector-block,
            .title-add-address {
                display: none;
            }

            .title-edit-address {
                display: block !important;
            }
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        .checkout-step-payment-title {
            color: $secondary;
        }

        .payment-title {
            display: block !important;

            &::after {
                display: none;
            }
        }

        .checkout-step-shipping-title {
            &::before {
                background-color: $green;
            }

            &::after {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            .checkout-check-icon {
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                padding: 0.25rem;
                top: -1.25rem;
                border: 0.125rem solid $green;
                background: $alabaster;
                color: $green;
                display: none;

                @include media-breakpoint-down(sm) {
                    display: block;
                }

                .icon-check {
                    display: inline-block;
                    transform: rotate(45deg);
                    height: 0.75rem;
                    width: 0.375rem;
                    border-bottom: 0.125rem solid $green;
                    border-right: 0.125rem solid $green;
                    margin-top: -0.125rem;
                }
            }
        }

        .checkout-step-payment-title {
            &::before {
                background-color: $black;
            }

            &::after {
                border-color: $black;
                color: $black;
            }
        }

        .shipping-title {
            display: none !important;
        }

        .checkout-contact-step {
            display: none;
        }

        .shipping-section,
        .card.ghost {
            display: none;
        }

        .card.payment-form,
        .shipping-summary {
            display: block;
        }

        button.submit-payment {
            display: block;

            @include media-breakpoint-down(sm) {
                background: $green;
                color: $white;
                height: 3rem;
                border: none;
            }
        }

        .terms-and-conditions-warning {
            display: block;
        }

        [data-address-mode=customer] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        .shipping-section,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: block;
        }
    }

    &[data-checkout-stage=submitted] {
        .shipping-form,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: none;
        }
    }

    option[value=new] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}

[data-customer-type=guest] .single-shipping .shipment-selector-block {
    display: none;
}

.single-shipping .multi-ship-action-buttons {
    display: none;
}

.single-shipping .view-address-block {
    display: none;
}

.btn-show-details {
    padding-top: 0;
}

.multi-ship-address-actions .btn-save-multi-ship {
    margin-left: 10px;
}

.checkout-order-product-summary {
    font-size: $font-size-2;
    font-weight: $font-weight-semi-bold;

    .checkout-grand-total {
        font-weight: $font-weight-semi-bold;
        position: absolute;
        right: 2.8125rem;
    }

    .order-product-summary {
        h4 {
            display: none;
        }

        .order-detail-section {
            a {
                font-size: $font-size-2;
                font-weight: $font-weight-semi-bold;
                line-height: 1.25;
            }

            .confirmation-item-description {
                justify-content: center;
            }

            .confirmation-item-name {
                width: 100%;
                font-size: $font-size-2;
            }

            .confirmation-item-price {
                font-size: $font-size-2;
                display: flex;

                .strike-through {
                    margin-left: 0.625rem;
                }
            }
        }

        .confirmation-item-attributes-mobile {
            display: none;
        }

        .confirmation-item-quantity-mobile {
            font-size: $font-size-2;
        }

        .confirmation-item-price {
            text-align: center;
            font-size: $font-size-2;
            font-weight: $font-weight-extra-bold;
        }
    }
}

.cart-menu-vertical {
    .view-order-summary {
        .order-product-summary {
            h4 {
                a {
                    display: none;
                }
            }

            .order-detail-header {
                display: none;
            }

            .product-summary-block {
                padding: 0;
            }
        }
    }

    .cart-section-wrapper {
        background-color: $white;
        cursor: pointer;
    }

    h3 {
        font-size: $font-size-2;
        font-weight: $font-weight-semi-bold;
        font-family: $font-family-base;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.875rem 1rem;
        margin-bottom: 0;
        user-select: none;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
            text-transform: none;
        }

        > i:not(.tab-icon) {
            margin-left: auto;

            &::before,
            &::after {
                width: 0.625rem;
                height: 0.125rem;
                top: 0.1875rem;
            }
        }

        > .sc-icon-arrow-up {
            display: none;
        }
    }

    .cart-section-wrapper-content {
        overflow: hidden;
        height: 0;
        transition: height $animation-duration, padding-bottom $animation-duration;
        margin: 0;
        padding: 0;
        line-height: 2.2;
    }

    .open {
        h3 {
            > .sc-icon-arrow-down {
                display: none;
            }

            > .sc-icon-arrow-up {
                display: block;
            }
        }

        .cart-section-wrapper-content {
            height: auto;
            padding: 1rem 0;
        }

        .confirmation-item {
            &:first-child {
                border-top: 0.0625rem solid $grey1;
            }
        }
    }
}

.order-detail-section {
    padding: 0 1rem;

    .confirmation-item {
        display: flex;
        padding: 1.375rem 0;
        position: relative;

        &:not(:last-child) {
            border-bottom: 0.0625rem solid $grey1;
        }

        .confirmation-item-image {
            display: flex;
            position: relative;

            img {
                max-width: 5rem;
                width: 100%;
                height: auto;
                padding: 0.2rem;
            }
        }

        .confirmation-item-description {
            width: calc(100% - 7rem);
            display: flex;

            @include media-breakpoint-only(xs) {
                padding-left: 0.5rem;
            }

            @include media-breakpoint-up(xl) {
                justify-content: space-between;
                align-items: center;
            }

            .confirmation-item-name {
                width: 60%;
                position: relative;
                font-size: $font-size--1;
                text-transform: uppercase;

                @include media-breakpoint-up(xl) {
                    width: 13.875rem;
                }
                @include media-breakpoint-down(lg) {
                    margin-left: 0.1rem;
                }

                p {
                    margin-bottom: 0;
                }

                @include media-breakpoint-only(xs) {
                    width: 100%;
                }
            }

            .confirmation-item-quantity {
                font-size: $font-size--1;

                @include media-breakpoint-down(lg) {
                    margin-left: 1rem;
                }
            }

            .confirmation-item-price {
                font-size: $font-size-2;
                font-weight: $font-weight-extra-bold;
                text-align: center;
                text-transform: uppercase;

                .strike-through {
                    font-family: $font-family-secondary;
                    font-size: $font-size--3;
                    color: $dove-gray;
                    text-decoration: line-through;
                }
            }

            .cart-product-price-main {
                display: none;
            }

            .confirmation-item-details-mobile {
                display: flex;
                width: 100%;
                align-self: flex-start;
                align-items: center;
                justify-content: space-between;

                .confirmation-item-volume-mobile {
                    display: flex;

                    .confirmation-item-attributes-mobile {
                        padding-right: 0.3125rem;
                    }

                    .confirmation-item-quantity-mobile {
                        display: flex;

                        span:first-child {
                            padding-right: 0.3125rem;
                        }
                    }
                }
            }
        }
    }
}
