@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";

.homepage-makeupforevermea {
    padding-top: 2.8125rem;

    @include media-breakpoint-down(sm) {
        [class*="col-"] {
            padding-left: 0.3125rem;
            padding-right: 0.3125rem;
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .home-section-title {
        margin-bottom: 1.25rem;

        @include media-breakpoint-down(sm) {
            margin-bottom: 0.625rem;
        }

        &::after {
            border: none;
        }
    }

    .makeupforevermea-image {
        img {
            width: 100%;
            margin-bottom: 1.5625rem;

            @include media-breakpoint-down(sm) {
                margin: 0.625rem 0;
            }
        }
    }

    .view-more-button {
        background: $approx;
        margin: auto;
        width: 18.75rem;
        line-height: 2.5rem;
        color: $white;
        font-family: $font-family-base;
        font-size: $font-size-2;
        font-weight: $font-weight-extra-bold;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
            width: 10rem;
            margin-top: 0.625rem;
        }
    }
}
