$seach-field-line-height: 2.05;
$search-field-placeholder-color: #d1d4d7;
$form-info-column-headline-lh: 1.57;
$form-info-column-paragraph-lh: 1.7;
$form-info-column-color: #40464e;

.not-found-header {
    font-size: $font-size-4;
    text-transform: uppercase;
    font-family: ff(secondary);
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    line-height: $line-height-18;
    margin-bottom: 1.25rem;
}

.not-found-message {
    font-size: $font-size--3;
    line-height: $line-height-2;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    margin-bottom: 0.875rem;
}

.error-page {
    padding-top: 3.75rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;

    .site-search {
        display: flex;
        justify-content: center;
        background: $white;
        margin: 0;
        padding-bottom: 5.9375rem;
        width: 100%;

        &.search-focus {
            width: 100%;

            .search-field {
                font-size: $font-size--4;
                padding-left: 0;

                @include media-breakpoint-up(lg) {
                    font-size: $font-size-2;
                    line-height: $seach-field-line-height;
                }
            }
        }

        .form-group {
            max-width: 34.6875rem;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 0.0625rem solid $grey10;
        }

        .search-field {
            color: $primary;
            font-size: $font-size--4;
            font-family: $font-family-secondary;
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
            text-transform: uppercase;
            padding-left: 0;
            padding-right: 1.5rem;
            transition: none;

            @include media-breakpoint-up(lg) {
                font-size: $font-size-2;
                line-height: $seach-field-line-height;
            }

            &::placeholder {
                text-transform: uppercase;
                color: $search-field-placeholder-color;
                opacity: 1;
            }
        }

        .sc-icon-cross {
            &::before,
            &::after {
                width: 1rem;
                background-color: $primary;
            }
        }
    }

    .btn-clear-search {
        display: block;
        position: absolute;
        right: -0.175rem;
        top: 0.325rem;
        width: 1.25rem;
        height: 1.25rem;

        @include media-breakpoint-up(lg) {
            right: 0.225rem;
            top: 0.625rem;
        }
    }

    .form-info-columns {
        border-top: 0.0625rem solid $grey2;
        padding: 2.5625rem 3rem 0;

        .row {
            margin-left: -0.9375rem;
            margin-right: -0.9375rem;
        }

        .form-info-column {
            margin-top: 2.1875rem;
            padding-bottom: 0;
            border: none;

            + .form-info-column {
                @include media-breakpoint-up(md) {
                    border-left: 0.0625rem solid $athens-gray;
                }
            }
        }
    }

    .form-info-column-headline {
        font-family: ff(tertiary);
        font-size: $font-size--2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        line-height: $form-info-column-headline-lh;
        text-transform: uppercase;
        margin-top: 0.875rem;
        margin-bottom: 0.3125rem;

        @include media-breakpoint-up (md) {
            font-family: $font-family-secondary;
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        }
    }

    .form-info-column-paragraph {
        font-family: ff(base);
        font-size: $font-size--1;
        line-height: $line-height-7;
        color: $primary-hover;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        margin-bottom: 0;

        @include media-breakpoint-up (md) {
            font-family: ff(tertiary);
            font-size: $font-size--1;
            line-height: $form-info-column-paragraph-lh;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            color: $form-info-column-color;
        }
    }

    .form-info-column-link {
        color: $form-info-column-color;
        text-decoration: none;
        border-bottom: 0.0625rem solid $form-info-column-color;
        padding-bottom: 0.0625rem;
    }

    .phone-icon,
    .email-icon {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        margin-top: -1.075rem;
        margin-left: -0.6rem;
    }

    .text-icon {
        height: 1rem;
        width: 1rem;
    }
}
