/* stylelint-disable */

@if not variable-exists('icons') {
    $icons: () !global;
}
{% set timestamp = [178956455,23216546,321654,43685461,531,6651651,728513,83165165,951651320] | random %}
@font-face {
  font-family: "{{ fontName }}";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  {% if formats.indexOf('eot')>-1 -%}
    src: url("{{ fontPath }}{{ fontName }}.eot?{{timestamp}}");
  {%- endif -%}
  {%- set eotIndex = formats.indexOf('eot') -%}
  {%- set woff2Index = formats.indexOf('woff2') -%}
  {%- set woffIndex = formats.indexOf('woff') -%}
  {%- set ttfIndex = formats.indexOf('ttf') -%}
  {%- set svgIndex = formats.indexOf('svg') %}
  src: {% if eotIndex != -1 -%}
    url("{{ fontPath }}{{ fontName }}.eot?{{timestamp}}#iefix") format("embedded-opentype")
    {%- set nothing = formats.splice(eotIndex, 1) -%}
    {%- if formats.length != 0 -%}, {% else -%}; {% endif -%}
  {%- endif -%}
  {%- if woff2Index != -1 -%}
    url("{{ fontPath }}{{ fontName }}.woff2?{{timestamp}}") format("woff2")
    {%- set nothing = formats.splice(woff2Index, 1) -%}
    {%- if formats.length != 0 -%}, {% else -%}; {% endif -%}
  {%- endif -%}
  {%- if woffIndex != -1 -%}
    url("{{ fontPath }}{{ fontName }}.woff?{{timestamp}}") format("woff")
    {%- set nothing = formats.splice(woffIndex, 1) -%}
    {%- if formats.length != 0 -%}, {% else -%}; {% endif -%}
  {%- endif -%}
  {%- if ttfIndex != -1 -%}
    url("{{ fontPath }}{{ fontName }}.ttf?{{timestamp}}") format("truetype")
    {%- set nothing = formats.splice(ttfIndex, 1) -%}
    {%- if formats.length != 0 -%}, {% else -%}; {% endif -%}
  {%- endif -%}
  {%- if svgIndex != -1 -%}
    url("{{ fontPath }}{{ fontName }}.svg?{{timestamp}}#{{ fontName }}") format("svg");
  {%- endif %}
}

$icons: map-merge($icons, (
{% for glyph in glyphs%}
  '{{ glyph.name }}': ('{{ fontName }}' '\{{ glyph.unicode[0].charCodeAt(0).toString(16) }}'),
{% endfor %}
));

/* stylelint-enable */

@mixin icon(
    $icon: auto,
    $pseudo: before,
    $font_size: inherit,
    $color: inherit
) {
    &::#{$pseudo} {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        content: $icon;
        display: inline-block;
        font-family: $icon-font-family !important;
        font-style: normal;
        font-variant: normal;
        font-weight: normal !important;
        vertical-align: middle;

        @content;
    }
}

@mixin {{ fontName }}icons($name: null) {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: $icon-font-family !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal !important;
    vertical-align: middle;

    @if ($name != null) {
        $icon: map-get($icons, $name);

        &::before {
            content: #{'"' + nth($icon, 2) + '"'};
        }
    }
}

.{{ className }} {
    @include {{ fontName }}icons;
}

/* stylelint-disable */

{% for glyph in glyphs%}
${{ className }}-{{ glyph.name }}: "\{{ glyph.unicode[0].charCodeAt(0).toString(16) }}";
{% endfor %}

@each $name, $code in $icons {
    .icon-#{$name} {
        &::before {
            content: #{'"' + nth($code, 2) + '"'};
        }
    }
}
/* stylelint-enable */
