@import "bootstrap/scss/functions";
@import "../js/config/breakpoints.json";

// Font-awesome font file locations in relation to target location of the css file.
$fa-font-path: "../fonts" !default;

// Flag icons location in relation to target location of the css file.
$flag-icon-css-path: "../fonts/flags/" !default;

$primary: #191919 !default;
$primary-hover: #40464e !default;
$secondary: #6c717a !default;
$secondary-hover: #7e8188 !default;
$tertiary: #f88017 !default;
$tertiary-hover: #c9c9c9 !default;
$white: #fff !default;
$black: #000 !default;
$blue: #0070d2 !default;
$green: #0bbd46 !default;
$red: #e51d0b !default;
$lonestar: #6a0000 !default;
$success: $green !default;
$danger: $red !default;
$brand: #024 !default;
$brand-light: #f6f6f8 !default;
$light-blue: #7ed0ee !default;
$gallery-gray: #ecebeb !default;
$dove-gray: #717171 !default;
$alto: #d1d1d7 !default;
$oslo-gray: #7f8993 !default;
$alabaster: #f8f8f8 !default;
$tamarillo: $red !default;
$gallery: #eaeaea !default;
$japaneseLaurel: #03620a !default;
$tabasco: $red !default;
$carouselPink: #fdf5f6 !default;
$midnight: #01172d !default;
$athens-gray: #e8e9eb !default;
$iron: #d1d4d7 !default;
$system-red: #e51d0b !default;
$system-green: #0bbd46 !default;
$lighter-gray: #d3d4d5;
$tory-navy: #0c2340 !default;
$orange: #fb8902 !default;
$orange-dark: #f95929 !default;
$olso-black: #1a1a1a !default;
$pipping-color: #f3f3f3 !default;
$discount: #00862d !default;

// Consolidated values
$grey1: #f0f0f0 !default;
$grey2: #e8e9eb !default;
$grey3: #d4d4d4 !default;
$grey4: #aaa !default;
$grey5: #676767 !default;
$grey6: #444 !default;
$grey7: #222 !default;
$grey8: #333 !default;
$grey9: #555 !default;
$grey10: #d1d4d7 !default;
$grey11: #1c1c1c !default;
$grey12: #121212 !default;
$grey13: #4e4e4e !default;
$grey14: #878d97 !default;
$grey15: #f8f7f6 !default;
$grey16: #999 !default;
$grey17: #fbfbfb !default;
$grey18: #979797 !default;
$grey19: #454b53 !default;
$grey20: #a7aaaf !default;
$grey21: #f7f6f8 !default;
$grey22: #3c3c3c !default;
$grey23: #b5b5b5 !default;
$grey24: #969696 !default;
$grey-transparent-1: rgba(0, 0, 0, 0.65) !default;
$grey-transparent-2: rgba(0, 0, 0, 0.25) !default;

$light-gray: $grey1 !default;
$slightly-darker-gray: $grey4 !default;
$dark-gray: $grey6 !default;
$darker-gray: $grey7 !default;
$horizontal-rule-grey: $grey3 !default;
$product-number-grey: $grey3 !default;
$horizontal-border-grey: $grey4 !default;
$close-menu-bg: $grey2 !default;
$hr-border-color: $grey3 !default;
$input-placeholder-color: $grey-transparent-1 !default;

$grid-gutter-width: 1.875rem;

$grid-breakpoints: (
    xs: map-get($breakpoints, "xs") * 1px,
    sm: map-get($breakpoints, "sm") * 1px,
    md: map-get($breakpoints, "md") * 1px,
    lg: map-get($breakpoints, "lg") * 1px,
    xl: map-get($breakpoints, "xl") * 1px
) !default;

$container-max-widths: (
    xl: 1500px
) !default;

$border-radius: 0.1875rem !default;
$border-radius-lg: $border-radius !default;
$border-radius-sm: $border-radius !default;
$border-color: $grey3;

$state-danger-text: $white !default;
$alert-success-text: $white !default;

// Animations
$animation-duration: 0.3s !default;
$animation-default: all $animation-duration ease !default;

$icon-font-family: "iconfont" !default;

// Font
$font-family-base: "Caslon540LTStd", Arial, Sans-serif !default;
$font-family-base-it: "Caslon540LTStd-Italic", Arial, Sans-serif !default;
$font-family-base-ar: "GeezaPro", Arial, Sans-serif !default;
$font-family-secondary: "FuturaLTPro", Arial, Sans-serif !default;
$font-family-secondary-ar: "GESSTwoLight-Light", Arial, Sans-serif !default;
$font-family-tertiary: "NHaasGroteskTXPro", Arial, Sans-serif !default;
$font-family-tertiary-bold: "NHaasGroteskTXPro-Md", Arial, Sans-serif !default;
$font-family-tertiary-ar: "GESSTwoBold-Bold", Arial, Sans-serif !default;
$font-family-fourthly: "SweetSans-Md", Arial, Sans-serif !default;
$font-family-fifth: "SweetSans", Arial, Sans-serif !default;

$font-weight-minor: 100 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extra-bold: 800 !default;
$font-weight-heavy: 900 !default;

$font-size-base: 1rem !default; //16

$font-size--1: ($font-size-base - 0.0625) !default; //15
$font-size--2: ($font-size-base - 0.125) !default; //14
$font-size--3: ($font-size-base - 0.1875) !default; //13
$font-size--4: ($font-size-base - 0.25) !default; //12
$font-size--5: ($font-size-base - 0.3125) !default; //11
$font-size--6: ($font-size-base - 0.375) !default; //10
$font-size--7: ($font-size-base - 0.4375) !default; //9
$font-size--8: ($font-size-base - 0.5) !default; //8
$font-size--9: ($font-size-base - 0.5625) !default; //7

$font-size-1: ($font-size-base + 0.0625) !default; //17
$font-size-2: ($font-size-base + 0.125) !default; //18
$font-size-3: ($font-size-base + 0.1875) !default; //19
$font-size-4: ($font-size-base + 0.25) !default; //20
$font-size-5: ($font-size-base + 0.3125) !default; //21
$font-size-6: ($font-size-base + 0.375) !default; //22
$font-size-7: ($font-size-base + 0.4375) !default; //23
$font-size-8: ($font-size-base + 0.5) !default; //24
$font-size-9: ($font-size-base + 0.5625) !default; //25
$font-size-10: ($font-size-base + 0.625) !default; //26
$font-size-11: ($font-size-base + 0.6875) !default; //27
$font-size-12: ($font-size-base + 0.75) !default; //28
$font-size-14: ($font-size-base + 0.875) !default; //30
$font-size-16: ($font-size-base + 1) !default; //32
$font-size-18: ($font-size-base + 1.125) !default; //34
$font-size-21: ($font-size-base + 1.3125) !default; //37
$font-size-24: ($font-size-base + 1.5) !default; //40
$font-size-27: ($font-size-base + 1.6875) !default; //43
$font-size-28: ($font-size-base + 1.75) !default; //44
$font-size-29: ($font-size-base + 2) !default; //48
$font-size-30: ($font-size-base + 1.375) !default; //38
$font-size-31: ($font-size-base + 1.25) !default; //36
$font-size-32: ($font-size-base + 0.03125) !default; //16.5

// Letter spacing
$font-ls-1: 0.0625rem !default; //1
$font-ls-2: 0.03125rem !default; //0.5
$font-ls-3: 0.00625rem !default; //0.1
$font-ls-4: 0.09375rem !default; //1.5
$font-ls-5: 0.046875rem !default; //0.75
$font-ls-6: 0.09375rem !default; //1.25
$font-ls-7: 0.041875rem !default; //0.67
$font-ls-8: 0.00875rem !default; //0.14
$font-ls-9: 0.029375rem !default; //0.47
$font-ls-10: 0.125rem !default; //2

// Line height
$headings-line-height: 1.2 !default;
$icons-line-height: 1em !default;
$line-height-base: 1.43 !default;
$line-height-1: 1.31 !default;
$line-height-2: 1.84 !default;
$line-height-3: 1.63 !default;
$line-height-4: 1.86 !default;
$line-height-5: 1.71 !default;
$line-height-6: 1.38 !default;
$line-height-7: 1.67 !default;
$line-height-8: 1.18 !default;
$line-height-9: 1.5 !default;
$line-height-10: 1.39 !default;
$line-height-11: 1.56 !default;
$line-height-12: 2.08 !default;
$line-height-13: 1.79 !default;
$line-height-14: 1.92 !default;
$line-height-15: 1.44 !default;
$line-height-16: 1.85 !default;
$line-height-17: 1.54 !default;
$line-height-18: 1.4 !default;
$line-height-19: 1.5em !default;

// Bootstrap overrides
$body-bg: $white !default;
$card-cap-bg: $white !default;
$alert-border-radius: 0 !default;
$alert-link-font-weight: $font-weight-medium !default;

// Tabs
$nav-tabs-border-width: 0 !default;
$nav-tabs-border-radius: 0 !default;
$nav-tabs-active-link-hover-bg: transparent !default;

// Breadcrumb
$breadcrumb-padding-y: 0.1875rem !default;
$breadcrumb-padding-x: ($grid-gutter-width / 2) !default;
$breadcrumb-item-padding: 0.25rem !default;
$breadcrumb-text-color: $secondary !default;
$breadcrumb-link-color: $primary !default;
$breadcrumb-link-text-decoration: underline !default;
$breadcrumb-bg: $white !default;
$breadcrumb-font-size: $font-size--5 !default;
$breadcrumb-font-weight: $font-weight-medium !default;
$breadcrumb-text-transform: none !default;
$breadcrumb-divider-font-size: inherit !default;
$breadcrumb-divider-line-height: unset !default;
$breadcrumb-divider-color: $breadcrumb-text-color !default;
$breadcrumb-active-color: $breadcrumb-text-color !default;
$breadcrumb-divider: quote("/") !default;
$breadcrumb-min-visible-breakpoint: lg;

// Table border
$table-border-color: $grey3 !default;

// Forms
$form-group-margin-bottom: 1.0625rem !default;
$input-padding-y: 0.5315rem !default;
$input-height: auto !default;
$input-focus-box-shadow: 'none' !default;
$input-border-radius: 0 !default;
$input-border-color: $grey3 !default;

$custom-select-padding-y: $input-padding-y !default;
$custom-select-height: $input-height !default;
$custom-select-indicator: str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.7 8.647'%3e%3cpath transform='translate(15.7) rotate(90)' fill='#{$secondary-hover}' d='M0,.952.932,0,8.647,7.85.932,15.7,0,14.753l6.778-6.9Z'/%3e%3c/svg%3e"), "#", "%23") !default;

$svg-check: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") !default;
$form-feedback-icon-invalid: "";

// Tooltip
$tooltip-border-radius: 0 !default;

// Buttons
$btn-border-radius: 0 !default;

// Slick Carousel
$slick-font-path: '/node_modules/slick-carousel/slick/fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: '/node_modules/slick-carousel/slick-carousel/slick/' !default;
$slick-arrow-color: $black !default;

// Banners
$banner-max-width: 75rem !default;

// Links
$emphasized-link-hover-darken-percentage: 0% !default;

// Color Swatches
$swatch-size: 1.5rem !default;
$swatch-filter-size: 1rem !default;
$swatch-border-color: rgba($black, 0.3) !default;
$swatch-border-width: 0.0625rem !default;
$swatch-border-radius: 100% !default;
$swatch-selected-inner-border-color: $white !default;
$swatch-selected-outer-border-color: $alto !default;
$swatch-selected-border-gap: 0.625rem !default;
$swatch-disabled-opacity: 0.2 !default;
$swatch-disabled-icon-color: false !default;

//z-index
$zindex: (
    zindex-low: -1,
    zindex-base: 1,
    zindex-1: 2,
    zindex-2: 150,
    zindex-3: 100,
    zindex-4: 10,
    zindex-5: 5,
    zindex-6: 1080,
    zindex-7: 1090
);
