@import "variables";
@import "api/all";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import '~brand_core/mixins/mixinsGlobal';
@import "utils/mixinsBrand";
@import "./pages/search/refinements";

.breadcrumb-item {
    &:first-child {
        display: none;

        + .breadcrumb-item {
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }
}

.plp-title {
    margin: 1.25rem 0 0.625rem;
    text-align: center;
    font-family: ff(secondary);
    font-size: $font-size-4;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    text-transform: uppercase;
    z-index: map-get($zindex, zindex-base);
    position: relative;

    /* rtl:raw:
        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        font-weight: 400;
    */
}

.plp-details {
    text-align: center;
}

.plp-top-banner {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0.625rem;
    position: relative;

    @include media-breakpoint-up(md) {
        margin: 0 auto 0.625rem;
        max-width: 44.0625rem;
        width: auto;
    }

    @include media-breakpoint-down(lg) {
        .plp-title,
        .plp-description {
            padding: 0 $grid-gutter-width / 2;
        }
    }

    &.separately-image {
        flex-direction: column;
        padding-bottom: 1.25rem;

        @include media-breakpoint-up(md) {
            padding-bottom: 0;
            max-width: 100%;
        }

        @include media-breakpoint-up(xl) {
            flex-direction: row;
        }

        .plp-img {
            max-height: 33.4375rem;
        }
    }

    &.bg-grey {
        @include media-breakpoint-up(md) {
            max-width: 100%;
        }

        @include media-breakpoint-up(xl) {
            &::after {
                position: absolute;
                content: '';
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                background: $grey17;
            }
        }
    }

    &.center {
        @include media-breakpoint-up(sm) {
            width: 83.33333%;
            margin-left: 8.33333%;
        }

        @include media-breakpoint-up(md) {
            margin: 0 auto 0.625rem;
            max-width: 44.0625rem;
            width: auto;
        }
    }

    &.full-width {
        @include media-breakpoint-up(md) {
            margin: 0 auto 0.625rem;
            max-width: 100%;
            width: auto;
        }
    }

    .plp-img {
        display: block;
        z-index: map-get($zindex, zindex-base);
        position: relative;
    }
}

.plp-description {
    color: $primary;
    max-width: 23.125rem;
    margin: 0 auto;
    font-family: ff(base);
    font-size: $font-size--1;
    line-height: $line-height-10;
    letter-spacing: $font-ls-3 #{"/*rtl:normal*/"};
    z-index: map-get($zindex, zindex-base);
    position: relative;
}

.grid-header-row {
    width: 100%;
}

.plp-bottom-content {
    margin-bottom: 3.125rem;
}

.plp-bottom-content-info {
    font-size: $font-size--5;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
}

.search-results {
    color: $primary-hover;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-family: ff(tertiary);
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    font-weight: $font-weight-normal;

    .search-results-title {
        margin: 2rem 0;
        color: $primary;
        font-size: $font-size-4;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        line-height: $line-height-base;
        font-family: ff(secondary);

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
            font-weight: 400;
        */

        @include media-breakpoint-up(lg) {
            margin: 3.125rem 0;
        }
    }

    .category-title {
        color: $primary;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        line-height: $line-height-3;
        font-family: ff(secondary);
        margin-bottom: 2rem;

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        */

        @include media-breakpoint-up(md) {
            margin-bottom: 2.5rem;
        }
    }

    .grid-title {
        color: $primary;
    }

    .product-grid-actions {
        border-bottom: 0.0625rem solid $athens-gray;
        padding-bottom: 2.1875rem;
        margin-bottom: 1.6875rem;

        @include media-breakpoint-up(md) {
            padding-bottom: 3.125rem;
            margin-bottom: 2.625rem;
        }

        .btn-outline-primary {
            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
                font-weight: 600;
            */
        }
    }
}

.plp-top-banner-wrapper {
    margin: 0;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
        margin: 0 -1.875rem;
    }

    @include media-breakpoint-up(md) {
        margin: 0;
    }
}

.search-results-wrapper {
    .plp-top-banner {
        margin-bottom: 2.5rem;

        .plp-description {
            margin-bottom: 1.875rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 3.125rem;
            }
        }
    }
}
