.contactus-form {
    .form-control {
        border-color: $secondary;
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        + .justify-content-end + .form-control-label {
            &::after {
                background: transparent;
                border: 0.0825rem solid $success;
                border-top: none;
                border-right: none;
                content: '';
                height: 0.45rem;
                right: 1.4375rem;
                opacity: 0;
                position: absolute;
                top: 1.75rem;
                transform: rotate(-45deg);
                width: 0.725rem;

                /* rtl:raw:
                    right: auto;
                    left: 1.375rem;
                */
            }
        }

        &:not(:placeholder-shown) {
            font-size: $font-size--3;

            &.custom-select {
                border-color: $secondary;
            }

            + .justify-content-end + .form-control-label {
                left: 0.4375rem;
                top: -0.5rem;
                font-size: $font-size--4;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            }
        }

        &:focus {
            &:not(:placeholder-shown) {
                font-size: $font-size--3;
            }

            + .justify-content-end + .form-control-label {
                left: 0.4375rem;
                top: -0.5rem;
                font-size: $font-size--4;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            }
        }

        &:valid {
            + .justify-content-end + .form-control-label {
                &::after {
                    opacity: 1;
                }
            }
        }

        + *:not(.form-control-label) {
            position: absolute;
            right: 0;
            opacity: 0;
            padding-top: 0.3125rem;

            + .form-control-label {
                position: absolute;
                left: 0.9375rem;
                top: 0.875rem;
                width: 100%;

                > span {
                    background: $white;
                    padding: 0 0.5rem;
                }
            }
        }
    }

    .justify-content-end {
        + .invalid-feedback {
            max-width: 10.9375rem;

            @include media-breakpoint-up(sm) {
                max-width: none;
            }
        }
    }
}

.contactus-form-container {
    background-image: url(../images/cc-bg.jpg);
    background-position: center top;
    background-repeat: repeat;
    background-color: $grey15;
    padding: 1.25rem;
    margin-bottom: -5rem;
    margin-top: 0;

    @include media-breakpoint-up(md) {
        padding: 1.875rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 2.625rem 0 2.5625rem;
    }
}

.contactus-form-block {
    max-width: 48.125rem;
    margin: 0 auto;
    background-color: $white;
}

.contactus-form-header {
    padding-top: 3.75rem;
    font-family: $font-family-secondary;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
}

.contact-us-out-link,
.contactus-form-title {
    font-family: ff(secondary);
    font-size: $font-size--6;
    font-weight: $font-weight-heavy;
    line-height: $line-height-9;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    padding-bottom: 0.3125rem;
    margin-bottom: 0;
    text-align: center;
    color: $grey14;
}

.contactus-form-title {
    color: $primary;
    font-size: $font-size-2;
    line-height: $line-height-10;
    padding-bottom: 2rem;
}

.contactus-form-wrapper {
    margin: auto;
    padding: 0 0.9375rem 1.3125rem;

    @include media-breakpoint-up(md) {
        padding: 0 6.25rem 1.3125rem;
    }

    .btn-static {
        min-width: 14.375rem;
    }
}

.form-info-block {
    border-bottom: 1px solid $athens-gray;
}

.form-info-container {
    margin: 3.6875rem auto 0;
    border-top: 0.0625rem solid $athens-gray;
    padding: 3.75rem 0.9375rem;

    @include media-breakpoint-up(md) {
        padding: 3.75rem 6.25rem;
    }
}

.form-info-row {
    + .form-info-row {
        margin-top: 2.4375rem;
    }
}

.form-option-link {
    max-width: 35.625rem;
    margin: auto;
    text-align: center;
}

.form-info-link {
    display: inline-block;
    font-family: ff(tertiary);
    font-size: $font-size--3;
    line-height: $line-height-5;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    color: $tory-navy;
    border-bottom: 0.0625rem solid $primary;

    &:hover {
        border-color: $grey20;
    }

    &:active {
        border-color: $grey2;
    }

    + .form-info-subheadline {
        margin-top: 1.25rem;
    }
}

.form-info-headline {
    font-family: ff(secondary);
    font-size: $font-size--6;
    font-weight: $font-weight-heavy;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    color: $primary;
    margin-bottom: 1.3125rem;
}

.form-info-paragraph {
    font-family: ff(tertiary);
    font-size: 15px;
    line-height: $line-height-11;
    color: $primary-hover;
    margin-bottom: 0;
}

.form-info-subheadline-careers {
    font-family: ff(secondary);
    font-size: $font-size--6;
    font-weight: $font-weight-medium;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    color: $primary;
}

.form-info-columns {
    padding: 5rem 0 5.625rem;

    .row {
        margin: 0;
    }
}

.form-info-column {
    text-align: center;
    font-family: ff(tertiary);
    font-size: $font-size--4;
    line-height: $line-height-8;
    color: $primary-hover;

    @include media-breakpoint-down(sm) {
        margin-bottom: 0.625rem;
    }

    &:nth-of-type(2) {
        margin-top: 3.5rem;
        padding-bottom: 4.125rem;

        @include media-breakpoint-up(sm) {
            margin-top: 0;
            padding-bottom: 0;
        }
    }

    + .form-info-column {
        @include media-breakpoint-up(sm) {
            border-left: 1px solid $athens-gray;
        }
    }
}

.form-info-column-headline {
    color: $primary;
    font-family: ff(tertiary);
    font-size: $font-size--6;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    line-height: $line-height-9;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    margin-bottom: 0.4375rem;

    @include media-breakpoint-up(sm) {
        font-weight: $font-weight-heavy;
        font-family: ff(secondary);
    }

    strong {
        font-weight: $font-weight-normal;
    }
}

.form-info-column-paragraph {
    margin-bottom: 0;
    font-family: ff(base);
    line-height: $line-height-base;
    font-size: $font-size--2;
    letter-spacing: normal;

    @include media-breakpoint-up(sm) {
        font-family: ff(tertiary);
        line-height: $line-height-7;
        font-size: $font-size--4;
    }

    .text-number {
        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }
}

.form-info-column-link u {
    color: $tory-navy;
    text-decoration: none;
    border-bottom: 1px solid;
}
