@import "../variables";
@import "bootstrap/scss/mixins/breakpoints";

$international-shipping-headline-lh: 1.75rem;
$international-shipping-list-item-lh: 0.9875rem;

.international-shipping {
    max-width: 90%;
    margin: auto;
    padding-top: 1rem;
    color: $primary;

    @include media-breakpoint-up(md) {
        max-width: 90rem;
        padding-top: 6.125rem;
    }
}

.international-shipping-headline {
    font-family: ff(secondary);
    font-weight: $font-weight-heavy;
    font-size: $font-size-base;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    line-height: $international-shipping-headline-lh;
    text-transform: uppercase;
    margin-bottom: 2.125rem;
}

.international-shipping-list {
    margin-bottom: 1.5625rem;
}

.international-shipping-list-item,
.international-shipping-information {
    font-size: $font-size--5;
    line-height: $international-shipping-list-item-lh;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
    padding-bottom: 0.9375rem;
}

.international-shipping-information {
    text-transform: unset;
}

.international-shipping-list-link {
    border-bottom: 0.0625rem solid $primary;
}

.international-shipping-image-container {
    max-height: 30.9375rem;
    max-width: 20.625rem;
    padding-left: 0;
    padding-right: 0;
}

.international-shipping-container {
    padding-right: 1.875rem;
    padding-left: 0;
}
