@import 'variables';
@import 'api/all';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.static-page {
    color: $primary-hover;
    font-family: ff(tertiary);
    font-size: $font-size--1;
    font-weight: $font-weight-normal;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    line-height: $line-height-5;
    padding-bottom: 2.5rem;

    @include media-breakpoint-up(lg) {
        padding-bottom: 5rem;
    }

    a {
        transition: border-bottom 0.3s ease;
        border-bottom: 0.0625rem solid $grey19;
        padding-bottom: 0.1875rem;

        &:hover {
            border-color: $grey20;
        }

        &:active {
            border-color: $grey2;
        }
    }

    b {
        font-family: ff(tertiary, 'bold');
        font-weight: $font-weight-normal;
    }

    picture {
        a {
            border: none;
        }
    }

    table {
        text-align: center;

        th {
            font-family: ff(tertiary, 'bold');
            font-weight: $font-weight-normal;
            text-transform: uppercase;
        }

        th,
        td {
            padding: 0.3125rem 0.625rem;
        }
    }

    ul {
        margin: 0 0 0.8125rem;
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.525rem;
            position: relative;
            padding-left: 0.9375rem;

            &::before {
                content: "-";
                position: absolute;
                left: 0;
            }
        }
    }
}

.static-page-title,
.static-page-subtitle,
.static-page-subheading {
    font-family: ff(secondary);
    font-size: $font-size-4;
    font-weight: $font-weight-normal;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    line-height: $line-height-18;
    text-transform: uppercase;
    margin: 0 0 1.25rem;

    /* rtl:raw:
        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
    */
}

.static-page-subheading {
    font-size: $font-size-base;

    u {
        text-decoration: none;
    }
}
