// Target Ipad only

$ipadAir-width: 48rem;
$ipadAir-height: 64rem;
$landscape: landscape;
$portrait: portrait;

@mixin ipad($orientation: null) {
    @if $orientation {
        @media only screen and (device-width: $ipadAir-width) and (device-height: $ipadAir-height) and (orientation: $orientation) {
            @content;
        }
    } @else {
        @media only screen and (device-width: $ipadAir-width) and (device-height: $ipadAir-height) {
            @content;
        }
    }
}
