@import 'bootstrap/scss/functions';
@import '../js/config/breakpoints.json';

// Flag icons location in relation to target location of the css file.
$flag-icon-css-path: "../fonts/flags/" !default;

// Consolidated values
$white: #fff !default;
$grey1: #f2f2f2 !default;
$grey2: #eee !default;
$grey3: #ccc !default;
$grey4: #999 !default;
$grey5: #666 !default;
$grey6: #444 !default;
$grey7: #222 !default;
$grey8: #333 !default;
$grey9: #909090 !default;
$black: #000 !default;

$red: red !default;
$alto: #d9d9d9 !default;
$fb-blue:#3b5998 !default;
$mine-shaft: #232323 !default;
$french-rose: #ec4785 !default;
$alabaster: #f9f9f9 !default;
$wildsand: #f5f5f5 !default;

$primary: $black !default;
$primary-hover: $grey7 !default;
$secondary: $grey4 !default;
$secondary-hover: $grey5 !default;
$light: $grey1 !default;
$tertiary: #c9c9c9 !default;
$tertiary-hover: #f4f3f3 !default;
$body-color: $black !default;
$link-color: $black !default;
$text-muted: $grey4 !default;
$border-color: $alto !default;
$japanese-laurel: #03620a !default;
$snow-drift: #f5f9f5 !default;
$mine-shaft-alpha: #2f2f2f !default;

$light-gray: $grey1 !default;
$slightly-darker-gray: $grey4 !default;
$dark: $mine-shaft !default;
$dark-gray: $grey6 !default;
$darker-gray: $grey7 !default;
$horizontal-rule-grey: $grey3 !default;
$product-number-grey: $grey3 !default;
$horizontal-border-grey: $grey4 !default;
$menu-link: $grey6 !default;
$close-menu-bg: $grey2 !default;
$link-color: $grey6 !default;
$hr-border-color: $alto !default;

$emphasized-link-hover-darken-percentage: 5% !default;

$grid-breakpoints: (
    xs: map-get($breakpoints, 'xs') * 1px,
    sm: map-get($breakpoints, 'sm') * 1px,
    md: map-get($breakpoints, 'md') * 1px,
    lg: map-get($breakpoints, 'lg') * 1px,
    xl: map-get($breakpoints, 'xl') * 1px
) !default;

$container-max-widths: (
    sm: 749px,
    md: 750px,
    lg: 1199px,
    xl: 1200px
) !default;

// Animations
$animation-duration: 0.3s !default;

// Font
$font-family-base: 'ITCAvantGardeGothicStd', Arial, Sans-serif !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-demi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extra-bold: 800 !default;
$headings-font-weight: $font-weight-demi-bold !default;

$font-size-base: 0.75rem !default; //12

$font-size--1: ($font-size-base - 0.0625) !default; //11
$font-size--2: ($font-size-base - 0.125) !default; //10

$font-size-1: ($font-size-base + 0.0625) !default; //13
$font-size-2: ($font-size-base + 0.125) !default; //14
$font-size-3: ($font-size-base + 0.1875) !default; //15
$font-size-4: ($font-size-base + 0.25) !default; //16
$font-size-5: ($font-size-base + 0.3125) !default; //17
$font-size-6: ($font-size-base + 0.375) !default; //18
$font-size-7: ($font-size-base + 0.4375) !default; //19
$font-size-8: ($font-size-base + 0.5) !default; //20
$font-size-11: ($font-size-base + 0.6875) !default; //23
$font-size-12: ($font-size-base + 0.75) !default; //24
$font-size-13: ($font-size-base + 0.8125) !default; //25
$font-size-16: ($font-size-base + 1) !default; //28
$font-size-18: ($font-size-base + 1.125) !default; //30
$font-size-20: ($font-size-base + 1.25) !default; //32
$font-size-23: ($font-size-base + 1.4375) !default; //35
$font-size-28: ($font-size-base + 1.75) !default; //40
$font-size-68: ($font-size-base + 4.25) !default; //80

$font-sizes: (
    h1-xs: $font-size-28,
    h2-xs: $font-size-18,
    h3-xs: $font-size-11,
    h4-xs: $font-size-8,
    h5-xs: $font-size-4,
    h6-xs: $font-size-3,
    p-xs: $font-size-2,
    i-xs: $font-size-6,
    small-xs: $font-size-base,
    h1-sm: $font-size-28,
    h2-sm: $font-size-18,
    h3-sm: $font-size-11,
    h4-sm: $font-size-8,
    h5-sm: $font-size-4,
    h6-sm: $font-size-3,
    p-sm: $font-size-2,
    i-sm: $font-size-6,
    small-sm: $font-size-base,
    h1-md: $font-size-28,
    h2-md: $font-size-18,
    h3-md: $font-size-11,
    h4-md: $font-size-8,
    h5-md: $font-size-4,
    h6-md: $font-size-3,
    p-md: $font-size-2,
    i-md: $font-size-6,
    small-md: $font-size-base,
    h1-lg: $font-size-68,
    h2-lg: $font-size-23,
    h3-lg: $font-size-18,
    h4-lg: $font-size-11,
    h5-lg: $font-size-4,
    h6-lg: $font-size-3,
    p-lg: $font-size-2,
    i-lg: $font-size-6,
    small-lg: $font-size-base,
    h1-xl: $font-size-68,
    h2-xl: $font-size-23,
    h3-xl: $font-size-18,
    h4-xl: $font-size-11,
    h5-xl: $font-size-4,
    h6-xl: $font-size-3,
    p-xl: $font-size-2,
    i-xl: $font-size-6,
    small-xl: $font-size-base
) !default;

// Line height
$headings-line-height: 1.2 !default;
$line-height-base: 1.5 !default;
$icons-line-height: 1em !default;

$line-heights: (
    h1-xs: $headings-line-height,
    h2-xs: $headings-line-height,
    h3-xs: $headings-line-height,
    h4-xs: $headings-line-height,
    h5-xs: $headings-line-height,
    h6-xs: $headings-line-height,
    p-xs: $line-height-base,
    i-xs: $icons-line-height,
    small-xs: $line-height-base,
    h1-sm: $headings-line-height,
    h2-sm: $headings-line-height,
    h3-sm: $headings-line-height,
    h4-sm: $headings-line-height,
    h5-sm: $headings-line-height,
    h6-sm: $headings-line-height,
    p-sm: $line-height-base,
    i-sm: $icons-line-height,
    small-sm: $line-height-base,
    h1-md: $headings-line-height,
    h2-md: $headings-line-height,
    h3-md: $headings-line-height,
    h4-md: $headings-line-height,
    h5-md: $headings-line-height,
    h6-md: $headings-line-height,
    p-md: $line-height-base,
    i-md: $icons-line-height,
    small-md: $line-height-base,
    h1-lg: $headings-line-height,
    h2-lg: $headings-line-height,
    h3-lg: $headings-line-height,
    h4-lg: $headings-line-height,
    h5-lg: $headings-line-height,
    h6-lg: $headings-line-height,
    p-lg: $line-height-base,
    i-lg: $icons-line-height,
    small-lg: $line-height-base,
    h1-xl: $headings-line-height,
    h2-xl: $headings-line-height,
    h3-xl: $headings-line-height,
    h4-xl: $headings-line-height,
    h5-xl: $headings-line-height,
    h6-xl: $headings-line-height,
    p-xl: $line-height-base,
    i-xl: $icons-line-height,
    small-xl: $line-height-base
) !default;

// Bootstrap overrides
$body-bg: $white !default;
$card-cap-bg: $white !default;
$alert-border-radius: 0 !default;
$alert-link-font-weight: $font-weight-medium !default;
$border-radius: 0 !default;

// Breadcrumb
$breadcrumb-padding-y: 1.375rem !default;
$breadcrumb-item-padding: 0.75rem !default;
$breadcrumb-text-color: $secondary !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-font-size: $font-size--1 !default;
$breadcrumb-font-weight: $font-weight-normal !default;
$breadcrumb-text-transform: none !default;
$breadcrumb-divider-font-size: $font-size-8 !default;
$breadcrumb-divider-line-height: 0.75 !default;
$breadcrumb-divider-color: $secondary !default;
$breadcrumb-active-color: $breadcrumb-text-color !default;
$breadcrumb-divider: quote('›') !default;
$breadcrumb-min-visible-breakpoint: lg;

// Modal
$modal-inner-padding: 3rem !default;

$modal-content-border-width: 0 !default;
$modal-content-border-radius: 0 !default;

$modal-header-border-color: $white !default;
$modal-header-padding-y: $modal-inner-padding !default;
$modal-header-padding-x: $modal-inner-padding !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

// Table border
$table-border-color: $grey3 !default;

// Buttons
$input-btn-focus-box-shadow: none !important !default;
$btn-disabled-opacity: 0.4 !default;

// Forms
$form-group-margin-bottom: 1.0625rem !default;
$input-padding-y: 0.5315rem !default;
$input-height: auto !default;
$input-focus-box-shadow: none !default;
$input-focus-border-color: transparent !default;
$input-border-radius: 0 !default;
$input-border-color: $grey3 !default;
$input-color: $primary !default;
$input-font-size: $font-size-1 !default;

$custom-select-padding-y: $input-padding-y !default;
$custom-select-height: $input-height !default;
$custom-select-indicator: str-replace(
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 12'%3e%3cpath transform='translate(20) rotate(90)' fill='#{$secondary-hover}' d='M0,.952.932,0,8.647,7.85.932,15.7,0,14.753l6.778-6.9Z'/%3e%3c/svg%3e"),
    '#',
    '%23'
) !default;

$svg-check: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") !default;
$form-feedback-icon-invalid: '';

// Slick Carousel
$slick-font-path: '/node_modules/slick-carousel/slick/fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: '/node_modules/slick-carousel/slick-carousel/slick/' !default;
$slick-arrow-color: $primary !default;
$slick-arrow-bg: rgba(255, 255, 255, 0.5);

// Color Swatches
$swatch-size: 1.875rem !default;
$swatch-filter-size: 1rem !default;
$swatch-border-color: rgba($black, 0.05) !default;
$swatch-border-width: 0.0625rem !default;
$swatch-border-radius: 0 !default;
$swatch-selected-inner-border-color: $white !default;
$swatch-selected-outer-border-color: $alto !default;
$swatch-selected-border-gap: 0.625rem !default;
$swatch-disabled-opacity: 0.2 !default;
$swatch-disabled-icon-color: false !default;

// Badges
$badge-text-color: $french-rose;

// Spinner
$spinner-size: $font-size-20;
