@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import "~brand_core/mixins/swatch";

#maincontent .container-title {
    text-align: center;
    margin-bottom: 0 !important;

    @include media-breakpoint-up(lg) {
        text-align: left;
        margin-bottom: 1rem !important;
    }
}

.account-back {
    font-size: $font-size--1;
    position: absolute;
    text-transform: uppercase;
    top: 1.8rem;
    z-index: 2;

    i {
        vertical-align: middle;
    }
}

.dashboard-menu {
    border-bottom: 0.0625rem solid $border-color;
    display: flex;
    margin-top: 0.625rem;
    padding-bottom: 1.25rem;
}

.dashboard-menu-item {
    color: $text-muted;
    font-size: $font-size--1;
    text-transform: uppercase;
    position: relative;
    padding: 0 1.25rem;

    &:first-child {
        padding-left: 0;
    }

    &:not(:last-child) {
        &::after {
            content: "";
            width: 0.0625rem;
            height: 100%;
            border-right: 0.0625rem solid $border-color;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &.menu-item-active {
        color: $black;

        &::before {
            left: 50%;
            border-color: transparent transparent currentColor;
            border-style: solid;
            border-width: 0 0.275rem 0.3375rem;
            bottom: -1.25rem;
            content: "";
            height: 0;
            margin-left: -0.3125rem;
            position: absolute;
            width: 0;
        }

        &:first-child {
            &::before {
                margin-left: -1.1125rem;
            }
        }
    }
}

.dashboard-menu-seperator {
    background-color: $alto;
    height: 0.0625rem;
    margin: 3rem 0 1.875rem;
    position: relative;
    width: 100%;

    &::before,
    &::after {
        left: 50%;
        content: "";
    }

    &::before {
        background-color: $black;
        height: 0.0625rem;
        position: absolute;
        transform: translateX(-50%) #{"/*rtl:translateX(40%)*/"};
        width: 6.25rem;
    }

    &::after {
        background-color: $black;
        height: 0.5625rem;
        position: absolute;
        transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
        width: 0.5625rem;
    }
}

.myaccount-welcome {
    font-size: $font-size-13;
    font-weight: $font-weight-demi-bold;
    margin: 1.875rem 0 1.25rem;
}

.myaccount-message {
    p {
        color: $text-muted;
        font-size: $font-size-1;
        margin: 0;

        &:last-child {
            margin-top: 0.9375rem;
        }

        a {
            color: $black;
            font-weight: $font-weight-medium;
            text-decoration: underline;
        }
    }
}

.account-content {
    font-size: $font-size-1;
    margin-bottom: 4.5rem;
}

.address-item {
    @include media-breakpoint-up(lg) {
        &:nth-child(2n) {
            padding-left: 3rem;
        }
    }
    @include media-breakpoint-down(xs) {
        &:not(:last-child) {
            margin-bottom: 2rem;

            &::after {
                content: "";
                height: 0.0625rem;
                border-bottom: 0.0625rem solid $grey3;
                position: absolute;
                left: #{$grid-gutter-width / 2};
                right: #{$grid-gutter-width / 2};
            }
        }
    }
}

.show-no-records {
    .no-records-container {
        display: block !important;
    }
}

.address-detail,
.payment-detail {
    > div {
        font-size: $font-size--1;
        padding-left: 1.8125rem;
    }
}

.address-actions,
.payment-actions {
    text-align: right;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }

    a,
    button {
        font-size: $font-size--1;
        text-transform: none;
    }
}

.link-underlined {
    background: transparent;
    border: none;
    font-weight: $font-weight-medium;
    padding: 0;
    text-decoration: underline;
    text-transform: uppercase;
}

.link-underlined-normal {
    font-weight: $font-weight-normal !important;
}

.order-list-container {
    > div:not(:last-child) .order-list-item {
        border-bottom: 0.0625rem solid $border-color;
    }
}

.order-list-item {
    padding: 1.875rem 0;

    .btn-outline-primary {
        font-size: $font-size-base;
        line-height: 1.33rem;
    }
}

.property-item {
    font-size: $font-size-1;

    @include media-breakpoint-up(sm) {
        &:not(:last-child) {
            margin-right: 1.875rem;
        }
    }

    @include media-breakpoint-only(md) {
        font-size: $font-size-2;
    }
}

.property-phone {
    direction: ltr;
}

.property-key {
    font-weight: $font-weight-medium;
    font-size: $font-size-1;
    line-height: 1.38rem;

    @include media-breakpoint-only(md) {
        font-size: $font-size-2;
    }
}

.property-value {
    line-height: 1.38rem;
}

.modal-footer > :not(:first-child) {
    margin-left: 0.25rem;
}

.modal-footer > :not(:last-child) {
    margin-right: 0.25rem;
}

.order-detail-section {
    position: relative;
    padding: 1.875rem 0;

    @include media-breakpoint-up(md) {
        border-bottom: 0.0625rem solid $border-color;
    }

    &::before {
        content: '';
        border-bottom: 0.0625rem solid $border-color;
        display: block;
        position: absolute;
        bottom: 0;
        left: -0.9375rem;
        right: -0.9375rem;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

.order-detail-section-header {
    font-size: $font-size-2;
    font-weight: $font-weight-demi-bold;
    text-transform: uppercase;
    line-height: 1.29rem;
}

.order-detail-item {
    line-height: 1.38rem;

    &:not(:last-child) {
        margin-right: 1.875rem;
    }

    > span {
        display: block;

        &:first-child {
            font-weight: $font-weight-medium;
            padding-bottom: 0.5rem;
        }

        @include media-breakpoint-only(md) {
            font-size: $font-size-2;
        }
    }
}

.vat-label {
    font-weight: $font-weight-normal;
}

.confirmation-item-image {
    width: 6.25rem;
    height: 6.25rem;
    text-align: center;
    margin-right: 0.625rem;
}

.product-image {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.confirmation-item-description {
    .swatch-circle {
        display: inline-block;
        @include swatch($size: 1.25rem);
    }

    .color-name {
        font-size: $font-size--1;
        font-weight: $font-weight-medium;
        padding-left: 0.5rem;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: $font-size-1;
        }
    }
}

.confirmation-item-name {
    a {
        font-size: $font-size-3;
        font-stretch: condensed;
        font-weight: $font-weight-demi-bold;
        text-transform: uppercase;
    }
}

.mobile-section-header {
    margin-top: 1.875rem;
    padding-top: 1.875rem;
    position: relative;

    @include media-breakpoint-up(lg) {
        border: none;
        margin: 0;
        padding: 0;
    }

    &::before {
        content: '';
        border-bottom: 0.0625rem solid $border-color;
        display: block;
        position: absolute;
        top: 0;
        left: -0.9375rem;
        right: -0.9375rem;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

.mobile-section-header-order {
    margin-top: 1.875rem;
    padding-top: 1.875rem;
    position: relative;

    @include media-breakpoint-up(sm) {
        border: none;
        margin: 0;
        padding: 0;
    }

    &::before {
        content: '';
        border-bottom: 0.0625rem solid $border-color;
        display: block;
        position: absolute;
        top: 0;
        left: -0.9375rem;
        right: -0.9375rem;

        @include media-breakpoint-up(sm) {
            display: none;
        }
    }
}

.wishlist-header {
    border-bottom: 0.25rem solid $primary;
    font-size: $font-size-4;
    font-weight: $font-weight-demi-bold;
    padding-bottom: 0.625rem;
    text-transform: uppercase;
}

.item-horizontal-wrapper {
    padding: 1.875rem 0;
    margin: 0;
    border: none;

    .item-image {
        border: 0.0625rem solid $border-color;
        width: 5.9375rem;
    }

    .item-name {
        font-size: $font-size-3;
        font-weight: $font-weight-demi-bold;
        text-transform: uppercase;
    }

    .item-actions {
        > div {
            position: relative;

            &:not(:first-child) {
                padding-left: 1.25rem;

                &::before {
                    left: 0.5rem;
                    background-color: $primary;
                    border-radius: 50%;
                    content: "";
                    height: 0.25rem;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0.25rem;
                }
            }
        }
    }

    .item-add-update {
        align-items: baseline;
        display: flex;
        justify-content: space-between;

        .btn {
            width: calc(50% - 0.625rem);

            @include media-breakpoint-up(sm) {
                width: 100%;
            }

            @include media-breakpoint-up(lg) {
                width: calc(50% - 0.625rem);
            }
        }
    }

    &:not(:last-of-type) {
        border-bottom: 0.0625rem solid $border-color;
    }
}

.wishlist-footer {
    border-top: 0.25rem solid $primary;
}

.slot-title {
    font-size: $font-size-8;
    font-weight: $font-weight-demi-bold;

    @include media-breakpoint-down(md) {
        font-size: $font-size-4;
    }
}

.category-name {
    font-size: $font-size-3;
    max-width: 90%;
    text-align: center;
    padding: 1rem 0;
}

.track-order-content {
    .track-order-header {
        display: none;
    }

    .btn {
        @include media-breakpoint-up(sm) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}

.error-messaging {
    .alert-success {
        background: $snow-drift;
        border-color: $japanese-laurel;
        color: $japanese-laurel;
    }

    .alert-success button {
        display: none;
    }
}

.confirmation-item-quantity {
    font-size: $font-size-base;
}

.checkbox-custom-label {
    font-size: $font-size-1 !important;
}

.btn-preferences-save {
    @include media-breakpoint-only(md) {
        font-size: $font-size-2;
    }
}

.shipping-method-title {
    @include media-breakpoint-only(md) {
        font-size: $font-size-2;
    }
}

.confirmation-item-quantity-md {
    @include media-breakpoint-only(md) {
        font-size: $font-size-2;
    }
}

.track-order-button {
    @include media-breakpoint-only(md) {
        font-size: $font-size-2;
    }
}

.order-detail-button {
    @include media-breakpoint-only(md) {
        font-size: $font-size-2 !important;
    }
}

.link-underlined-demi {
    font-weight: $font-weight-demi-bold !important;
}

.no-records-container .no-records-row {
    line-height: 1.85rem;
}

.img-credit-card {
    width: auto;
}

.edit-profile-form {
    input[type="email"] {
        pointer-events: none;
        background-color: $grey2;
    }
}
