@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";

[data-action="Case-Create"] {
    .breadcrumb-container {
        background-color: $light;
    }

    .wrapper {
        @include media-breakpoint-up(lg) {
            background-color: $light;
            padding-bottom: 3rem;
        }
    }

    .container-title {
        @include media-breakpoint-up(lg) {
            font-size: $font-size-11;
            margin-bottom: 2.5rem !important;
        }
    }
}
