@charset "UTF-8";

@import "variables";

@import "~brand_core/bootstrapCustom";
@import "~base/bootstrapOverrides";

@page {
    @bottom-center {
        content: element(pageFooter);
    }

    .invoice-footer {
        position: running(pageFooter, last);
    }
}

.invoice-footer {
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    page-break-inside: avoid;

    div {
        font-size: 0.5625rem;
    }
}

.footer-logo {
    img {
        width: 7.8125rem;
        height: 1.375rem;
        max-width: 7.5rem;
    }
}

.header-logo {
    display: flex;
    justify-content: center;
    padding: 0 0 2rem;

    img {
        width: 9.875rem;
        height: 1.75rem;
    }
}

div {
    font-size: $font-size--1;
    line-height: 0.9375rem;
}

.table {
    margin-bottom: 0;
}

table {
    margin: 0 !important;
    font-size: $font-size--2;
    width: 100% !important;
    border: solid 0.0625rem $grey4;

    th,
    td {
        text-align: center;
        padding: 0 0.5625rem 0.4375rem !important;
    }

    th:nth-child(1) {
        padding-left: 1.125rem !important;
    }

    th:last-child {
        padding-right: 1rem !important;
    }

    td:nth-child(1) {
        padding-left: 1.125rem !important;
    }

    td:last-child {
        padding-right: 1rem !important;
    }

    td {
        padding-top: 0.5rem !important;
    }
}

.min-col {
    width: 2.5rem !important;
}

.first-col {
    width: 10.625rem !important;
    text-align: left !important;

    @include media-breakpoint-down(md) {
        width: 25% !important;
        min-width: 5.625rem !important;
    }
}

.table-first {
    padding-top: 0.8125rem;
}

.table-second {
    margin-top: 1rem !important;
}

.invoice-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.invoice-container {
    padding: 0 2rem !important;
}

.invoice-customer {
    .invoice-address:nth-child(1) {
        padding-right: 0 !important;
    }

    .invoice-address-second {
        padding-left: 1.875rem;
    }

    .invoice-brand-info {
        padding-top: 2rem;
        text-align: end;
        padding-left: 0;
    }
}

.invoice-customer-info {
    padding-top: 2.625rem;
    padding-bottom: 0.8125rem;
}

.invoice-header {
    font-size: $font-size-7;
    font-weight: $font-weight-demi-bold;
    padding: 2rem 0 1.25rem;
}

.invoice-address {
    div {
        word-break: break-word;
    }

    div:nth-child(1) {
        font-size: 0.75rem;
        font-weight: $font-weight-demi-bold;
        padding-bottom: 0.25rem;
    }
}

#DW-SFToolkit {
    display: none;
}

.invoice-reason {
    padding-top: 1.25rem;
    align-self: flex-start;
}

.invoice-reference {
    padding-top: 1.5rem;
    padding-bottom: 1.8125rem;
    align-self: flex-end;
    page-break-inside: avoid;
}

.invoice-reference-w-reason {
    padding-top: 3.4375rem;
    align-self: flex-end;
    page-break-inside: avoid;
}

.invoice-terms-conditions {
    page-break-inside: avoid;
    padding-bottom: 6.25rem;
}

.invoice-terms-conditions-header {
    font-weight: $font-weight-demi-bold;
    font-size: 0.8125rem;
}

.invoice-terms-conditions-body {
    font-size: 0.625rem;
}

.invoice-address-small {
    font-size: 0.5rem;
    text-align: right;
    padding-right: 0.75rem;
}

.invoice-address-small-second {
    text-align: right;
    padding-right: 1.125rem;
}

.table {
    margin: 0 1rem;
}

.table th {
    vertical-align: middle !important;
}

.table td {
    padding-top: 0.25rem !important;
    padding-bottom: 1.75rem !important;
}

.sub-header {
    padding-bottom: 0.25rem;
}
