@import "./variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/utilities/responsiveUtils";
@import '~brand_core/utilities/swatch';
@import "~brand_core/mixins/mixinsGlobal";
@import "./components/libDriftZoom";
@import "./components/quantitySelector";

.product-name {
    font-weight: $font-weight-demi-bold;
    font-size: $font-size-6;
    margin-bottom: 2rem;

    @include media-breakpoint-up(sm) {
        font-size: $font-size-11;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-18;
        margin-bottom: 0.75rem;
    }
}

.product-engravable-badge {
    margin-bottom: 1rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 0.25rem;
    }

    &::after,
    &:first-child::before {
        content: '-';
        display: inline-block;
        margin: 0 0.125rem;
    }
}

.product-engravable-badge,
.product-detail .badge-item {
    font-weight: $font-weight-demi-bold;
    font-size: $font-size-base;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-2;
    }
}

.add-to-wishlist-container {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0.5rem;
    z-index: 1;

    .btn-link {
        display: flex;
        align-items: center;
        padding: 0;

        &:hover {
            text-decoration: none;

            .wishlist-text,
            .go-to-wishlist {
                margin-right: 0.5rem;
            }

            span {
                margin-right: 0.25rem;

                @include media-breakpoint-up(lg) {
                    font-weight: $font-weight-medium;
                    display: inline-block !important;
                }
            }
        }

        i::before {
            font-size: 1.35rem;
        }
    }
}

.product-detail {
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .badges-container {
        height: auto;
        margin-top: 0;
        margin-bottom: 0.75rem;
    }

    .badges {
        @include media-breakpoint-up(lg) {
            justify-content: flex-start;
        }

        .badge-item {
            font-size: $font-size--1;
        }
    }

    .write-review-btn {
        > .btn {
            border: 0;
            display: inline-block;
            color: $primary;
            background-color: transparent;
            margin-left: 0.5rem;
            text-decoration: underline;
            width: auto;
            font-size: $font-size--1;
        }
    }

    .ratings-container {
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.8125rem;
        height: auto;
        justify-content: center;

        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
            justify-content: flex-start;
        }

        > .btn {
            border: 0;
            display: inline-block;
            color: $primary;
            background-color: transparent;
            margin-left: 0.5rem;
            text-decoration: underline;
            width: auto;
            font-size: $font-size--1;
        }
    }

    p {
        font-size: $font-size--1;
    }

    .rating-stars {
        .icon-star::before,
        .icon-star-empty::before,
        .icon-star-fill-half::after,
        .icon-star-fill-half::before {
            font-size: $font-size--2;

            @include media-breakpoint-up(xl) {
                font-size: $font-size-4;
            }
        }

        .icon-star-fill-half::after {
            @include media-breakpoint-up(xl) {
                top: auto;
            }
        }
    }

    .review-count,
    .rating-summary {
        font-size: $font-size-1;
        margin-left: 0.25rem;
    }

    .tab-pane {
        h6 {
            color: $primary;
            font-size: $font-size-base;
        }
    }

    .nav-tabs-alpha {
        @include media-breakpoint-down(md) {
            border: 0;
        }

        .nav-item:not(:last-child) .nav-link {
            padding-left: 0;
            padding-right: 0;
            margin-right: 1.5rem;
        }
    }
}

.product-tabs-content {
    font-size: $font-size-2;
    line-height: $line-height-base;
}

.product-image-carousel {
    position: relative;
    margin: 0 auto 2rem;
    max-width: 18.75rem;

    @include media-breakpoint-up(lg) {
        max-width: 100%;
    }

    .slick-slide > div {
        display: block;
    }
}

.product-images {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 0 1.5rem;

    @include media-breakpoint-up(lg) {
        padding: 0 5.6rem 0 1.6rem;
    }

    .slick-slide {
        padding-left: 0.0625rem;
        padding-right: 0.0625rem;
    }

    .slick-next,
    .slick-prev {
        @include rtl-flip;

        visibility: visible;
        width: 2rem;

        @include media-breakpoint-up(lg) {
            display: none !important;
        }
    }

    .slick-prev {
        left: -0.5rem;
        right: auto;
    }

    .slick-next {
        right: -0.5rem;
        left: auto;
    }
}

.slick-initialized,
.slick-destroyed {
    &.product-images {
        overflow: initial;
        white-space: normal;
    }
}

.product-thumbnails {
    position: relative;
    text-align: center;

    &::after {
        content: '';
        border-left: 0.25rem solid $white;
        border-right: 0.25rem solid $white;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .slick-slide {
        margin: 1rem 0;

        img {
            width: auto !important;
            max-height: 100%;
            max-width: 100%;
        }
    }

    .slick-list {
        margin: -1rem 0;
    }

    .slick-slide > div {
        border: 0.0625rem solid $grey3;
        overflow: hidden;
        margin: 0 auto;

        @include media-breakpoint-up(lg) {
            height: 4.375rem;
        }

        @include media-breakpoint-up(xl) {
            height: 4rem;
        }
    }

    .slick-current > div {
        border-color: $dove-gray;
    }

    .slick-prev,
    .slick-next {
        visibility: visible;
    }

    .slick-slide > div,
    .slick-prev,
    .slick-next {
        @include media-breakpoint-up(lg) {
            width: 4.375rem;
        }

        @include media-breakpoint-up(xl) {
            width: 3.75rem;
        }
    }
}

.swatch-list {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0.5rem 0.0625rem;
    max-height: 7.25rem;
    transition: height $animation-duration;

    &.open {
        height: auto;
    }

    .swatch-item {
        @include swatch($white, 2.125rem);

        margin: 0.5rem;
    }

    [disabled],
    .swatch-item.unselectable {
        cursor: default;
        pointer-events: none;
        opacity: 0.2;
    }
}

.swatch-list-show-more {
    background: $white;
    margin-top: -0.3125rem;
    position: relative;
    text-align: center;

    &::after {
        content: '';
        background-color: $border-color;
        height: 0.125rem;
        margin-top: -0.125rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
    }

    .btn-link {
        background: $white;
        color: $primary;
        font-size: $font-size-1;
        font-weight: $font-weight-normal;
        padding: 0.75rem 0.5rem;
        position: relative;
        z-index: 1;
        text-decoration: none !important;
    }
}

.product-info {
    .attribute {
        margin-bottom: 1.5rem;

        .filter-option-inner-inner,
        .dropdown-item .text {
            display: flex;
            justify-content: space-between;
            align-items: center;

            small.text-muted {
                color: $secondary !important;
                font-size: $font-size--2;
                font-weight: $font-weight-medium;
            }
        }

        .dropdown-item.disabled:not(.active) {
            small.text-muted {
                color: $grey3 !important;
            }
        }
    }

    .attribute-list-color {
        .swatch-circle {
            @include swatch($selected-border-gap: 0.25rem);
        }
    }

    .attribute-dropdown-color {
        position: relative;
        z-index: 1;

        .btn-select {
            color: $primary;
            padding: 0.5rem;
            background-size: 0.625rem;
            background-position: right 1rem top 0.45rem;
        }

        .swatch-circle {
            margin-right: 1rem;
            @include swatch($size: 1.25rem);

            &:hover::after,
            &.selected::after {
                border: none;
                display: none;
            }
        }
    }

    .attribute-colorfamilies {
        margin-bottom: 1.25rem;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0.0625rem;

        @include media-breakpoint-up(lg) {
            &.attribute-colorfamilies--multiply-rows {
                overflow: visible;

                .attribute-colorfamilies-list {
                    flex-wrap: wrap;

                    .nav-tabs {
                        border-bottom: 0;
                    }

                    .nav-item {
                        margin-bottom: 0;

                        &:not(:last-child):nth-child(4n) {
                            border-right: 0.0625rem solid $border-color;
                        }
                    }

                    .nav-link {
                        border-bottom-color: transparent;

                        &.active {
                            border-bottom: 0.0625rem solid $black;
                        }
                    }
                }
            }
        }
    }

    .attribute-colorfamily-title {
        text-transform: uppercase;

        &:focus {
            outline: none !important;
        }
    }

    .attribute-colorfamilies-list {
        flex-wrap: nowrap;
    }

    .attribute-colorfamily {
        min-width: 5.625rem;

        @include media-breakpoint-up(lg) {
            min-width: 8.4375rem;
        }
    }

    .swatches {
        background: $white;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: auto;
        padding: 0 0.5rem;
        position: absolute;
        z-index: 1;
        height: 0;
        opacity: 0;
        max-height: 19rem;
        border: 0.0625rem solid $input-border-color;
        margin-top: -0.0625rem;
        width: 100%;

        .btn {
            &:hover {
                background-color: $light;

                .swatch-circle {
                    border: 0.0625rem solid $white;
                }
            }
        }
    }

    .open {
        .swatches {
            height: auto;
            opacity: 1;
        }
    }

    .attribute-container {
        margin: 0 auto;
        width: calc(100% - 3.75rem);
        overflow: hidden;
        white-space: nowrap;

        @include media-breakpoint-up(xl) {
            width: calc(100% - 2rem);
        }

        &.slick-destroyed,
        &.slick-initialized {
            overflow: initial;
            white-space: normal;
        }

        .slick-slide {
            padding: 0 0.3125rem;
        }

        .slick-track {
            margin: 0;

            .btn-select-attribute {
                margin: 0;
            }
        }

        .slick-next,
        .slick-prev {
            @include rtl-flip;

            width: 2rem;

            &.slick-disabled {
                visibility: hidden;
            }

            i::before {
                font-size: 0.75rem;
            }

            &:focus {
                outline: none !important;
            }
        }

        .slick-prev {
            left: -2rem !important;
            right: auto;
        }

        .slick-next {
            right: -2rem !important;
            left: auto;
        }

        .attribute {
            margin-bottom: 0.9375rem;
        }
    }

    .price-container,
    .attribute-container {
        margin-bottom: 1rem;
    }
}

.product-cta {
    border-top: 0.0625rem solid $grey3;
    border-bottom: 0.0625rem solid $grey3;
    position: absolute;
    margin: -0.0625rem 0 0;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    background: $white;

    > .container {
        display: flex;
    }

    .image-container {
        min-width: 3rem;
        width: 3rem;
        height: 100%;
        min-height: 100%;
    }

    .info-container {
        width: calc(100% - 3rem);
    }

    .name-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0.5rem;
        width: 15.625rem;

        .product-name {
            font-size: $font-size-base;
            font-weight: $font-weight-demi-bold;
            padding-right: 0;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .description-container {
            text-transform: uppercase;
            color: $black;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 0 !important;
            height: 1rem;

            p {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .add-to-wishlist-container {
        border-left: 0.0625rem solid $grey3;
        border-right: 0.0625rem solid $grey3;
        position: relative;
        top: 0;
        align-items: center;
        justify-content: center;

        .add-to-wishlist {
            display: block !important;
            margin-left: 0.5rem;

            .add-to-text {
                display: none;
            }
        }

        a.btn-link {
            padding: 0.5rem;

            .go-to-wishlist {
                display: block !important;
                margin-left: 0.2rem;
            }
        }

        .btn-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            width: initial;
            padding: 0.5625rem  1rem 0.5rem;
            border: 0.0625rem solid $grey3;
            margin: 0 !important;

            &:hover {
                color: $grey4;

                span {
                    margin-right: 0;
                }

                .add-to-text {
                    display: none !important;
                }
            }
        }
    }

    .attributes-container {
        display: flex;
        margin-top: 0;
        width: 70%;

        .attribute {
            margin-bottom: 0;
        }

        .attribute-container {
            margin-bottom: 0;
            width: 100%;

            .slick-track {
                width: 100% !important;
                display: flex;
            }

            .slick-slide {
                width: auto !important;

                button {
                    padding: 0.375rem 0.75rem;
                    font-size: $font-size-base;
                }

                .attribute-price {
                    display: none !important;
                }
            }
        }

        .attributes-holder {
            display: flex;
            align-items: center;
            width: 100%;

            .attribute-colorfamilies {
                display: none;
            }
        }

        .attribute-list-size {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .attribute-dropdown-color .btn-select {
            padding: 0.625rem 1.5rem 0.5625rem 0.625rem;
            margin-top: 0 !important;
        }

        .attribute-list-color {
            display: none;
        }

        .attribute-dropdown-color {
            margin: 0 1rem;
            width: 100%;
        }
    }

    .add-to-cart-container {
        min-height: 0;
    }

    .btn-container {
        align-self: center;

        .price-container {
            background: $black;
        }

        .product-availability {
            display: none;
        }

        .quantity-container {
            margin: 0 1rem;
        }

        .quantity {
            padding: 0.625rem;
        }

        .cart-and-ipay,
        .add-to-cart-container,
        .back-in-stock-container {
            margin-bottom: 0;
        }
    }
}

.availability-messages {
    font-size: $font-size--1;
    text-align: right;
    padding: 0.5rem 0;

    > div {
        display: inline;
    }
}

.add-to-cart-container {
    display: flex;
    margin-bottom: 1.5rem;
    min-height: 3.125rem;

    @include media-breakpoint-down(md) {
        background-color: $white;
        margin-bottom: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .quantity {
        @include media-breakpoint-down(md) {
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
        }
    }

    .cart-and-ipay,
    .price-container,
    .back-in-stock-container {
        flex: 1;
    }

    .price-container {
        background-color: $mine-shaft;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        .price {
            font-size: $font-size-base rtl($font-size-2);
        }

        .range,
        .sales {
            color: $white;
        }

        .sales {
            font-weight: $font-weight-medium;
        }

        .range {
            @include media-breakpoint-down(md) {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
            }
        }
    }
}

.product-available {
    .shitscore {
        display: none;
    }
}

.product-unavailable {
    .price-container {
        background-color: $secondary;
        flex: unset;
        width: 28%;
    }

    .quantity-container {
        display: none;
    }

    .shitscore {
        width: 25%;
        background: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            border-bottom: 0.0625rem solid $white;
            width: 1rem;
            height: 1rem;
            margin-bottom: 0.25rem;
        }
    }
}

.cart-and-ipay {
    .text-danger {
        font-size: $font-size--1;
        margin-bottom: 0.5rem;
        position: absolute;

        @include media-breakpoint-down(md) {
            top: -1rem;
            right: 0.625rem;
            left: 0;
            text-align: right;
            background: $white;
        }
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: $font-size--1;

        i::before {
            font-size: $font-size-2;
        }
    }
}

.back-in-stock-container {
    &:not(.d-none) + .cart-and-ipay {
        display: none;
    }

    .alert {
        margin-bottom: 2rem;
    }
}

.back-in-stock-modal {
    .modal-title {
        font-family: $font-family-base;
        font-size: $font-size-4;
        font-weight: $font-weight-medium;
        margin: 2rem 0 0;
        text-transform: uppercase;

        &::after {
            display: none;
        }
    }

    .modal-body {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .modal-footer {
        padding-top: 0;

        .btn {
            margin-top: 0.5rem;
        }
    }
}

.availability-messages {
    > .btn {
        font-size: $font-size--1;
        padding: 0.75rem 0.3125rem 0.6875rem;
    }
}

.apple-pay-pdp {
    padding: 0;
    display: block;
}

.action-container {
    margin-bottom: 1.5rem;

    .link {
        i::before {
            color: $secondary;
            font-size: $font-size-12;
        }
    }
}

.giftcard-form {
    .custom-control {
        padding-left: 0;
    }
}

.callout,
.box-details,
.box-settings {
    background-color: $light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.72rem 0.9375rem;
    margin-bottom: 0.625rem;
    min-height: 2.625rem;

    .link {
        margin-left: 0.9375rem;
    }
}

.box-details,
.box-settings {
    display: none;
    position: relative;
    min-height: 0;
    top: -0.5625rem;
    margin-bottom: 0.0625rem;

    > i {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        cursor: pointer;

        &::before {
            font-size: $font-size-base;
        }
    }

    small {
        font-size: $font-size--1;
    }
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-10;
    margin-bottom: 0.5rem;

    a {
        margin: 0 0.75rem;

        &:hover {
            text-decoration: none;
        }
    }
}

.manufacturer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(xl) {
        margin-bottom: 2.25rem;
    }
}

.manufacturer-info-label {
    font-size: $font-size--4;
    font-weight: $font-weight-semi-bold;
    margin-right: 0.25rem;
}

.manufacturer-sku {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size--4;
}

label.color ~ a:hover {
    // Removes weird dash after the swatch circle on hover.
    text-decoration: none;
}

.complementary-cta {
    text-align: center;

    @include media-breakpoint-up(md) {
        margin-top: 2rem;
    }

    @include media-breakpoint-up(xl) {
        margin-top: auto;
        margin-bottom: 1.25rem;
        text-align: left;
    }

    > .btn {
        max-width: 20.625rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.complementary-total-price {
    background: $mine-shaft;
    color: $white;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    padding: 0.75rem 0.5rem;
    min-width: 36%;
}

.complementary-total-list-price {
    color: $grey4;
    font-size: $font-size--2;
    font-weight: $font-weight-medium;
    text-decoration: line-through;
}

.complementary-products {
    .product .tile-body {
        padding-bottom: 0;
    }
}

.price {
    font-size: $font-size-11;
}

.price-main {
    .price > span > span {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
    }

    .strike-through {
        font-size: $font-size-3;
        margin-right: 0;
    }
}

.product-options {
    margin-top: 1.25em;

    .quantity {
        bottom: 0;
        min-width: 6.25em;
        padding-left: 0.938em;
        padding-right: 0.938em;
        position: absolute;
        right: 0;
    }
}

.size-chart {
    .size-chart-collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);

        &.active {
            max-height: 100%;
            transition-timing-function: ease-in-out;
        }
    }
}
