@each $bp in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($bp) {
        // Text color utilities
        .text-#{$bp}-white {
            color: $white !important;
        }

        .text-#{$bp}-black {
            color: $black !important;
        }

        .text-#{$bp}-primary {
            color: $primary !important;
        }

        .text-#{$bp}-secondary {
            color: $secondary !important;
        }

        .text-#{$bp}-tertiary {
            color: $tertiary !important;
        }

        // Background color utilities
        .bg-#{$bp}-white {
            background-color: $white !important;
        }

        .bg-#{$bp}-black {
            background-color: $black !important;
        }

        .bg-#{$bp}-primary {
            background-color: $primary !important;
        }

        .bg-#{$bp}-secondary {
            background-color: $secondary !important;
        }

        .bg-#{$bp}-tertiary {
            background-color: $tertiary !important;
        }

        // Border color utilities
        .border-#{$bp}-white {
            border-color: $white !important;
        }

        .border-#{$bp}-black {
            border-color: $black !important;
        }

        .border-#{$bp}-primary {
            border-color: $primary !important;
        }

        .border-#{$bp}-secondary {
            border-color: $secondary !important;
        }

        .border-#{$bp}-tertiary {
            border-color: $tertiary !important;
        }
    }
}
