#{$brand-page-type-2} {
    .product-detail {
        @include media-breakpoint-only(xs) {
            margin-top: 1.5625rem;
        }
    }

    &.page-pdp {
        .recommendations {
            .recommendation-title {
                color: $grey5;
            }
        }

        .complementary-container {
            .product-tile {
                .add-to-cart-btn-container {
                    display: block;
                }
            }
        }
    }

    .product-detail .product-main-info {
        .product-name,
        .product-brand,
        .badges-container,
        .product-short-description,
        .prices-add-to-cart-actions,
        .prices-add-to-cart-actions .price {
            @include media-breakpoint-up(lg) {
                text-align: left;
            }
        }

        .product-name {
            margin-bottom: 0;
        }

        .attributes-container,
        .product-badge-guaranteed {
            @include media-breakpoint-up(lg) {
                justify-content: flex-start;
            }
        }

        .swatches-container {
            margin-bottom: 1.25rem;
        }

        .attribute-color-container {
            .view-container {
                position: static;
            }

            .atribute-title .select-shade {
                @include media-breakpoint-up(lg) {
                    margin-left: 0;
                }
            }

            .swatches,
            .swatches-all {
                margin-left: -0.5rem;
            }

            .swatch-circle,
            .swatch-filter {
                &::after {
                    border-color: transparent;
                }

                &.selected::after {
                    border-color: $black;
                }
            }
        }

        .product-name,
        .product-secondary-name,
        .product-brand {
            font-family: $brand-page-type-2-font rtl(#{$brand-page-type-2-font-rtl});
            color: $black;
        }

        .product-brand {
            @include media-breakpoint-up(lg) {
                font-size: fz(p25);
            }
        }

        .back-in-stock-container {
            .btn-outline-primary {
                color: $black;
                border-color: $black;
            }

            .btn {
                &:hover {
                    color: $white;
                    background-color: $black;
                }

                &:focus {
                    box-shadow: none;
                }

                &:active {
                    color: black;
                    background-color: transparent !important;
                    border-color: $black !important;
                    box-shadow: none !important;
                }
            }
        }

        .product-name {
            font-weight: $font-weight-extra-bold;

            @include media-breakpoint-up(lg) {
                font-size: fz(p20);
            }
        }

        .product-name-container {
            margin-bottom: 0.875rem;
        }

        .product-secondary-name {
            margin-top: 0.875rem;
            text-transform: uppercase;
            font-size: fz(h3);

            @include media-breakpoint-down(md) {
                text-align: center;
            }
        }

        .product-info-container-top {
            display: flex;
            flex-direction: column-reverse;
            padding-top: 0.625rem;

            @include media-breakpoint-up(lg) {
                padding-top: 0;
            }
        }

        .product-badge-guaranteed {
            font-family: ff(base);
        }

        .badges-container {
            margin-top: 0.9375rem;
        }

        .badges {
            .badge-item {
                padding: 0;
                color: $alto-light;
                font-weight: $font-weight-normal;
            }
        }

        .product-short-description {
            font-size: fz(body);
        }

        .cart-and-ipay {
            margin: 0;
            padding-top: 0;
        }

        .prices-add-to-cart-actions {
            .sales {
                @include media-breakpoint-up(lg) {
                    justify-content: flex-start;
                }
            }
        }

        .product-carousel {
            .product-thumbnails-mobile {
                .slick-dots-item {
                    background: transparent;
                    border: 0.0625rem solid $black;
                }

                .slick-slide {
                    &.slick-current .slick-dots-item {
                        background-color: $black;
                    }
                }
            }
        }
    }

    .btn-primary {
        &,
        &:hover {
            background-color: $black;
            border-color: $black;
            box-shadow: none;
        }

        &:focus {
            box-shadow: none;
        }
    }

    // Product images carousel

    .product-carousel {
        display: block;

        .product-image-carousel {
            float: none;
            margin: 0 auto;

            .product-images {
                .slick-arrow {
                    visibility: visible;
                    display: block !important;

                    &.slick-disabled {
                        visibility: hidden;
                    }

                    &:focus {
                        outline: none !important;
                    }
                }

                .slick-prev {
                    left: -3.5rem;
                    right: auto;

                    /* rtl:raw:
                        left: -3.5rem;
                        right: auto;
                    */
                }

                .slick-next {
                    right: -3.5rem;
                    left: auto;

                    /* rtl:raw:
                        right: -3.5rem;
                        left: auto;
                    */
                }
            }
        }

        .product-thumbnails {
            position: static;
            transform: none;
            height: auto;
            width: 10.125rem;
            display: block;
            margin-left: auto;
            margin-right: auto;

            @include media-breakpoint-down(md) {
                display: none;
            }

            .slick-slide {
                height: auto;
                margin: 0 0.3125rem;
                width: 2.8125rem;
                max-width: 2.8125rem;
                border: 0.0625rem solid transparent;
                padding: 0.125rem;
                transition: border-color $animation-duration ease-in-out;

                > div {
                    border: 0.0625rem solid $gallery;
                }

                &.slick-current {
                    border-color: $black;
                }
            }

            .product-thumbnail-image {
                max-height: 2.5rem !important;
                width: 2.5rem !important;
            }
        }
    }
}
