#{$brand-page-type-2} {
    .product .product-tile {
        font-family: $brand-page-type-2-font rtl(#{$brand-page-type-2-font-rtl});

        .add-to-cart-btn-container,
        .swatches-container,
        .ratings-container {
            display: none;
        }

        .tile-body {
            padding-bottom: 1.5625rem;
            max-width: 100%;
        }

        .brand-container {
            margin-bottom: 0.375rem;

            .brand-name {
                color: $black;
            }
        }

        .name-container {
            margin-bottom: 0.0625rem;
            height: 1.5rem;

            .link {
                color: $black;
                height: 1.125rem;
                font-size: fz(h4);
                font-weight: 600;
                line-height: 1.29;
                letter-spacing: normal;
                overflow: hidden;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .product-tile-secondary-name {
            color: $black;
            font-size: fz(h4);
            line-height: 1.14;
            text-transform: none;
            height: 1.875rem;

            /* rtl:raw:
                height: 2.5rem;
            */

            @include media-breakpoint-down(xs) {
                overflow: hidden;
            }
        }

        .price-container {
            margin-top: 0.75rem;
        }

        .price .sales {
            color: $black;
            font-size: fz(h4);
        }
    }

    .global-carousel {
        .product {
            max-width: 100%;
        }

        .slick-track {
            white-space: normal;
        }
    }
}
