@import "../../../variables";
@import "../../../api/all";
@import "bootstrap/scss/mixins/breakpoints";

.image-circle {
    border-radius: 50%;
    display: inline-block;
    height: 4.6875rem;
    margin: 0;
    overflow: hidden;
    width: 4.6875rem;

    @include media-breakpoint-up(md) {
        height: 7.5rem;
        width: 7.5rem;
    }

    .common-image-component {
        height: 100%;
        max-width: inherit;
        object-fit: contain;
    }

    .image-heading-container {
        display: none;
    }
}

.brand-page {
    .ITC-container {
        .image-heading-link {
            display: block;

            &:hover {
                text-decoration: none;
            }
        }

        .ITC-image {
            width: 100%;
        }
    }

    .image-heading-container {
        font-size: fz(p16);
        font-weight: $font-weight-normal;
        color: $secondary;
        text-transform: uppercase;
        padding: 0.75rem 0;
        text-align: left;

        @include media-breakpoint-up(xl) {
            font-size: fz(p17);
            font-weight: $font-weight-bold;
            text-align: center;
        }
    }
}
