@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../../../api/all";

.gifting-guide {
    font-family: ff(base);
    overflow: hidden;
    padding: 1.5625rem 0 1.5rem;
    position: relative;
    text-align: center;

    @include media-breakpoint-up(md) {
        padding: 1.5625rem 0 1.5rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 2.625rem 0 2.5625rem;
    }

    &::after {
        background: rgba($white, 0.75);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .gifting-guide-title {
        font-family: ff(base);
        font-size: fz(h3);
        font-weight: $font-weight-bold;
        letter-spacing: normal;
        line-height: $font-lh--2;
        margin-bottom: 0.5625rem;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            margin-bottom: 0.5rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: fz(p23);
        }
    }

    .gifting-guide-description {
        font-family: ff(base);
        font-size: fz(h4);
        letter-spacing: normal;
        font-weight: $font-weight-normal;
        line-height: $font-lh--4;
        margin-bottom: 1.25rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 1.3125rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 1.25rem;
        }
    }

    .gifting-guide-actions {
        .btn-outline-primary {
            min-width: 10rem;
        }
    }

    .gifting-guide-background {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        width: 100%;
    }

    .gifting-guide-content {
        position: relative;
        z-index: 2;
    }

    + .container-divider {
        margin: 1.875rem auto;
        margin-top: 2.5rem;

        @include media-breakpoint-up(md) {
            margin: 1.875rem auto;
        }

        @include media-breakpoint-up(xl) {
            margin: 2.5rem auto 2.5625rem;
        }
    }
}
