@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../../../api/all";

.experience-component {
    color: $secondary;
    text-align: center;

    .container-title {
        font-size: fz(h3);
        font-weight: $font-weight-medium;
        letter-spacing: $font-ls-1;
        line-height: $font-lh--2;
        margin-bottom: 1.25rem;

        @include media-breakpoint-up(md) {
            font-size: fz(h2);
        }

        &::after {
            display: none;
        }
    }

    .container-description {
        font-size: fz(h4);
        font-weight: normal;
        line-height: $font-lh--4;
    }

    .common-image-component {
        max-width: 100%;
    }

    .container-divider {
        background: $tertiary;
        display: block;
        height: 0.0625rem;
        width: 100%;
    }
}

.experience-component {
    &:last-child {
        .container-divider {
            display: none;
        }
    }

    .container-actions {
        .btn {
            font-size: fz(body);
            font-weight: $font-weight-medium;
            letter-spacing: normal;
            line-height: $font-lh--3;
            text-decoration: underline;
            text-transform: uppercase;
            padding: 0.3125rem;
        }
    }
}

.product-carousel-container {
    margin-bottom: 2rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 3.25rem;
    }
}
