@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../../../api/all";

.mobile-apps {
    padding-top: 2.625rem;
    padding-bottom: 1.875rem;

    .mobile-apps-right-picture,
    .mobile-apps-left-picture {
        display: none;
    }

    @include media-breakpoint-up(md) {
        .mobile-apps-left-picture {
            display: block;
        }
    }

    @include media-breakpoint-up(lg) {
        .mobile-apps-right-picture {
            display: block;
        }
    }

    .mobile-apps-central-image {
        display: block;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .container-description-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }

    .mobile-apps-title {
        font-size: fz(h3);
        font-weight: $font-weight-bold;
        letter-spacing: normal;
        line-height: $font-lh--2;
        margin-bottom: 0.625rem;
        text-align: center;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: fz(p23);
            font-weight: $font-weight-medium;
            margin-bottom: 0.5625rem;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 0.625rem;
        }
    }

    .mobile-apps-image-link {
        max-width: 5.75rem;

        @include media-breakpoint-up(md) {
            max-width: 8.1875rem;
        }

        @include media-breakpoint-up(lg) {
            max-width: 10rem;
        }

        .mobile-apps-widget-img {
            width: 100%;
        }
    }

    .mobile-apps-image-link-left {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    .container-actions {
        margin-top: 2.3125rem;

        @include media-breakpoint-up(md) {
            margin-top: 2.5rem;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }

        .btn-primary {
            min-width: 9.8125rem;

            @include media-breakpoint-up(md) {
                width: 100%;
            }
        }
    }

    .mobile-apps-description {
        font-size: fz(h4);
        font-weight: $font-weight-normal;
        letter-spacing: normal;
        line-height: $font-lh--4;
        margin-bottom: 1.125rem;
        text-align: center;

        @include media-breakpoint-up(md) {
            margin-bottom: 1.625rem;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 2.875rem;
        }
    }

    .mobile-apps-images-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1.8125rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(lg) {
            justify-content: space-between;
        }

        .mobile-apps-widget-img {
            border-radius: 0.625rem;
        }
    }
}
