@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../../../api/all";

.top-categories {
    padding: 1.875rem 0;
    text-align: center;

    @include media-breakpoint-up(xl) {
        padding: 2.5rem 0.9375rem;
        max-width: 65.625rem;
    }

    @include media-breakpoint-down(sm) {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }

    .container-title {
        @include media-breakpoint-up(md) {
            font-size: fz(p23);
        }
    }

    .top-categories-container {
        margin-bottom: 0;
    }

    .experience-topCategory {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include media-breakpoint-up(xl) {
            justify-content: space-around;
            margin-bottom: 0.125rem;
        }
    }

    .experience-component {
        text-transform: uppercase;

        &:nth-child(n+3) {
            display: none;
        }

        @include media-breakpoint-up(md) {
            &:nth-child(n) {
                display: block;
            }

            &:nth-child(n+4) {
                display: none;
            }
        }

        @include media-breakpoint-up(xl) {
            &:nth-child(n) {
                display: block;
            }

            &:nth-child(n+5) {
                display: none;
            }
        }
    }

    .image-component {
        .ITC-image {
            height: 9.8125rem;
            object-fit: cover;
            width: 9.8125rem;

            @include media-breakpoint-up(md) {
                height: 13.125rem;
                width: 13.125rem;
            }

            @include media-breakpoint-up(xl) {
                height: 10rem;
                width: 10rem;
            }
        }

        .common-image-component {
            display: block;
            margin-bottom: 0.625rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 0.8125rem;
            }

            @include media-breakpoint-up(xl) {
                margin-bottom: 0.5625rem;
            }
        }

        .image-heading-link {
            color: $secondary;
            font-size: fz(body);
            font-weight: $font-weight-medium;
            letter-spacing: normal;
            line-height: $font-lh--4;
            text-align: center;
            text-transform: uppercase;

            @include media-breakpoint-up(md) {
                font-size: fz(h3);
            }

            @include media-breakpoint-up(xl) {
                font-size: fz(h4);
            }
        }

        .image-heading-container {
            padding: 0;
            margin-top: 0.6875rem;
            font-weight: $font-weight-medium;
        }
    }

    + .container-divider {
        margin-bottom: 1.875rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 1.8125rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 2.4375rem;
        }
    }
}
