.page-unique-brand {
    .plp-results {
        margin-top: 1.5rem;
    }

    .product-carousel {
        .container-title {
            &::after {
                display: none;
            }
        }
    }
}

#{$brand-page-type-2} {
    .plp-slot-wrapper {
        @include make-container($gutter: $grid-gutter-width);
        @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
    }

    .plp-slot-picture {
        max-width: 90rem;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 0.0625rem solid $brand-page-type-2-border;
        padding-bottom: 0.625rem;
    }

    .plp-category-title-container {
        display: block;

        @include media-breakpoint-down(lg) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .plp-category-title {
        font-size: fz(h2);
        font-weight: $font-weight-bold;
        line-height: 1;
        color: $black;
        text-transform: uppercase;
        text-align: center;
        padding: 1.25rem 0 1.875rem;
        border-bottom: 0.0625rem solid $brand-page-type-2-border;

        @include media-breakpoint-down(lg) {
            font-size: fz(h3);
            padding: 0.3125rem 0 0.9375rem;
        }
    }

    .refinement-bar-container {
        display: none;
    }

    .btn-refine-by {
        visibility: hidden;
    }

    .search-results-container {
        @include media-breakpoint-up(lg) {
            flex: 0 0 100%;
            max-width: 100%;

            .product {
                max-width: none;
            }
        }

        .custom-select.bootstrap-select {
            > .dropdown-toggle,
            > .dropdown-menu {
                border-color: $black;
            }
        }
    }

    .refinements {
        @include media-breakpoint-up(xl) {
            .refinement-header {
                border-top: 0;
            }

            .refinement-category {
                &.refinement {
                    border-top: 0;
                }

                .card-header {
                    display: none;
                }

                .card-body > .categories-list {
                    padding-left: 0;

                    .radio-button-link {
                        font-size: fz(body);
                        font-weight: $font-weight-medium;
                        text-transform: uppercase;
                        color: $black;
                    }

                    .radio-button-link-icon {
                        display: none;
                    }

                    > .categories-list-item {
                        > .radio-button-link {
                            display: none;
                        }

                        > .categories-list > .categories-list-item {
                            > .radio-button-link {
                                font-weight: $font-weight-bold;
                                font-size: fz(h4);
                            }
                        }
                    }
                }
            }

            .card-header {
                font-weight: $font-weight-bold;
                font-size: fz(h4);
                color: $black;

                .sc-icon-plus,
                .sc-icon-minus {
                    display: none;
                }

                .card-header-icon-arrow {
                    @include arrow(right, $brand-page-type-2-refinement-arrow-color, 0.3125rem, auto, auto, 0, 0, auto, -0.3125rem);

                    display: block;
                    margin-left: auto;
                    transform: rotate(0deg);
                    transition: transform $animation-duration ease-in-out;
                }
            }

            .refinement {
                border: 0;

                &.open {
                    .card-header {
                        .card-header-icon-arrow {
                            transform: rotate(90deg);
                        }

                        .sc-icon-plus,
                        .sc-icon-minus {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
