@import '../variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.preferences-description-row,
label {
    font-size: $font-size--2;
    font-weight: $font-weight-light !important;
}

.preferences-checkboxes {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;

    > .custom-checkbox:first-child {
        padding-left: 0;
        padding-right: 1.875rem;
    }
}
