.badges-container {
    height: 0.8125rem;
    margin-bottom: 0;
}

.badges {
    color: $dark-grey;
    display: flex;
    justify-content: flex-start;
    font-size: $font-size--3;
    line-height: $font-lh--1;
    list-style: none;
    margin: 0 0 0.1875rem;
    padding: 0;

    @include media-breakpoint-up(md) {
        font-size: $font-size--2;
    }
}

.badge-item {
    position: relative;
    padding: 0 0.4rem;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &:not(:last-child)::after {
        content: '';
        background: $dark-grey;
        position: absolute;
        right: -0.125rem;
        top: 0.3125rem;
        width: 0.1875rem;
        height: 0.1875rem;
        border-radius: 50%;

        @include media-breakpoint-up(md) {
            top: 0.375rem;
        }
    }
}
