.product-carousel {
    .slick-slide {
        float: left;

        .product-tile {
            margin: 0 auto;
        }
    }

    .slick-track,
    .slick-list {
        /* rtl:ignore */
        direction: ltr;
    }

    .slick-track {
        white-space: nowrap;

        .slick-slide {
            display: inline-block;
        }
    }

    .slick-arrow {
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        background-color: $carousel-arrow;
        transition: $animation-default;
        z-index: 2;

        @include media-breakpoint-up(lg) {
            width: 2.5rem;
            height: 2.5rem;
        }

        &::after,
        &::before {
            content: '';
            display: block;
            position: absolute;
            margin: 0.75rem 0 0;
            left: 50%;
            top: 0;
            width: 0.5rem;
            height: 0.125rem;
            background-color: $white;
            transform-origin: 0 0;
            opacity: 1;

            @include media-breakpoint-up(lg) {
                margin: 0.875rem 0 0;
                width: 0.625rem;
            }
        }

        &::before {
            transform: rotate(-45deg) translate(-100%) translateZ(0);

            /* rtl:raw:
                content: '';
            */
        }

        &::after {
            transform: rotate(45deg) translate(0) translateZ(0);
        }

        &.slick-disabled {
            cursor: default;

            &::after,
            &::before {
                opacity: 0.25;
            }
        }

        &:hover,
        &:focus {
            background-color: $carousel-arrow;
        }
    }

    .slick-prev {
        /* rtl:begin:ignore */
        transform: rotate(-90deg);
        left: -0.75rem;
        right: auto;

        /* rtl:end:ignore */

        @include media-breakpoint-up(lg) {
            /* rtl:ignore */
            left: -0.9375rem;
        }

        &:hover {
            transform: scale(0.95) rotate(-90deg);

            /* rtl:raw:
                transform: scale(0.95) rotate(-90deg);
            */
        }
    }

    .slick-next {
        /* rtl:begin:ignore */
        transform: rotate(90deg);
        right: -0.75rem;
        left: auto;

        /* rtl:end:ignore */

        @include media-breakpoint-up(lg) {
            /* rtl:ignore */
            right: -0.9375rem;
        }

        &:hover {
            transform: scale(0.95) rotate(90deg);

            /* rtl:raw:
                transform: scale(0.95) rotate(90deg);
            */
        }
    }

    .slick-dots {
        bottom: -2.1875rem;

        li {
            height: 0.5rem;
            width: 0.5rem;
            margin: 0 0.3125rem;

            button {
                height: 0.5rem;
                width: 0.5rem;
                padding: 0;
                margin: 0 auto;
                cursor: pointer;

                &::before {
                    border: 0.0625rem solid $primary;
                    overflow: hidden;
                    margin: 0 auto;
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 100%;
                    position: relative;
                    font-size: 0;
                    display: block;
                    opacity: 1;
                }
            }

            &.slick-active {
                button {
                    &::before {
                        background: $primary;
                    }
                }
            }
        }
    }

    .product-tile {
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.65;
        }

        .name-container {
            margin-bottom: 0;
        }
    }
}
