.checkout-steps-container {
    max-width: 32.375rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.checkout-steps-wrapper {
    display: flex;
    color: $white;
    position: relative;
    justify-content: space-around;

    .checkout-step {
        font-size: $font-size-base;
        font-family: $font-family-base;
        height: 1.875rem;
        line-height: 1.875rem;
        width: 1.875rem;
        text-align: center;
        background-color: $cali-grey-light;

        > a {
            color: $white;
            display: block;
        }

        border-radius: 50%;
        font-weight: $font-weight-semi-bold;
        z-index: 1;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
            height: 2rem;
            line-height: 2rem;
            width: 2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-6;
            height: 2.625rem;
            line-height: 2.625rem;
            width: 2.625rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-11;
            height: 3.4375rem;
            line-height: 3.4375rem;
            width: 3.4375rem;
        }

        &.checkout-steps-active {
            background-color: $cali-grey-dark;
        }
    }
}

.checkout-process-line {
    border-bottom: 0.0625rem solid $primary-hover;
    left: 4.375rem;
    position: absolute;
    right: 4.375rem;
    top: 0.9375rem;

    @include media-breakpoint-up(md) {
        top: 1rem;
    }

    @include media-breakpoint-up(lg) {
        top: 1.3125rem;
    }

    @include media-breakpoint-up(xl) {
        top: 1.75rem;
    }
}
