*:focus {
    outline: none !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: normal;
    font-family: $font-family-tertiary;
}

::-moz-placeholder { /* Firefox 19+ */
    font-style: normal;
    font-family: $font-family-tertiary;
}

:-ms-input-placeholder { /* IE 10+ */
    font-style: normal;
    font-family: $font-family-tertiary;
}

:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}

.container {
    font-style: normal;
}

body,
input,
textarea,
button,
select {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-body {
    &.open {
        overflow: hidden;
    }
}

a {
    color: $primary;

    &:hover {
        color: $info-text;
    }
}

.container-oob {
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 3.125rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 3.75rem;
    }

    @include media-breakpoint-down(lg) {
        position: relative;
        padding-top: 1.25rem;

        > .container {
            z-index: 1;
            position: relative;
        }

        &::after {
            content: '';
            background-color: $grey1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        .container {
            position: relative;
            padding-top: 2rem;
            padding-bottom: 0.5rem;

            > .row {
                z-index: 1;
                position: relative;
            }

            &::after {
                content: '';
                background-color: $grey1;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -4.375rem;
                right: -4.375rem;
                max-width: 1191px;
            }
        }
    }
}

.container-title {
    font-size: $font-size-4;
    font-weight: $font-weight-base;
    line-height: $font-lh--1;
    letter-spacing: $font-ls-4;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: $font-size-2;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-4;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-6;
    }

    &::after {
        display: block;
        border-bottom: 0.125rem solid $secondary;
        margin: 0 auto;
        padding-top: 0.5rem;
        margin-top: 0.375rem;
        width: 1.625rem;

        @include media-breakpoint-up(xl) {
            margin-top: 0;
            margin-bottom: 2rem;
            width: 2.625rem;
        }
    }
}

.separator {
    position: relative;

    &::after {
        content: '';
        border-bottom: 0.0625rem solid $dove-gray;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50%;
    }

    h6 {
        background-color: $white;
        font-weight: $font-weight-bold;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 5.25rem;
        margin: 1rem auto;
        padding: 0;
        position: relative;
        z-index: 1;
    }
}

.link {
    font-size: $font-size--2;
}

.separated-values {
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;

    .has-value {
        margin-right: 0.5rem;
    }
}

.img-credit-card {
    border: 0.0625rem solid $border-color;
    border-radius: 0.1875rem;
    position: relative;
    top: -0.0625rem;
}

.hide-order-discount {
    display: none;
}

.hide-shipping-discount {
    display: none;
}

.order-discount {
    color: $success;
}

.shipping-discount {
    color: $success;
}

.error-messaging {
    position: fixed;
    bottom: 0;
    right: 1rem;
    max-width: 22rem;
    width: 100%;
    z-index: 1;
}

.error-hero {
    background-image: url('../images/storelocator.jpg');
    margin-bottom: 0.625em;
}

.error-message {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.error.continue-shopping {
    min-width: auto !important;
    margin-bottom: 6.25em;
}

.disable-scroll {
    @include media-breakpoint-down(lg) {
        overflow: hidden;
        position: fixed;
    }
}

.no-records-message {
    font-weight: $font-weight-medium;
    display: flex;
    min-height: 8.5rem;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: $font-size-5;
        min-height: 15rem;
    }

    > i {
        margin-bottom: 1.5rem;

        &::before {
            font-size: $font-size-21;
        }

        &.sc-icon-fav::before,
        &.sc-icon-payment-method::before {
            font-size: 3.6rem;
        }

        &.sc-icon-bag::before {
            font-size: 3.2rem;
        }
    }
}

.show-no-records {
    .no-records-container {
        display: block !important;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

.global-carousel,
.product-carousel-component {
    .slick-dots {
        position: relative;
        margin-top: 0.625rem;
    }

    .slick-dots li {
        margin: 0 0.125rem;
    }

    .slick-dots li button,
    .slick-dots li a {
        height: 1.375rem;
        width: 1.375rem;
        text-align: center;
    }

    .slick-dots li button::before,
    .slick-dots li a::before {
        content: '';
        width: 0.75rem;
        height: 0.75rem;
        border: 0.0625rem solid $border-color;
        border-radius: 100%;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .slick-dots li.slick-active button::before {
        opacity: 1;
        border: 0.0625rem solid $border-color;
        background: $grey3;
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        display: block;
        color: transparent;
        top: 50%;
        opacity: 0;
        z-index: 1;
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;

        @include media-breakpoint-down(sm) {
            display: none !important;
        }

        &:hover {
            opacity: 1;
        }

        &::before {
            display: block;
            height: 2.75rem;
            width: 2.75rem;
            background: rgba($body-bg, 0.8);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 75% 75%;
            margin: 0 auto;
        }
    }

    .slick-prev {
        left: 0 !important;

        /* rtl:raw:
            left: auto !important;
        */

        &::before {
            content: '' !important;
            background-image: $slick-arrow-left;
            position: relative;
            left: -0.125rem;

            [dir="rtl"] & {
                background-image: $slick-arrow-right;
                right: -0.125rem;
            }
        }
    }

    .slick-next {
        right: 0 !important;

        /* rtl:raw:
            right: auto !important;
        */

        &::before {
            content: '' !important;
            background-image: $slick-arrow-right;
            position: relative;
            right: -0.125rem;

            [dir="rtl"] & {
                background-image: $slick-arrow-left;
                left: -0.125rem;
            }
        }
    }

    .slick-track,
    .slick-list {
        /* rtl:ignore */
        direction: ltr;
    }
}

#maincontent {
    clear: both;
}
