.form-group {
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 1.15rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 1.5rem;
    }

    &.required .form-control-label::after {
        content: '*';
        font-size: $font-size--6;
        line-height: 0;
        color: $shiraz;
    }

    &.is-invalid .invalid-feedback {
        display: block;
        font-size: $font-size--5;
        font-family: $font-family-base;
        letter-spacing: $font-ls-3;

        @include media-breakpoint-up(md) {
            font-size: $font-size--2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
        }
    }

    > .row {
        [class^="col-"] {
            &:not(:first-child),
            &:not(:last-child) {
                padding-left: $grid-gutter-width / 4;
                padding-right: $grid-gutter-width / 4;
            }

            &:first-child {
                padding-right: $grid-gutter-width / 4;
                padding-left: $grid-gutter-width / 2;
            }

            &:last-child {
                padding-left: $grid-gutter-width / 4;
                padding-right: $grid-gutter-width / 2;
            }
        }
    }

    .g-recaptcha {
        display: inline-block;
    }
}

.password-feedback {
    font-size: $font-size--2;

    .text-success,
    .text-danger {
        margin-right: 3rem;
        margin-top: 0.875rem;
    }

    .text-danger .sc-icon-cross {
        position: relative;
        top: 0.375rem;

        &::before,
        &::after {
            width: $font-size--2;
            background-color: $danger;
        }
    }

    i {
        width: $font-size--2;
        margin-right: 0.75rem;

        &::before {
            font-size: $font-size--4;
        }
    }
}

.success-msg {
    i {
        &::before {
            font-size: $font-size-base;
        }
    }
}

.form-control-label {
    font-family: $font-family-tertiary;
    font-size: $font-size--6;
    font-weight: $font-weight-normal;
    margin-bottom: 0.375rem;
    text-transform: uppercase;
    letter-spacing: 0.055rem;
    color: $black;

    @include media-breakpoint-up(md) {
        font-size: $font-size--2;
        margin-bottom: 0.25rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-1;
    }

    .is-invalid & {
        color: $shiraz;
    }
}

.custom-select {
    border-radius: 0;
    background-size: 1rem;
    color: $secondary;
    border: solid 1px $border-color;

    &:focus {
        border-color: $border-color;
        box-shadow: none;
    }

    &.bootstrap-select {
        border-color: transparent;
        padding: 0 !important;

        &:not(.input-group-btn),
        &[class*="col-"] {
            display: flex;
            width: 100% !important;
        }

        &.disabled {
            position: relative;

            &::after {
                content: '';
                background-color: rgba($white, 0.8);
                position: absolute;
                top: 0.0625rem;
                right: 0.0625rem;
                bottom: 0.0625rem;
                width: 2.5rem;
            }
        }

        [data-width="auto"] ~ .dropdown-menu {
            width: 100%;
        }

        > .dropdown-toggle {
            font-family: $font-family-tertiary;
            border-color: $border-color;
            font-size: $font-size-2;
            padding: 0.375rem 2rem 0.4375rem 0.75rem;
            text-transform: none;
            margin-top: 0;

            @include media-breakpoint-up(md) {
                font-size: $font-size-4;
                padding: 0.3rem 2rem 0.3rem 0.75rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: $font-size-6;
                padding: 0.5625rem 2rem 0.625rem 0.75rem;
            }

            @include media-breakpoint-up(xl) {
                font-size: $font-size-7;
                padding: 0.875rem 2rem 0.9375rem 0.75rem;
            }

            &::after {
                display: none;
            }

            &:focus {
                outline: 0.0625rem dotted $secondary !important;
                box-shadow: none;
            }

            &.disabled {
                color: $grey4;
            }
        }

        > .dropdown-menu {
            border-radius: 0;
            border-color: $border-color;
            margin-top: -0.0625rem;
            padding: 0;
        }

        .dropdown-menu.inner {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .dropdown-item {
            border-radius: 0;
            color: $secondary;
            padding-left: 0.85rem;

            &.active,
            &:active {
                color: $secondary;
                background-color: $grey2;
            }

            &.disabled:not(.active) {
                color: $border-color;
            }
        }

        .no-results {
            background-color: $white;
            font-size: $font-size--3;
        }
    }

    .bs-invalid {
        border-color: $danger !important;
    }
}

/* rtl:raw:
    select.custom-select {
        background-position: 0.75rem;
    }

    .bootstrap-select.custom-select {
        background-position: 0.75rem;
    }
*/

.is-invalid {
    .bootstrap-select > .dropdown-toggle,
    input[type="text"],
    input[type="tel"],
    input[type="password"],
    input[type="email"],
    textarea {
        border-color: $danger !important;
    }

    input[type="text"],
    input[type="tel"],
    input[type="password"],
    input[type="email"],
    textarea {
        background-image: url('../images/exclamation.svg');
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 2.0625rem 2.0625rem;

        @include media-breakpoint-up(md) {
            background-size: 1.875rem 1.875rem;
        }

        @include media-breakpoint-up(lg) {
            background-size: 2.25rem 2.25rem;
        }

        @include media-breakpoint-up(xl) {
            background-size: 2.375rem 2.375rem;
        }
    }

    .swa-icon-eye {
        right: 1.25rem;
    }
}

div[class*="_titleList"].is-invalid {
    .invalid-feedback {
        @include media-breakpoint-down(sm) {
            margin-top: 1.3rem;
        }

        margin-top: 1rem;
    }
}

.radio-button-link,
.checkbox-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none !important;

    > i {
        border: 0.0625rem solid $border-color;
        position: relative;
        width: 1.0625rem;
        height: 1.0625rem;
        min-width: 1.0625rem;
        margin-right: 0.5rem;

        &::after {
            content: '';
            background-color: $secondary;
            position: absolute;
            top: 0.125rem;
            left: 0.125rem;
            right: 0.125rem;
            bottom: 0.125rem;
            display: none;
        }
    }

    > span,
    > div {
        display: flex;

        > span {
            margin-right: 0.25rem;
        }
    }

    &.active > i,
    &.selected > i {
        border-color: $secondary;

        &::after {
            display: block;
        }
    }
}

.radio-button-link {
    > i,
    > i::after {
        border-radius: 100%;
    }
}

.password-show-toggle {
    position: absolute;
    right: 0;
    top: 1.8125rem;
    display: block;
    cursor: pointer;
    padding: 0.125rem 0.25rem;
    line-height: 1;
    color: $border-color;

    @include media-breakpoint-up(md) {
        top: 0.9rem;
    }

    @include media-breakpoint-up(lg) {
        top: 1.4rem;
    }

    @include media-breakpoint-up(xl) {
        top: 1.9rem;
    }

    i::before {
        font-size: $font-size-1;
    }
}

.is-search-input {
    position: relative;

    input {
        padding-right: 2rem !important;
    }

    i {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        opacity: 0.5;
    }
}

.phone-country-code-selector,
.phone-number-container input {
    text-align: left;
}

.phone-country-code-selector {
    .dropdown-toggle,
    .dropdown-item {
        /* rtl:ignore */
        direction: ltr;
    }
}

.form-control {
    letter-spacing: 0.07em;
    padding: 0.4rem 0.625rem;
    font-size: $font-size-2;
    border-color: $border-color;
    background-color: $mosaic-bg;
    font-family: $font-family-tertiary;

    @include media-breakpoint-up(md) {
        padding: 0.3rem 0.7rem;
        font-size: $font-size-4;
    }

    @include media-breakpoint-up(lg) {
        padding: 0.6rem 0.7rem;
        font-size: $font-size-6;
    }

    @include media-breakpoint-up(xl) {
        padding: 0.9rem 1.2rem;
        font-size: $font-size-7;
    }
}

[for$='_phoneMobile'] {
    + .row {
        padding-top: 0;
    }
}
