.form-auth {
    &.modal-content .page-reset-password-btn,
    &.container .modal-reset-password-btn {
        display: none;
    }

    .modal-body {
        padding-top: 1.5rem;
    }

    .form-control-label {
        display: block;
    }
}

.separator > h6 {
    margin-top: 2.25rem;
}

.login-option-menu {
    text-transform: uppercase;
    font-size: $font-size--3;

    @include media-breakpoint-up(lg) {
        font-size: $font-size--1;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-1;
    }

    .forgot-password {
        margin-bottom: 1rem;
    }

    a {
        text-decoration: underline;
    }
}

.login-register-button-wrapper {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(sm) {
        margin-top: 2rem;
    }
}

.login-register-button {
    font-size: $font-size--8;
    width: 12.1875rem;

    @include media-breakpoint-up(md) {
        font-size: $font-size-base;
        width: 13.4375rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-2;
        width: 15.3125rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-4;
        width: 18.125rem;
    }
}

.remember-me::after,
.remember-me::before {
    /* rtl:remove */
    left: 0 !important;

    /* rtl:raw:
        right: 0 !important;
    */
}

.login-form-left {
    margin-bottom: 2.5rem;
    padding-bottom: 1.25rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.login-sign-in {
    font-family: $font-family-secondary;
    font-size: $font-size-4;
    text-transform: uppercase;
    padding-bottom: 1.1rem;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: $font-size-1;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-6;
    }
}

.login-register-form-content {
    @include media-breakpoint-up(md) {
        height: 19rem;
    }

    @include media-breakpoint-up(lg) {
        height: 22.35rem;
    }

    @include media-breakpoint-up(xl) {
        height: 23rem;
    }
}

.separator {
    h6 {
        margin-top: 1rem !important;
        font-family: $font-family-base !important;
        font-weight: $font-weight-bold !important;
    }

    &::after {
        display: none;
    }
}

.oauth-facebook {
    margin-right: 2.2rem !important;
}

.track-form-right {
    @include media-breakpoint-up(xl) {
        padding-left: 6rem;
    }

    @include media-breakpoint-only(md) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .track-order-header {
        font-family: $font-family-base;
        font-size: $font-size-10;
        text-transform: uppercase;
        font-weight: $font-weight-light !important;
        padding-bottom: 1.3rem;
    }

    .track-order-header-text {
        font-size: $font-size-base;
        padding-bottom: 2.2rem;
    }

    .btn {
        font-size: $font-size-base !important;
    }
}

.register-form-right-checkout-page::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0.0625rem;
    height: calc(100% + 1.875rem);
    background-color: $grey13;
}

.register-form-right {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
        margin-top: 0;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .register-form-description {
        font-size: $font-size--2;
        color: $grey9;
        font-family: $font-family-base;
        text-align: center;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-6;
        }

        label {
            text-align: left;
        }
    }
}

.seperator {
    display: none !important;

    @include media-breakpoint-only(md) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @include media-breakpoint-down(md) {
        display: block !important;
    }
}

.subscription-form {
    .form-control-label,
    input[type="radio"] + .form-control-label {
        font-size: $font-size--3;

        @include media-breakpoint-up(md) {
            font-size: $font-size--2;
        }
        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
        }
        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
        }

        font-weight: $font-weight-semi-bold;
    }
}

.subscribe-newsletter-form {
    .btn-subscribe {
        @include media-breakpoint-down(sm) {
            width: auto;
            display: inline;
        }
    }
}

.subscription-form-thank-you-block {
    display: flex;
    font-family: $font-family-base;
    font-size: $font-size-2;
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm) {
        font-size: $font-size--1;
    }

    p {
        margin-top: 2rem;
    }

    .subscription-image {
        padding-right: 1rem;
        max-width: 5.625rem;
        max-height: 7.5rem;
    }
}

.login-header {
    text-align: center;
    font-family: $font-family-base;

    .login-title {
        font-size: $font-size-18;
        letter-spacing: $font-ls-11;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: $font-size-24;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-36;
        }
    }

    .login-subtitle {
        font-family: $font-family-secondary;
        letter-spacing: $font-ls-8;
        font-size: $font-size-4;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size-6;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-8;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
        }
    }

    .login-description {
        font-size: $font-size--1;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }
    }
}
