.price {
    color: $black;
    font-size: $font-size-base;
    font-family: $font-family-secondary;
    font-weight: $font-weight-normal;
    display: flex;

    .strike-through,
    .worth {
        color: $dove-gray;
        margin-left: 0.4375rem;
        font-family: $font-family-base;
    }

    .strike-through {
        text-decoration: line-through;

        .value {
            text-decoration: line-through;
        }
    }

    .tiered {
        color: $dove-gray;

        table {
            border-top: 1px solid $border-color;
            margin: 0 auto;

            tr {
                &:nth-child(odd) {
                    background-color: $grey2;
                }
            }
        }

        td,
        span.price {
            font-size: 0.875rem;
        }

        td {
            padding: 0.313rem;

            &.quantity {
                font-weight: normal;
                text-align: right;
            }

            &.value {
                text-align: left;
            }
        }

        .table-header {
            font-size: 1.125rem;
            padding: 0.313rem;
        }

        .column-header {
            font-size: 1rem;
            padding: 0.313rem;
            font-weight: normal;
        }

        .column-header.quantity {
            text-align: right;
        }
    }
}
