@import '../mixins/swatch';
@import './quickView';

$tile-body-height: 6.875rem !default;

.product-tile-wrapper {
    padding: 0 0.125rem;
    margin-bottom: 0.25rem;
}

.product {
    padding: 0 0 100%;
    height: 0;
    min-height: 17.1875rem;
    position: relative;
}

.product-tile {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $product-tile;
    text-align: left;
    text-transform: uppercase;

    .product-tile-link {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
    }

    .tile-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: $tile-body-height;
        padding: 0.5rem 0.625rem;

        /* rtl:raw:
            text-align: right;
        */

        .color-swatches {
            min-height: 2.25em;

            .product-tile-color-label {
                cursor: pointer;
                font-size: 1em;

                @include media-breakpoint-down(md) {
                    font-size: $font-size-1;
                }

                @include media-breakpoint-down(sm) {
                    font-size: $font-size--1;
                }
            }
        }

        .price {
            margin-bottom: 0;
            font-size: $font-size--2;

            @include media-breakpoint-up(lg) {
                font-size: $font-size-base;
            }

            .tiered {
                font-size: inherit;

                .value {
                    font-weight: $font-weight-bold;
                }
            }

            .sales {
                font-size: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .badges-container {
            height: auto;
        }

        .coming-soon-tile {
            text-align: center;
        }

        .pdp-link {
            line-height: 1.1;
            font-size: $font-size--3;

            @include media-breakpoint-up(lg) {
                font-size: $font-size--2;
            }

            .link {
                color: $black;
                font-size: $font-size--3;
                font-family: $font-family-secondary;
                text-transform: uppercase;
                text-decoration: none;

                @include media-breakpoint-up(lg) {
                    font-size: $font-size--2;
                }
            }
        }

        > .btn {
            position: relative;
            z-index: 3;

            @include media-breakpoint-down(md) {
                min-width: 6.35rem;
            }
        }
    }

    .tile-promo-labels {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0.25rem;
    }

    .tile-promo-label {
        display: block;
        padding: 0.125rem 0.375rem 0.25rem;
        color: $white;
        background: $dark-grey;
        font-size: $font-size--2;
        line-height: 1;
        text-transform: uppercase;
        margin: 0.0625rem;

        &.promo-message {
            background: $black;
        }
    }

    .name-container {
        margin-bottom: 0.125rem;
    }

    .price-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
            height: 0.875rem;
        }

        /* rtl:raw:
            align-items: flex-start;
        */

        .price {
            span {
                &.value {
                    display: inline-block;
                }
            }
        }
    }

    .image-container {
        height: calc(100% - #{$tile-body-height});
        min-height: calc(100% - #{$tile-body-height});
        display: block;
        pointer-events: none;
        width: 100%;
        margin: 0 auto;
        background-color: $product-tile;

        .quickview {
            position: absolute;
            bottom: 1rem;
            right: 1rem;

            i {
                &.fa-expand {
                    color: rgba(0, 0, 0, 0.7);
                }

                &.fa-circle {
                    color: rgba(255, 255, 255, 0.7);
                    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .tile-image-link {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .tile-image {
            width: auto;
            max-height: 100%;
            margin-top: 2rem;
        }
    }

    .swatches {
        a {
            text-decoration: none;
        }
    }

    .swatch-circle {
        // $white will be replaced by color image background via Javascript
        @include swatch($white);
    }
}

.hide-product-image {
    .image-container {
        display: none;
    }
}

.hide-product-name {
    .name-container {
        display: none;
    }
}

.hide-product-badges {
    .badges-container {
        display: none;
    }
}

.hide-product-review {
    .review-container {
        display: none;
    }
}

.hide-product-price {
    .price-container {
        display: none;
    }
}

#chooseBonusProductModal {
    .modal-footer {
        .container {
            margin-left: 0;
            width: 100%;
            margin-right: 0;
        }
    }

    .select-cbp-container {
        margin-top: auto;
        margin-bottom: auto;
    }

    .product-name-wrapper {
        width: 100%;
    }

    .bonus-quantity,
    .bonus-option {
        margin-top: 0.938em;
    }

    .bonus-quantity-select {
        min-width: 5em;
    }

    .select-bonus-product {
        margin-top: 1em;
    }

    .selected-pid {
        border: 1px solid $border-color;

        .bonus-product-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .bonus-product-price {
        text-align: center;
        margin-top: 1em;
    }
}

.product-tile-pd {
    .product-tile-body {
        font-family: $font-family-secondary;
        text-transform: uppercase;
        text-align: left;

        .color-swatches {
            display: none;
        }

        .product-tile-image {
            max-width: 24rem;
            max-height: 24rem;
            margin: 2.5rem auto 0;
            width: 90%;
        }

        .product-name-link {
            white-space: normal;
        }

        .product-price {
            del {
                float: left;
            }

            .sales.reduced-price {
                .value {
                    color: $primary;
                }
            }

            > span {
                display: grid;
            }
        }
    }
}
