.swa-icon {
    display: inline-block;
    height: 1.9rem;
    width: 1.9rem;
    background: transparent url() no-repeat 0 50%;
    top: 0.7rem;
    position: relative;

    @include media-breakpoint-up(md) {
        margin-right: 0.5rem;
        background-size: auto !important;
    }
}

.swa-icon-contact {
    background-size: 1.2rem;
    background-image: url(../images/contact.svg);

    @include media-breakpoint-up(md) {
        width: 1.5rem;
    }
}

.swa-icon-customer-care {
    background-size: 1.5rem;
    background-image: url(../images/customer-care.svg);

    @include media-breakpoint-up(md) {
        width: 1.7rem;
    }
}

.swa-icon-store {
    background-size: 0.9rem;
    background-image: url(../images/store.svg);

    @include media-breakpoint-up(md) {
        width: 1.1rem;
    }
}

.swa-icon-chat {
    background-size: 1rem;
    background-image: url(../images/chat.svg);

    @include media-breakpoint-up(md) {
        width: 1.25rem;
    }
}

.swa-icon-eye {
    background-size: 1rem;
    background-image: url(../images/eye_black.svg);

    @include media-breakpoint-down(sm) {
        height: 1.5rem;
        top: 0;
    }

    @include media-breakpoint-up(md) {
        width: 1.25rem;
    }
}

.swa-icon-th-large {
    background-size: 1.25rem;
    background-image: url(../images/icon-filter-big-square.svg);

    &.active {
        background-image: url(../images/icon-filter-big-square-black.svg);
    }
}

.swa-icon-th {
    background-size: 1.25rem;
    background-image: url(../images/icon-filter-small-square.svg);

    &.active {
        background-image: url(../images/icon-filter-small-square-black.svg);
    }
}

.swa-icon-preferences {
    background-size: 1.1rem;
    background-image: url(../images/icon-filter-grey.svg);

    &.active {
        background-image: url(../images/icon-filter-b-lack.svg);
    }
}

.swa-icon-dual-arrow {
    background-size: 1.1rem;
    background-image: url(../images/icon-filter-sort-by.svg);

    &.active {
        background-image: url(../images/icon-filter-sort-by-open.svg);
    }
}

.swa-icon-caret-right {
    background-size: 1.1rem;
    background-image: url(../images/arrow_right_black.svg);
}

.swa-icon-caret-left {
    background-size: 1.1rem;
    background-image: url(../images/arrow_left_black.svg);
}

.swa-icon-caret-down {
    background-size: 1.1rem;
    background-image: url(../images/caret-down.svg);
}

.swa-icon-caret-up {
    background-size: 1.1rem;
    background-image: url(../images/caret-up.svg);
}

