@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700&subset=latin-ext);

@font-face {
    font-family: "DINNext";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/DINNext/DINNextLTArabic-Light.woff2") format("woff2"),
        url("../fonts/DINNext/DINNextLTArabic-Light.woff") format("woff"),
        url("../fonts/DINNext/DINNextLTArabic-Light.ttf") format("truetype");
}

@font-face {
    font-family: "DINNext";
    font-style: normal;
    font-weight: 500;
    src:
        url("../fonts/DINNext/DINNextArabic-Regular.woff2") format("woff2"),
        url("../fonts/DINNext/DINNextArabic-Regular.woff") format("woff"),
        url("../fonts/DINNext/DINNextArabic-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "DINNext";
    font-style: normal;
    font-weight: 600;
    src:
        url("../fonts/DINNext/DINNextArabic-Bold.woff2") format("woff2"),
        url("../fonts/DINNext/DINNextArabic-Bold.woff") format("woff"),
        url("../fonts/DINNext/DINNextArabic-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DINNext";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/DINNext/DINNextArabic-Bold.woff2") format("woff2"),
        url("../fonts/DINNext/DINNextArabic-Bold.woff") format("woff"),
        url("../fonts/DINNext/DINNextArabic-Bold.ttf") format("truetype");
}
