@import "bootstrap/scss/functions";
@import "../js/config/breakpoints.json";

// Direction
$rtl: false;

// font-awesome font file locations in relation to target location of the css file.
$fa-font-path: "../fonts";

// flag icons location in relation to target location of the css file.
$flag-icon-css-path: "../fonts/flags/";

$primary: #8f1941;
$primary-hover: #aa1e4d;
$secondary: #5c5c5c;
$secondary-hover: #747474;
$category-hover: #ca938c;
$tertiary: #efefef;
$tertiary-hover: #f4f3f3;
$light: #f8f8f8;
$white: #fff;
$black: #000;

$blue: #0070d2;
$green: #008827;
$red: #c00;
$lonestar: #6a0000;
$success: $green;
$danger: $red;
$light-blue: #7ed0ee;
$gallery-gray: #ecebeb;
$dove-gray: #717171;
$alto: #d1d1d1;
$oslo-gray: #7f8993;
$alabaster: #f8f8f8;
$tamarillo: #a81717;
$gallery: #eaeaea;
$japaneseLaurel: #03620a;
$tabasco: #af1212;
$carouselPink: #fdf5f6;
$midnight: #01172d;
$text-muted: #b7b7b7;
$silver: #a8a8a8;
$aluminium: #88898c;
$alto-light: #d8d8d8;

// Consolidated values
$grey1: #f9f9f9;
$grey2: #e6e6e6;
$grey3: #ccc;
$grey4: #999;
$grey5: #717171;
$grey6: #444;
$grey7: #222;
$grey8: #333;
$grey9: #d5d5d5;
$grey10: #fcfcfc;
$grey-transparent-1: rgba(0, 0, 0, 0.65);
$grey-transparent-2: rgba(0, 0, 0, 0.25);
$grey-transparent-3: rgba(0, 0, 0, 0.125);

$light-gray: $grey1;
$slightly-darker-gray: $grey4;
$dark-gray: $grey6;
$darker-gray: $grey7;
$horizontal-rule-grey: $grey3;
$product-number-grey: $grey3;
$horizontal-border-grey: $grey4;
$menu-link: $secondary;
$close-menu-bg: $grey2;
$link-color: $secondary;
$hr-border-color: $grey3;
$input-placeholder-color: $grey2;

$grid-breakpoints: (
    xs: map-get($breakpoints, "xs") * 1px,
    sm: map-get($breakpoints, "sm") * 1px,
    md: map-get($breakpoints, "md") * 1px,
    lg: map-get($breakpoints, "lg") * 1px,
    xl: map-get($breakpoints, "xl") * 1px
);

$container-max-widths: (
    md: 690px,
    lg: 940px,
    xl: 1140px
);

$spacer: 1rem;
$spacer-container: $spacer * 2.5;
$spacers: (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: $spacer-container,
    6: ($spacer * 3),
    7: ($spacer * 3.75),
);

$border-radius: 0.1875rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;
$border-color: $grey2;

$state-danger-text: $white;
$alert-success-text: $white;

// Animations
$animation-duration: 0.3s;

// Font
$font-family-base: "Montserrat", "Arial", sans-serif;
$font-family-base-rtl: "DINNext", sans-serif;
$font-family-secondary: "Arial", sans-serif;
$font-family-secondary-rtl: "DINNext", sans-serif;
// ( font families are defined in scss/api/_typography.scss )

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

$font-size-base: 0.75rem; // 12px
$font-size-default: 16px;
// ( all other font sizes are located in scss/api/_typography.scss )

// Line height
$font-lh: 1 !default;
$font-lh--1: 1.17 !default;
$font-lh--2: 1.22 !default;
$font-lh--3: 1.25 !default;
$font-lh--4: 1.29 !default;
$font-lh--5: 1.57 !default;
$font-lh--6: 2 !default;
$font-lh--7: 1.4 !default;
$font-lh--8: 1.2 !default;
$font-lh--9: 1.67 !default;
$font-lh--10: 1.21 !default;
$font-lh--11: 1.55 !default;
$font-lh--12: 1.5 !default;
$font-lh--13: 1.64 !default;
$font-lh--14: 2.64 !default;
$font-lh--15: 2.25 !default;
$font-lh--16: 1.19 !default;
$font-lh--17: 7.1 !default;
$font-lh--18: 1.1 !default;
$font-lh--19: 0.92 !default;
$font-lh--20: 1.21 !default;

// Letter spacing
$font-ls-1: 0.0625rem !default;

// Bootstrap overrides
$body-bg: $white;
$body-color: $secondary;
$card-cap-bg: $white;
$alert-border-radius: 0;
$alert-link-font-weight: $font-weight-medium;

// Tabs
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-active-link-hover-bg: transparent;

// Breadcrumb
$breadcrumb-padding-y: 0.25rem;
$breadcrumb-padding-x: 1rem;
$breadcrumb-item-padding: 0.375rem;
$breadcrumb-text-color: $grey4;
$breadcrumb-bg: transparent;
$breadcrumb-font-size: $font-size-base;
$breadcrumb-font-weight: normal;
$breadcrumb-text-transform: none;
$breadcrumb-divider-font-size: inherit;
$breadcrumb-divider-line-height: $font-lh--3;
$breadcrumb-divider-color: $breadcrumb-text-color;
$breadcrumb-active-color: $breadcrumb-text-color;
$breadcrumb-divider: '\e82d';
$breadcrumb-min-visible-breakpoint: xl;

// Table border
$table-border-color: $grey3;

// Forms
$form-group-margin-bottom: 1.0625rem;
$input-padding-y: 0.5315rem;
$input-height: auto;
$input-focus-border-color: $grey2;
$input-focus-box-shadow: 'none';
$input-border-radius: 0;
$input-border-color: $grey2;

$custom-select-padding-y: $input-padding-y;
$custom-select-height: $input-height;
$custom-select-indicator-color: $secondary;
$custom-select-indicator: str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.7 8.647'%3e%3cpath transform='translate(15.7) rotate(90)' fill='#{$custom-select-indicator-color}' d='M0,.952.932,0,8.647,7.85.932,15.7,0,14.753l6.778-6.9Z'/%3e%3c/svg%3e"), "#", "%23");

$svg-check: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
$form-feedback-icon-invalid: "";

// Tooltip
$tooltip-border-radius: 0;
$tooltip-bg: $white;
$tooltip-color: $secondary;
$tooltip-font-size: 0.625rem;
$tooltip-font-weight: $font-weight-bold;
$tooltip-padding-y: 0.5rem;
$tooltip-padding-x: 1.5rem;
$tooltip-opacity: 1;
$tooltip-margin: 0.4rem;

// Buttons
$btn-border-radius: 0;

// Slick Carousel
$slick-font-path: '/node_modules/slick-carousel/slick/fonts/';
$slick-font-family: 'slick';
$slick-loader-path: '/node_modules/slick-carousel/slick-carousel/slick/';
$slick-arrow-color: $black;

// Banners
$banner-max-width: 100%;

// Links
$emphasized-link-hover-darken-percentage: 0%;

// Color Swatches
$swatch-size: 2.1875rem;
$swatch-filter-size: 1rem;
$swatch-border-color: $gallery-gray;
$swatch-border-width: 0.0625rem;
$swatch-border-radius: 0;
$swatch-selected-inner-border-color: $white;
$swatch-selected-outer-border-color: $text-muted;
$swatch-selected-border-gap: 0.5rem;
$swatch-disabled-opacity: 0.2;
$swatch-disabled-icon-color: rgba($white, 0.5);

// Modal
$modal-inner-padding: 2.4375rem;
$modal-dialog-margin-y-sm-up: 12rem;
$modal-title-line-height: 1.2;

$modal-content-border-width: 0;
$modal-content-border-radius: 0;

$modal-backdrop-bg: $alto;
$modal-backdrop-opacity: 0.7;
$modal-header-border-color: $white;
$modal-header-padding-y: 1rem;
$modal-header-padding-x: $modal-inner-padding;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x; // Keep this for backwards compatibility

$modal-xl: 1140px;
$modal-lg: 800px;
$modal-md: 460px;
$modal-sm: 300px;

//OOB Spacings
$oob-spacing: -6.625rem;

// Brand specific styles

$brand-page-type-1: '.page-unique-brand-type_1';
$brand-page-type-2: '.page-unique-brand-type_2';

// Brand page type_2 brand variables
$brand-page-type-2-border: #c6c6c6;
$brand-page-type-2-menu-link: #777;
$brand-page-type-2-refinement-arrow-color: #4a4a4a;

$brand-page-type-1-font: "Muli", sans-serif;
$brand-page-type-1-font-rtl: "DINNext", sans-serif;

$brand-page-type-2-font: "Arial", "Helvetica", sans-serif;
$brand-page-type-2-font-rtl: "DINNext", sans-serif;

$z-min: 1;
