@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "api/all";
@import "~brand_core/components/creditCardField";
@import "components/checkoutComponents";
@import "components/checkoutPaymentMethods";
@import "components/checkoutSteps";

$checkout-font-weight: 600;
$checkout-header-height: 57px;

// Checkout fixed header spacing

.page-checkout {
    @include media-breakpoint-down(sm) {
        padding-top: $checkout-header-height !important;
    }
}

.checkout-title {
    margin: 1.5625rem 0;
    font-size: fz(h2);
    font-weight: $font-weight-medium;
    line-height: $font-lh--2;

    @include media-breakpoint-up(md) {
        font-size: fz(h1);
    }
}

.checkout-subtitle {
    font-size: fz(h3);
    font-weight: $font-weight-medium;
    line-height: $font-lh--2;
}

.checkout-caption {
    font-size: fz(body);
    font-weight: $font-weight-medium;
    line-height: $font-lh--2;
}

.checkout-control-label {
    font-size: fz(body-xs);
}

.checkout-textarea {
    border: 0.0625rem solid $grey3;
    padding: 0.40625rem 0.625rem;

    &::placeholder {
        font-size: fz(body-sm);
        color: $secondary;
        font-style: normal;
    }
}

.checkout-main {
    margin-bottom: 5rem;
    overflow-x: hidden;

    @include media-breakpoint-up(xl) {
        margin-bottom: 1rem;
    }

    .card {
        border: 0;
        border-radius: 0;
        margin: 0;

        .bootstrap-select .no-result {
            font-size: fz(p9);
            padding: 0.3125rem;
        }

        .shipping-address-block,
        .billing-address,
        .save-credit-card {
            font-size: fz(p9);

            .form-control-label {
                font-size: fz(body);
                font-weight: $font-weight-normal;
            }
        }
    }

    .card-header {
        border-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .card-title {
        margin-bottom: 1.25rem;
    }

    .card-body {
        padding: 0;
        margin-top: 0;
        border-radius: 0;
    }

    .fieldset-content {
        background-color: $light;
        padding: 0.625rem;
        margin: 0 -0.9375rem;

        @include media-breakpoint-up(md) {
            margin: 0;
        }
    }

    .form-group {
        position: relative;
    }

    .shipment-selector-block {
        .btn-show-details,
        .btn-add-new {
            font-weight: $font-weight-medium;
            padding: 0;
            text-decoration: underline;
        }

        .form-control-label {
            font-size: fz(body);
            font-weight: $font-weight-medium;
            padding-left: 1.625rem;
        }

        .address-item-option {
            display: block;
            font-size: fz(body);
            font-weight: $font-weight-normal;
            font-style: italic;
            color: $text-muted;
        }
    }

    .address-item {
        display: flex;
        justify-content: space-between;
        margin: 0 0 1.25rem;
    }

    .address-actions {
        color: $grey3;
        font-size: fz(body-xs);
        font-weight: $font-weight-base;
        min-width: 6rem;
        margin-left: auto;
        text-align: right;
    }

    .address-item-edit {
        font-size: fz(body);
        font-weight: $font-weight-normal;
        margin-top: 0;
        padding: 0;
        text-transform: none;
        text-decoration: underline;
    }

    .shipping-method-block {
        margin-top: 1.25rem;
        padding-top: 1.25rem;
        border-top: 0.0625rem solid $tertiary;

        .shipping-method-option {
            .display-name {
                font-size: fz(body);
                font-weight: $font-weight-medium;
                display: block;
                padding: 0.25rem 0;
            }

            .arrival-time {
                font-size: fz(body);
                font-weight: $font-weight-normal;
                font-style: italic;
                display: block;
            }
        }

        .shipping-cost,
        .discounted-shipping-cost {
            font-size: fz(h4);
            font-weight: $font-weight-extra-bold;
            display: block;
            margin: 0;
            text-transform: uppercase;
            color: $secondary;
        }

        .shipping-cost.strike-through {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            color: $text-muted;
            padding-top: 0.3125rem;
        }

        .form-check-label {
            padding-top: 0;
            padding-left: 2rem;
        }
    }

    .shipping-method-list {
        .shipping-method-item:not(:last-child) {
            margin-bottom: 1.25rem;
            padding-bottom: 1.25rem;
            border-bottom: 0.0625rem solid $tertiary;
        }
    }

    .shipping-form-actions {
        align-items: center;
    }

    .use-my-location {
        float: right;
        position: relative;
        z-index: 1;
        cursor: pointer;
        font-size: fz(body);
        margin-top: -0.125rem;
    }

    .shipping-form-action-buttons {
        display: flex;
        align-items: center;

        @include media-breakpoint-up(xl) {
            justify-content: flex-end;
        }
    }

    .shipping-form-action-btn {
        flex: 1;

        @include media-breakpoint-up(xl) {
            flex: auto;
        }
    }

    .shipping-form-cancel-btn {
        margin-right: 1rem;
    }

    .order-total-summary {
        border-top: 0.0625rem solid $tertiary;
        padding: 1.5625rem 0 0;
        margin: 1.25rem 0 0;

        @include media-breakpoint-up(xl) {
            padding: 0.9375rem 0.96875rem;
            margin: 0 0 1.25rem;
            background-color: $light;
            border: none;
        }

        .checkout-subtitle {
            margin-bottom: 1.25rem;
        }
    }

    .card-inner {
        @include media-breakpoint-down(lg) {
            transform: none !important;
            position: static !important;
            width: auto !important;
        }
    }
}

.billing-payment-options-block {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 0.0625rem solid $tertiary;

    .payment-options {
        background: $alabaster;
        margin: 0 -0.9375rem 1.25rem;

        @include media-breakpoint-up(xl) {
            margin: 0 0 1.25rem;
        }
    }

    .payment-options-item {
        position: relative;
        flex: 1;

        &:not(:first-child) {
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 0.0625rem;
                height: 1rem;
                margin-top: -0.5rem;
                border-left: 0.0625rem solid $text-muted;
            }
        }
    }

    .payment-options-link {
        display: block;
        width: 100%;
        padding: 0.625rem;
        font-weight: $font-weight-medium;
        text-decoration: none;
        color: $text-muted;
        white-space: nowrap;

        &.active {
            color: $secondary;
        }
    }

    .payment-options-link-icon {
        display: inline-block;
        margin-right: 0.3125rem;
        margin-top: -0.5rem;

        &::before {
            position: relative;
            top: 0.1875rem;
            font-size: 1.5rem;
        }

        &.sc-icon-cod::before {
            top: 0.0625rem;
            font-size: 1.125rem;
        }
    }

    .payment-options-item {
        .nav-link-note {
            font-size: fz(p8);
            font-weight: $font-weight-medium;
            font-style: italic;
            display: block;
        }
    }

    .label-service-fee {
        display: none;
        font-family: ff(secondary);
        font-weight: $font-weight-extra-bold;
        white-space: nowrap;
    }

    .label-default-method {
        color: $grey3;
        font-weight: $font-weight-light;
        font-size: fz(body-xs);
    }

    .form-control-label {
        font-size: fz(body);
        font-weight: $font-weight-medium;
    }

    .security-code-input-container {
        display: flex;
        align-items: center;

        .form-text {
            font-size: fz(body-xs);
            font-weight: $font-weight-normal;
            max-width: 7.1875rem;
            margin: 0 0 0 0.625rem;
        }
    }

    .security-code-input {
        max-width: 7.5rem;
        position: relative;

        @include media-breakpoint-up(xl) {
            max-width: 6.5rem;
        }
    }

    .security-code-input-icon {
        position: absolute;
        right: 0.5625rem;
        top: 50%;
        transform: translateY(-50%);

        .sc-icon::before {
            font-size: 1.75rem;
        }
    }

    .securityCode {
        width: 100%;
        padding-right: 2.1875rem;
    }

    .region-code {
        max-height: 2.75rem !important;
    }

    .applepay-content {
        margin: 0 0 1.25rem;
        width: 100%;

        @include media-breakpoint-up(xl) {
            width: 50%;
        }
    }

    .apple-pay-cart {
        &,
        &:hover {
            @include btn-base;

            margin: 0;
            background: $white url(../images/icons/apple-pay.svg) center center no-repeat;
        }

        max-width: 350px;
    }
}

.saved-payment-instrument {
    align-items: flex-start;
    margin-bottom: 1.5625rem;
    font-weight: $font-weight-medium;

    .saved-credit-card-info {
        display: block;
    }

    .security-code-input {
        margin-top: 0.625rem;
    }

    .security-code-input {
        max-width: 10rem;
    }

    .label-default-method {
        color: $text-muted;
        font-weight: $font-weight-normal;
        font-size: fz(body);
        font-style: italic;
    }

    .card-image {
        width: 1.875rem;
        min-width: 1.875rem;
    }

    &.selected-payment {
        .saved-payment-instrument-icon::after {
            display: block;
        }
    }
}

.payment-add-new.active {
    margin-bottom: 1.5625rem;
}

.payment-add-new-btn {
    font-weight: $font-weight-medium;
    padding: 0;
    text-decoration: underline;
}

.checkout-cash-delivery-text {
    margin-bottom: 0.9375rem;
}

.checkout-cash-delivery-note {
    font-weight: $font-weight-medium;
}

.checkout-cash-delivery-price {
    font-size: fz(h4);
    font-weight: $font-weight-bold;
}

.sms-verification-container {
    padding-top: 0.5rem;
    background: $white;

    .form-control-label {
        font-size: fz(body);
        font-weight: $font-weight-medium;
        margin-bottom: 0.625rem;
    }
}

.card.ghost {
    opacity: 0.5;
}

.billing-address {
    display: block;
}

.billing-address-title {
    font-size: fz(h4);
    font-weight: $font-weight-medium;
    line-height: $font-lh--2;
}

.error-message {
    display: none;
}

.next-step-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: $white;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;

    @include media-breakpoint-up(xl) {
        background: none;
        position: static;
        padding-top: 1.5625rem;
        padding-bottom: 1.5625rem;
    }
}

.order-total-summary-mobile {
    .checkout-subtitle {
        margin-bottom: 1.25rem;
    }

    .order-total-summary {
        padding: 0.9375rem 0.96875rem;
        margin: 0 -0.9375rem 1.875rem;
        background-color: $light;
        border: none;
    }
}

.order-total-summary-item {
    margin-bottom: 0.9375rem;

    &.subtotal-item {
        margin-bottom: 1.25rem;
    }
}

.order-total-summary-label {
    font-size: fz(body);
    font-weight: $font-weight-medium;
    line-height: $font-lh--4;
    margin: 0;
}

.order-total-summary-value {
    font-size: fz(h4);
    font-weight: $font-weight-medium;
    line-height: $font-lh--4;
    margin: 0;
}

.order-total-summary-total {
    .order-total-summary-label {
        font-size: fz(p13);
    }
}

.sticky-sidebar-container {
    .order-total-summary-container {
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
}

.multi-ship .multi-shipping {
    display: block;
}

.order-product-summary {
    display: block;

    .order-product-summary-edit {
        font-size: fz(body);
        font-weight: $font-weight-normal;
        margin-top: 0;
        padding: 0;
        text-transform: none;
        text-decoration: underline;
    }
}

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
    display: block;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        button.submit-payment {
            display: none;
        }

        button.submit-shipping {
            display: none;
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        .checkout-step-shipping-title {
            color: $secondary;
            font-weight: $font-weight-bold;
        }

        .shipping-title {
            display: block !important;
        }

        &.multi-ship .order-product-summary {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: block;
        }

        [data-address-mode=customer] {
            .shipping-address-block {
                display: none;
            }

            .shipment-selector-block {
                display: block !important;
            }
        }

        [data-address-mode=shipment] {
            .shipping-address-form {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }

            .shipping-address-block {
                margin-top: 25px;
            }
        }

        [data-address-mode=details] {
            .btn-add-new,
            .shipment-selector-block,
            .title-add-address {
                display: none;
            }

            .title-edit-address {
                display: block !important;
            }
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        .checkout-step-payment-title {
            color: $secondary;
            font-weight: $font-weight-bold;
        }

        .payment-title {
            display: block !important;
        }

        .shipping-section,
        .card.ghost {
            display: none;
        }

        .card.payment-form,
        .shipping-summary {
            display: block;
        }

        button.submit-payment {
            display: block;
        }

        .terms-and-conditions-warning {
            display: block;
        }

        [data-address-mode=customer] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        .shipping-section,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: block;
        }
    }

    &[data-checkout-stage=submitted] {
        .shipping-form,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: none;
        }
    }

    option[value=new] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}

[data-customer-type=guest] .single-shipping .shipment-selector-block {
    display: none;
}

.single-shipping .multi-ship-action-buttons {
    display: none;
}

.single-shipping .view-address-block {
    display: none;
}

.btn-show-details {
    padding-top: 0;
}

.multi-ship-address-actions .btn-save-multi-ship {
    margin-left: 0.625rem;
}
