@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "api/all";
@import "components/checkoutPaymentMethods";
@import "components/checkoutSteps";

.checkout-login-forms-wrapper {
    display: flex;
    flex-direction: column;

    .form-auth {
        margin: 0 auto;
        position: relative;

        .modal-register-btn,
        .modal-reset-password-btn {
            display: none;
        }

        @include media-breakpoint-up(md) {
            max-width: 28.125rem;
        }

        @include media-breakpoint-up(xl) {
            max-width: 29.6875rem;
        }

        .btn-outline-checkout {
            color: $primary;
            background: none;
            border: 0.0625rem solid $primary;
            font-size: fz(body);
            font-weight: $font-weight-extra-bold;
            height: 2.5rem;

            @include media-breakpoint-up(xl) {
                position: absolute;
                bottom: 0;
            }

            @include media-breakpoint-down(lg) {
                margin-top: 1.6875rem;
                margin-bottom: 2.5rem;
            }
        }
    }

    .create-account-wrapper {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        flex-direction: row;

        hr {
            display: none;
        }

        .container-title {
            margin-top: 0;
        }
    }
}

.login-container {
    @include media-breakpoint-up(xl) {
        &::after {
            content: '';
            border-right: 1px solid $hr-border-color;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
        }

        .oauth-padding {
            padding-top: 3.15rem;
        }
    }
}

.guest-checkout-wrapper {
    .form-auth {
        position: relative;
        height: 100%;

        .guest-checkout-title {
            font-family: ff(base);
            font-size: fz(h3);
            font-weight: $font-weight-medium;
            margin-bottom: 0.625rem;
            text-align: center;
            text-transform: uppercase;
        }

        .guest-checkout-subtitle {
            text-align: center;
            font-size: fz(body);
            margin-bottom: 3.25rem;

            @include media-breakpoint-down(xl) {
                margin-bottom: 1.5625rem;
            }
        }
    }
}

.checkout-title {
    margin: 1.5625rem 0;
    font-family: ff(base);
    font-size: fz(h1);
    font-weight: $font-weight-medium;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
        font-size: fz(h2);
    }
}
