@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "api/all";
@import '~base/components/categoryTiles';

.confirmation-container {
    margin-top: 2rem;

    @include media-breakpoint-up(xl) {
        margin-top: 3.6rem;
    }

    .confirmation-message-row {
        font-size: fz(p15);
        line-height: $font-lh--5;

        @include media-breakpoint-only(xs) {
            margin: 0;
        }

        .confirmation-image-section {
            .content-asset {
                height: 100%;
            }
        }

        .confirmation-message-border {
            border: 0.0625rem solid $grey2;
        }

        .confirmation-image {
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;

            @include media-breakpoint-down(sm) {
                height: 9.375rem;
            }
        }

        .confirmation-thank-you-msg {
            font-size: fz(h2);
            font-weight: $font-weight-medium;
        }

        .confirmation-thank-you-email-msg {
            margin: 2.1875rem 0;

            .confirmation-order-number {
                font-weight: $font-weight-bold;
            }
        }
    }

    .confirmation-row {
        justify-content: space-between;

        @include media-breakpoint-only(xs) {
            margin: 0;
        }

        .confirmation-order-header {
            font-size: fz(h2);
            font-weight: $font-weight-medium;
            text-transform: uppercase;
            margin: 1.5625rem 0;

            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }

        .confirmation-shipping-method {
            line-height: 1.2rem;

            .confirmation-shipping-name {
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            .confirmation-shipping-arrival-time {
                font-weight: $font-weight-light;
            }
        }

        .confirmation-shipping-inline-title {
            font-weight: $font-weight-bold;
            line-height: $font-lh--3;
            text-transform: uppercase;
            margin-bottom: 0.375rem;
            display: inline-block;
        }

        .confirmation-payment-info {
            font-weight: $font-weight-normal;
        }

        .confirmation-sold {
            display: block;
            font-weight: $font-weight-normal;
            line-height: $font-lh--6;

            @include media-breakpoint-down(lg) {
                width: 50%;
            }

            .confirmation-billing-line {
                font-size: fz(body);
                font-weight: $font-weight-normal;
                margin-bottom: 0;
            }
        }

        .confirmation-shipped {
            display: block;
            font-weight: $font-weight-normal;
            line-height: $font-lh--6;

            @include media-breakpoint-down(lg) {
                width: 50%;
            }
        }

        .confirmation-items-header {
            font-size: fz(h3);
            font-weight: $font-weight-medium;
            text-transform: uppercase;
            margin: 1.5625rem 0;
        }

        .confirmation-items {
            .confirmation-item:last-child {
                .confirmation-item-devider {
                    display: none;
                }
            }
        }

        .confirmation-item-devider {
            margin: 0.9375rem 0;

            @include media-breakpoint-up(xl) {
                margin: 1.25rem 0;
            }
        }

        .confirmation-item-image {
            padding-right: 0.9375rem;

            @include media-breakpoint-up(md) {
                padding-right: 1.25rem;
            }

            @include media-breakpoint-up(xl) {
                padding-right: 0.925rem;
            }

            .product-image {
                width: 4.375rem;

                @include media-breakpoint-up(xl) {
                    width: 5rem;
                }
            }
        }

        .confirmation-item-description {
            width: 100%;
        }

        .confirmation-item-brand {
            font-weight: $font-weight-bold;
            line-height: $font-lh--5;

            @include media-breakpoint-down(lg) {
                padding-right: 1.5625rem;
            }
        }

        .confirmation-item-name {
            line-height: $font-lh--3;
            margin-bottom: 0.75rem;
        }

        .confirmation-item-attribute-title {
            font-size: fz(body-sm);
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }

        .confirmation-item-quantity {
            .confirmation-item-attribute-value {
                display: block;
                text-align: center;
                max-width: 3.75rem;
            }
        }

        .confirmation-item-price {
            font-size: fz(h4);
            font-weight: $font-weight-extra-bold;
            color: $secondary;
            line-height: $font-lh--4;
            align-self: flex-end;

            @include media-breakpoint-up(md) {
                font-size: fz(h3);
                line-height: $font-lh--2;
            }

            .cart-bonus-product-no-price {
                font-size: fz(h3);
                font-weight: $font-weight-extra-bold;
                color: $secondary;
                line-height: $font-lh--2;
                text-transform: uppercase;
            }

            .cart-product-price-discounted {
                font-size: fz(h4);
                font-weight: $font-weight-extra-bold;
                color: $secondary;
                line-height: $font-lh--4;
            }

            .cart-product-price-main {
                &.strike-through,
                &.worth {
                    font-size: fz(body);
                    font-weight: $font-weight-normal;
                    line-height: $font-lh--3;
                    color: $text-muted;
                    margin: 0;
                }
            }
        }

        .confirmation-gift-items {
            padding: 0 0.1rem;

            .confirmation-gift-row {
                display: flex;
                position: relative;

                .confirmation-item-image {
                    img {
                        width: 4.375rem;
                    }
                }

                .confirmation-gift-description {
                    width: calc(100% - 5rem);
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;

                    .confirmation-gift-name {
                        width: 60%;
                        position: relative;
                        margin-left: 0.9375rem;
                        font-weight: $font-weight-bold;
                        text-transform: uppercase;

                        @include media-breakpoint-up(xl) {
                            width: 13.875rem;
                        }

                        p {
                            margin-bottom: 0;
                        }
                    }

                    .confirmation-gift-price {
                        font-size: fz(body-sm);
                        text-align: right;

                        @include media-breakpoint-down(lg) {
                            margin-right: 0;
                        }

                        .confirmation-gift-span {
                            text-transform: uppercase;
                            font-size: fz(h4);
                            font-weight: $font-weight-extra-bold;
                        }
                    }
                }
            }

            .confirmation-gift-personal {
                margin-top: 2rem;

                .confirmation-gift-header {
                    font-weight: $font-weight-medium;
                    font-size: fz(body);
                    margin-bottom: 0.6rem;
                }

                .confirmation-gift-message {
                    padding: 0.6rem;
                    border: 0.0625rem solid $grey3;
                    font-size: fz(body-xs);
                    font-weight: $font-weight-light;
                    word-break: break-word;
                }
            }
        }

        .confirmation-gift-bonus {
            .strike-through {
                display: none;
            }
        }

        .confirmation-order-total-summary {
            margin-top: 1.5625rem;
            padding: 1rem;
            background-color: $alabaster;

            p {
                font-size: fz(body);
                font-weight: $font-weight-medium;
                margin-bottom: 0;
            }

            .confirmation-total-line {
                margin-bottom: 0;
                line-height: 1rem;
            }

            .confirmation-total-include {
                font-size: fz(p13);
                font-weight: $font-weight-normal;
            }

            .total-label {
                font-weight: $font-weight-medium;
                font-size: fz(h4);
            }

            .sub-total,
            .order-discount-total,
            .shipping-total-cost,
            .order-discount-total,
            .shipping-discount-total,
            .payment-service-fee-total {
                text-transform: uppercase;
                font-size: fz(h4);
                font-weight: $font-weight-medium;
                line-height: $font-lh--4;
            }

            .grand-total-sum {
                font-size: fz(h4);
                font-weight: $font-weight-medium;
            }
        }

        .confirmation-right-part {
            @include media-breakpoint-down(sm) {
                padding-left: 0;
                padding-right: 0;
            }

            .confirmation-form {
                border: 0.0625rem solid $grey3;
                padding: 1rem;

                @include media-breakpoint-up(xl) {
                    padding: 1.25rem;
                }

                .box-epsilon {
                    @include media-breakpoint-up(md) {
                        padding-right: 0;
                    }

                    @include media-breakpoint-up(xl) {
                        padding-right: 8rem;
                    }

                    > h4 {
                        @include media-breakpoint-up(md) {
                            font-size: fz(p16);
                        }

                        @include media-breakpoint-up(xl) {
                            font-size: fz(h3);
                        }
                    }

                    > p {
                        @include media-breakpoint-up(md) {
                            padding-top: 0.6rem;
                        }

                        @include media-breakpoint-up(xl) {
                            padding-top: 0;
                        }
                    }

                    > img {
                        @include media-breakpoint-up(md) {
                            width: 5.625rem;
                            float: right;
                            position: relative;
                            top: -0.5rem;
                            right: auto;
                            margin-left: 1rem;
                        }

                        @include media-breakpoint-up(xl) {
                            position: absolute;
                            top: -0.5rem;
                            right: 0;
                            width: 7.875rem;
                        }
                    }
                }

                .confirmation-subscribe-label {
                    font-size: fz(body-xs);
                    font-weight: $font-weight-light;
                }

                .confirmation-subscribe-info {
                    font-size: fz(p8);
                    font-weight: $font-weight-light;
                    padding: 0.3rem 1.5rem;

                    @include media-breakpoint-down(lg) {
                        padding: 0.7rem 0;
                    }
                }

                .confirmation-create-account-btn {
                    margin-top: 1.5rem;
                    padding: 0.9rem 1rem 0.8rem;
                    background-color: $primary;
                    border: none;
                    font-size: fz(p13);

                    @include media-breakpoint-down(lg) {
                        margin-top: 0;
                    }
                }
            }

            .confirmation-find-gift {
                margin-top: 2.3rem;
                position: relative;

                .confirmation-find-gift-img {
                    padding: 1rem;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .confirmation-find-gift-header {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: fz(p16);
                    font-weight: $font-weight-light;
                }

                .confirmation-find-gift-article {
                    font-size: fz(p13);
                    font-style: italic;
                    text-align: center;
                }
            }
        }

        .confirmation-find-gift-only-tablet {
            display: none;
            margin-top: 1.3rem !important;

            @include media-breakpoint-down(lg) {
                display: block;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }

            .confirmation-find-gift {
                position: relative;
                display: flex;
                margin-top: 0.7rem;

                .row {
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                .row:nth-child(2) {
                    margin-left: 1rem;
                }

                .confirmation-find-gift-img {
                    padding-right: 2rem;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .confirmation-find-gift-header {
                    text-align: left;
                    text-transform: uppercase;
                    font-size: fz(p16);
                    font-weight: $font-weight-light;
                    margin-top: 0.7rem;
                }

                .confirmation-find-gift-article {
                    font-size: fz(p13);
                    font-style: italic;
                    text-align: left;
                }
            }
        }

        .confirmation-exclusive-benefits {
            border: 0.0625rem solid $grey2;
            margin-top: 1.5625rem;

            .confirmation-exclusive-benefits-title {
                font-size: fz(h3);
                font-weight: $font-weight-medium;
            }

            .confirmation-exclusive-benefits-subtitle {
                font-size: fz(body);
                font-weight: $font-weight-normal;
                margin: 1.25rem 0;
            }

            .confirmation-exclusive-benefits-image {
                img {
                    width: 100%;
                }
            }

            .btn-outline-confirmation {
                color: $primary;
                font-weight: $font-weight-medium;
                height: 2.5rem;
                border: 0.0625rem solid $primary;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
