@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "api/all";

.contact-title {
    font-family: ff(base);
    font-size: fz(h1);
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.5rem;

    @include media-breakpoint-down(md) {
        margin: 1.5625rem 0;
    }

    @include media-breakpoint-down(sm) {
        font-size: fz(h2);
    }
}

.contact-seperator {
    border-bottom: 1px solid $grey2;
    margin-bottom: 1.5625rem;
}

.contact-image {
    float: right;

    img {
        width: 100%;
    }
}

.contactus-form {
    .mandatory-fields-label {
        color: $text-muted;
        font-size: fz(body-xs);
        font-style: italic;
        text-transform: lowercase;
        float: right;
    }

    .form-group {
        margin-bottom: 1.25rem;

        label {
            margin-bottom: 0.625rem;
        }
    }

    .custom-select {
        .dropdown-toggle {
            border: 1px solid $grey2;
        }
    }

    .contact-customer-service {
        .customer-service-title {
            font-family: ff(base);
            font-weight: $font-weight-medium;
            font-size: fz(h4);
            text-transform: uppercase;
        }

        span {
            margin-top: 0.9375rem;
            line-height: 1.25;

            &.customer-service-phone {
                font-size: fz(body-sm);
            }
        }
    }
}

.contact-us-notification {
    .modal-dialog {
        max-width: 33.75rem;

        @include media-breakpoint-only(md) {
            max-width: 28.125rem;
        }

        .modal-header {
            padding-top: 2.1875rem;

            h4 {
                font-family: ff(base);
                font-weight: $font-weight-medium;
                font-size: fz(h2);
                text-transform: uppercase;
                margin: 0;

                &::after {
                    border: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .modal-body {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            padding: 2.1875rem 8.75rem;

            @include media-breakpoint-down(md) {
                padding-left: 3.125rem;
                padding-right: 3.125rem;
            }
        }

        .modal-footer {
            padding: 0 5.9375rem 1.875rem;

            @include media-breakpoint-down(md) {
                padding-left: 3.125rem;
                padding-right: 3.125rem;
            }
        }
    }
}
