@import "variables";
@import 'api/all';
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import '~brand_core/mixins/mixinsGlobal';
@import "utils/mixinsBrand";

$account-form-border-color: #cbcbcb;
$form-control-label-lh: 1.64;
$account-subtitle-lh: 2.5;
$login-line-height-1: 1.07;
$login-letter-spacing-1: 0.07813rem;
$login-back-to-cart-ls: 0.02875rem;

.account-subtitle {
    color: $primary;
    font-size: $font-size--6;
    font-weight: $font-weight-heavy;
    font-family: ff(secondary);
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    line-height: $account-subtitle-lh;
    margin-top: -0.1875rem;
    margin-bottom: 0.1875rem;

    /* rtl:raw:
        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        font-weight: 400;
    */
}

.account-title {
    color: $primary;
    font-size: $font-size-base;
    font-weight: $font-weight-heavy;
    font-family: ff(secondary);
    margin-bottom: 1.375rem;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    line-height: $line-height-15;

    /* rtl:raw:
        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        font-weight: 400;
    */
}

.account-info-container {
    .benefits-info-container {
        color: $secondary;
        font-size: $font-size--3;
        line-height: $line-height-6;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        position: relative;
        top: 0.3125rem;
        margin-left: 0.875rem;
    }

    .benefits-info-list {
        margin: 0.6125rem 0 0.8125rem;
        list-style: none;
        padding: 0 0 0 0.4rem;

        .benefits-info-item {
            margin-bottom: 0.525rem;

            &::before {
                content: "-";
                position: relative;
                left: -0.3125rem;
            }

            &:last-child {
                margin-top: 0.9375rem;
            }
        }
    }
}

.sign-in-btn {
    margin-bottom: 1.4375rem;
}

.register-container {
    .container-title {
        font-size: $font-size-8;
        margin-bottom: 1.25rem;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-14;
            margin-bottom: 1.6875rem;
        }
    }
}

.registration-form {
    .form-group {
        max-width: 24.375rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.875rem;
    }

    .registration-form-birthday {
        .form-group {
            margin-bottom: 1.125rem;
        }
    }

    .registration-form-subscride {
        max-width: 26.25rem;
        margin-left: auto;
        margin-right: auto;

        .form-control-label,
        .form-group input[type="checkbox"] + .form-control-label {
            color: $secondary;
            font-size: $font-size--3;
            font-family: ff(tertiary);
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            margin-left: 0;
            display: none;
        }

        .form-control-label {
            margin-bottom: 0.8125rem;
        }

        .form-group {
            margin-bottom: 0.6875rem;

            .form-control-label,
            input[type="checkbox"] + .form-control-label {
                display: inline-block;
            }

            input[type="checkbox"] {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    .registration-form-accountpreferences {
        max-width: 26.125rem;
        margin-left: auto;
        margin-right: auto;

        .row {
            align-items: flex-end;

            > .form-control-label {
                margin-bottom: 0.8125rem;
            }
        }

        .form-control-label,
        .form-group input[type="checkbox"] + .form-control-label {
            color: $secondary;
            font-size: $font-size--3;
            font-family: ff(tertiary);
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            margin-left: 0;
        }

        .form-group {
            max-width: 50%;
            margin-left: 0;
            margin-right: 0;

            input[type="checkbox"] {
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .accountpreferences-item {
            display: inline-block;
            margin-right: -0.375rem;
            margin-left: 0.9375rem;
            margin-bottom: 1.75rem;

            &:last-child {
                margin-right: -0.625rem;
                margin-left: 0.25rem #{"/*rtl:1.6875rem*/"};
            }
        }
    }

    .registration-form-title {
        .row {
            text-align: center;

            .col-3 {
                flex: 0 0 calc(100% / 3);
                max-width: calc(100% / 3);
            }
        }
    }

    .form-control {
        &[type="tel"] {
            &:not(:placeholder-shown) {
                border-color: $athens-gray;
            }

            &:focus {
                border-color: $secondary;
            }
        }
    }

    .password-feedback {
        .sc-icon-checkbox-v,
        .sc-icon-cross {
            display: none;
        }

        > div {
            padding-right: 0.1875rem;

            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            */

            &:first-child {
                width: 100%;
            }
        }
    }

    .registration-form-action {
        .btn-primary {
            min-width: 13.5625rem;
            font-size: $font-size--5;
            letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
        }
    }
}

.page-reset-password-btn {
    color: $secondary;
    border-bottom: 0.0625rem solid $secondary;
    font-size: $font-size--5;
    line-height: $form-control-label-lh;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
    padding-right: 0.1rem;

    /* rtl:raw:
        font-family: "GESSTwoLight-Light", Arial, Sans-serif;
    */

    &:hover {
        border-color: $grey20;
    }

    &:active {
        border-color: $grey2;
    }
}

.new-account-text {
    color: $secondary;
    font-family: $font-family-tertiary;
    font-size: $font-size--3;
    line-height: $line-height-16;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    margin-bottom: 1.5625rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 7rem;
    }

    .new-account-link {
        color: $primary;
        border-bottom: 0.0625rem solid $primary;
    }
}

.account-form {
    color: $grey13;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    border: 0.03125rem solid $account-form-border-color;
    margin-bottom: 2.5rem;
    width: 20.5rem;
    padding: 2.875rem 1.16875rem 0 1.1875rem;

    @include media-breakpoint-up(md) {
        margin-right: 1.33125rem;
        min-height: 29.5625rem;
    }

    &.login-form {
        padding: 2.875rem 1.125rem 0 1.23125rem;
    }

    &.create-account {
        padding-bottom: 1.5625rem;

        @include media-breakpoint-up(lg) {
            padding-bottom: 0;
        }
    }

    &.track-order {
        margin-right: 0;
    }

    .invalid-feedback {
        position: absolute;
        margin-top: -0.2325rem;
        font-size: $font-size--5;
        letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
    }
}

.login-form-container,
.track-order-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.login-option-menu {
    margin-top: -3.5rem;

    .form-group {
        margin-bottom: 0.5rem;
    }

    .forgot-password {
        margin: -2.8125rem 0 0;
        font-size: $font-size--2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        position: relative;
        float: right;
    }

    .forgot-password,
    .form-control-label {
        font-size: $font-size--5;
        line-height: $form-control-label-lh;
        letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
    }

    .form-control-label {
        top: -0.25rem;
    }

    .remember-me {
        label.form-control-label {
            color: $secondary;
            padding-left: 1.875rem;
        }
    }
}

.account-form-body,
.account-card-body {
    line-height: $line-height-16;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

    .form-group {
        margin-bottom: 1.25rem;
    }

    .form-control {
        height: 2.5rem;
        padding: 0.5rem 20% 0.5rem 0.875rem;

        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, sans-serif;
        */
    }

    .form-control-label {
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        top: 0.5rem;
        line-height: $line-height-16;
        left: 0.4375rem;

        &::after {
            top: 1.375rem;

            .checkout-login-forms-wrapper & {
                top: 1.75rem;
            }
        }
    }
}

.form-auth {
    margin-top: 0.8125rem;

    .account-card-body,
    .account-form-body,
    .account-info-container {
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        min-height: 10rem;
    }

    &.checkout-login-forms-wrapper {
        max-width: 20.9375rem;
        margin: 2.4375rem auto 18.4vh;

        @include media-breakpoint-down(sm) {
            margin-bottom: 1.25rem;
        }

        .account-card-body,
        .account-form-body,
        .account-info-container {
            color: $primary;
            font-size: $font-size--1;
            text-align: center;
            line-height: $line-height-7;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            margin-bottom: 2.125rem;
            min-height: 3.25rem;

            /* rtl:raw:
                font-family: "GESSTwoLight-Light", Arial, Sans-serif;
                font-weight: 300;
            */

            @include media-breakpoint-up(lg) {
                min-height: 3.25rem;
            }
        }

        .account-form {
            border: none;
        }

        .checkout-as-guest {
            font-size: $font-size--2;
            line-height: $login-line-height-1;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

            /* rtl:raw:
                font-weight: 500;
            */
        }

        .container-title {
            border-top: 0.0625rem solid $athens-gray;
            margin: 2.5rem 0 2.3125rem;
            padding: 1.9375rem 0 0;
            line-height: $line-height-18;
            letter-spacing: $login-letter-spacing-1 #{"/*rtl:normal*/"};
            font-size: $font-size-4;
            width: 100%;

            /* rtl:raw:
                font-family: "GeezaPro", Arial, Sans-serif;
            */
        }

        .account-title {
            letter-spacing: $login-letter-spacing-1 #{"/*rtl:normal*/"};
            line-height: $line-height-18;
            margin-bottom: 1.5rem;
            font-size: $font-size-4;
        }

        .form-auth {
            margin-top: 0;
        }

        .form-group {
            text-align: left;
            margin-bottom: 1.875rem;
        }

        .create-account,
        .login-sign-in,
        .account-subtitle,
        .remember-me {
            display: none;
        }

        .forgot-password {
            float: none;
            text-align: center;
            text-decoration: none;
            position: absolute;
            bottom: 1.1875rem;
            width: 100%;
        }

        .page-reset-password-btn {
            color: $secondary;
            border: none;
            font-size: $font-size--1;
            line-height: $line-height-7;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }

        .login-form {
            margin-top: 0;
            padding: 0;
        }

        .guest-checkout-wrapper {
            padding: 0;
            margin-bottom: 0;
        }

        .login-option-menu {
            margin-top: 0;
        }

        .login-form,
        .login-form-left,
        .guest-checkout-wrapper {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            min-height: auto;
        }

        .login-form-container {
            justify-content: normal;
            margin-right: -0.9375rem;
            margin-left: -0.9375rem;
        }

        .sign-in-btn {
            padding: 1rem;
            height: 3.125rem;
            font-size: $font-size--2;
            line-height: $login-line-height-1;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

            /* rtl:raw:
                font-size: 0.8125rem;
                line-height: 1.46;
                font-weight: 500;
            */
        }

        .form-control {
            padding: 0.25rem 20% 0.25rem 0.875rem;
            height: 3.125rem;
        }

        .form-control-label {
            font-size: $font-size--1;
            line-height: $line-height-7;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

            /* rtl:raw:
                font-family: "GESSTwoLight-Light", Arial, Sans-serif;
            */
        }

        .new-account-text {
            display: none;
        }

        .invalid-feedback {
            position: relative;
            margin-top: 0.3125rem;
            font-size: $font-size--2;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }
    }
}

.checkout-login-forms-wrapper {
    .form-control-label {
        top: 0.875rem;
    }
}

.header {
    &.checkout-header {
        padding: 0;
        margin-bottom: 0;
        border-bottom: 0.0625rem solid $grey3;

        .navbar-header {
            padding: 1.5rem 0 1.5625rem;
        }

        .header-top {
            padding: 0;
        }

        .header-top-center {
            transform: translate(0, 0);
            margin: 0;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 2rem;
        }

        .back-to-cart {
            font-size: $font-size--3;
            font-weight: 300;
            line-height: $line-height-16;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            position: absolute;
            top: 50%;
            left: 0.5rem;
            transform: translate(0, -50%);
            text-transform: none;
            z-index: map-get($zindex, zindex-base);

            /* rtl:raw:
                font-family: "GESSTwoLight-Light", Arial, Sans-serif;
            */

            &::before {
                content: url('../images/icons/arrow-back.svg');
                margin-right: 0.6875rem;
                display: inline-block;

                /* rtl:raw:
                    transform: rotate(-180deg);
                */
            }
        }
    }
}

.reset-password-form {
    color: $grey13;

    .form-group {
        @include media-breakpoint-up(lg) {
            margin-bottom: 1.5rem;
        }

        &.required {
            .form-control-label {
                &::before {
                    display: none;
                }
            }
        }
    }
}
