@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import '../../default/scss/mixins/swatch';
@import '../../default/scss/utilities/swatch';
@import '~base/components/categoryTiles';

.refinement-bar {
    ul {
        padding-left: 0;
    }

    @include media-breakpoint-up(xl) {
        display: block;
        padding-right: 0.9375rem;
        position: sticky;
        overflow: auto;
    }

    @include media-breakpoint-down(lg) {
        .mobile-modal-body {
            padding-right: 0;
        }
    }
}

.border-bottom-xl {
    @include media-breakpoint-up(xl) {
        border-bottom: 1px solid $border-color !important;
    }
}

.grid-header,
.content-grid-header,
.refinement-header {
    margin-bottom: 1.1875rem;
    padding-bottom: 0.5rem;
    min-height: 2.625rem;
    align-items: center;

    @include media-breakpoint-up(xl) {
        margin-bottom: 0;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .col-form-label {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        margin-right: 0.875rem;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .custom-select,
    .bootstrap-select.custom-select {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        height: 2.625rem;

        @include media-breakpoint-up(xl) {
            height: calc(2rem + 1px) !important;
            width: 11.25rem !important;
        }

        .custom-select {
            width: 0.5px !important;
        }

        .dropdown-toggle,
        .dropdown-item {
            font-size: $font-size--2;
            font-weight: $font-weight-medium;
            padding-top: 0.375rem;
            padding-bottom: 0.375rem;
        }

        .dropdown-item {
            padding: 0.5rem 0.75rem;
        }
    }
}

.grid-footer {
    padding-top: 15px;
    padding-bottom: 30px;

    @include media-breakpoint-up(lg) {
        padding-bottom: 130px;
    }
}

.custom-select.bootstrap-select {
    @include media-breakpoint-up(xl) {
        z-index: 1060;
    }
}

.refinement-header {
    font-size: $font-size-base;
    font-weight: $font-weight-semi-bold;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.grid-header-row {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.refinement {
    border: 0;
    border-radius: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    @include media-breakpoint-up(xl) {
        border-bottom: 0.0625rem solid $grey3;
        background-color: transparent;

        &:last-child {
            border-bottom: 0;
        }
    }

    .card-header {
        cursor: pointer;
        font-size: $font-size-3;
        font-weight: $font-weight-medium;
        border-radius: 0;
        border-bottom: 0;
        padding-left: 0;
        padding-right: 0.4375rem;
        display: flex;
        align-items: center;
        position: relative;

        @include media-breakpoint-up(xl) {
            font-size: $font-size--2;
            background-color: transparent;
        }

        > i {
            margin-left: auto;
            margin-right: 1.6rem;

            @include media-breakpoint-up(xl) {
                margin-right: 0;
                top: auto;
            }

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 1.25rem;
                height: 0.125rem;
                background-color: $secondary;

                @include media-breakpoint-up(xl) {
                    width: 0.875rem;
                }
            }
        }

        > .sc-icon-minus {
            display: none;

            &::before {
                margin-top: 0.0375rem !important;
                margin-left: -0.5rem !important;
            }
        }
    }

    .card-body {
        font-size: $font-size-1;
        font-weight: $font-weight-light;
        padding: 0;
        height: 0;
        opacity: 0;
        transition: height $animation-duration, padding-bottom $animation-duration;

        @include media-breakpoint-up(xl) {
            font-size: $font-size--2;
        }

        ul {
            padding: 1rem 0 0 0.625rem;
            margin: 0 1.38125rem 0 0;
            list-style: none;

            @include media-breakpoint-up(md) {
                padding-top: 0.75rem;
            }

            @include media-breakpoint-up(xl) {
                padding-top: 0.5rem;
                margin: 0;
            }
        }

        > ul {
            padding: 0;
        }

        li {
            &:not(.color-attribute) {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 1rem;

                @include media-breakpoint-up(md) {
                    margin-bottom: 0.75rem;
                }

                @include media-breakpoint-up(xl) {
                    margin-bottom: 0.5rem;
                }
            }

            &.disabled {
                opacity: 0.5;
            }
        }
    }

    &.open {
        .card-header {
            > .sc-icon-plus {
                display: none;
            }

            > .sc-icon-minus {
                display: block;
            }
        }

        .card-body {
            padding-bottom: 0.5rem;
            height: auto;
            opacity: 1;
        }
    }

    &:not(.open) {
        .card-body {
            overflow: hidden;
        }
    }
}

.refinement-price {
    .js-price-refinement-value {
        font-weight: normal;
    }
}

.refinement-color {
    .card-body {
        > ul {
            display: flex;
            flex-wrap: wrap;
            margin-top: -0.1875rem;
        }
    }

    .color-attribute {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.25rem;
        height: 2rem;
        padding-left: 0;
    }

    &.open {
        .card-body {
            padding-bottom: 0.25rem;
        }
    }
}

.refinement-category {
    li {
        margin-left: 0;
        display: block;
    }

    > ul > li {
        margin-left: 0;
    }
}

.category-item {
    margin-bottom: 0.938rem;
}

.search-nav {
    margin-bottom: 1em;
    border-bottom: 0.063em solid $grey3;

    .nav-tabs-wrapper {
        padding: 0;

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

        .nav-tabs {
            border-bottom: 0 none;
        }
    }

    .nav-link:focus {
        background-color: $grey1;
    }
}

.product-options .quantity {
    position: absolute;
    bottom: 0;
    right: 0;
}

.grid-title {
    font-family: $font-family-secondary;
    font-size: $font-size-base;
    font-weight: normal;
    margin-bottom: 1.5rem;
    align-self: center;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(xl) {
        font-family: $font-family-base;
        font-size: $font-size-2;
        font-weight: $font-weight-medium;
        margin-bottom: 0;
        text-align: left;
    }
}

.search-results {
    margin-top: 3.75rem;

    &.srp-results {
        @include media-breakpoint-down(lg) {
            margin-top: 1rem;
        }

        .grid-title {
            @include media-breakpoint-down(lg) {
                text-align: left;
                font-size: $font-size-base;
            }
        }
    }

    .product-tile {
        .tile-body {
            padding: 0 15px;
            text-align: center;

            .pdp-link a {
                font-weight: normal;
            }
        }

        .badges-container {
            height: auto;
        }
    }
}

.btn-refine-by,
.btn-sort-by {
    button.btn-overlay {
        padding: 0 0.825rem;
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        text-align: left;
        width: calc(100% - #{$grid-gutter-width / 2});
    }
}

.btn-sort-by {
    button.btn-overlay {
        background: transparent;
        opacity: 1;
    }

    .filter-option-inner-inner {
        @include media-breakpoint-down(lg) {
            opacity: 0;
        }
    }
}

.bootstrap-select.custom-select {
    .filter-option {
        height: auto;
    }
}

.btn-refine-by {
    button.btn-overlay {
        background: $white;
    }
}

.btn-refine-by {
    display: flex;
    padding-left: 0;
    position: relative;

    @include media-breakpoint-up(xl) {
        display: none;
    }
}

.btn-sort-by {
    display: flex;
    padding-right: 0;
    position: relative;
    justify-content: flex-end;

    button.btn-overlay {
        left: $grid-gutter-width / 2;
    }

    @include media-breakpoint-up(xl) {
        padding: 0;
    }
}

.plp-details {
    margin-bottom: 1.5rem;

    + .search-results {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0 !important;
    }
}

.plp-title {
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
    font-size: $font-size-10;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    text-align: center;

    @include media-breakpoint-up(xl) {
        margin-top: 0;
    }
}

.plp-description {
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    line-height: 1.4;
    text-align: center;
    max-width: 40rem;
    margin: 0 auto;
}

h1.search-results-title {
    font-family: $font-family-base;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-12;
    margin-top: 2.35rem;
    margin-bottom: 0.2rem;
    text-align: center;

    &::after {
        content: '';
        background-color: $black;
        display: block;
        margin: 0.5rem auto 0;
        width: 2.625rem;
        height: 0.125rem;
    }

    @include media-breakpoint-up(md) {
        font-size: $font-size-27;
    }
}

.search-results-suggestions {
    @include media-breakpoint-up(md) {
        margin-bottom: 0.75rem;
    }

    h2 {
        font-family: $font-family-base;
        font-size: $font-size-1;
        text-align: center;
        margin-bottom: 0.7rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size-4;
        }
    }

    ul {
        text-align: center;
        margin: 0;

        li {
            position: relative;

            a {
                color: $black !important;
                text-decoration: none;
                border-bottom: 0.0625rem solid;
                font-size: $font-size-base;

                &:hover {
                    text-decoration: none;
                }

                @include media-breakpoint-up(md) {
                    font-size: $font-size-2;
                }
            }

            &:not(:last-child) a {
                &::after {
                    content: ',';
                    position: absolute;
                    right: -0.188rem;
                    top: 0;
                }
            }
        }
    }
}

.product-carousel-items.no-srp-prods {
    display: flex;
    justify-content: flex-start;

    > .product {
        @include media-breakpoint-up(xl) {
            width: 30.58%;
        }
    }
}

.brand-container {
    .brand-name {
        font-weight: $font-weight-semi-bold;
    }
}

.breadcrumb.container {
    justify-content: center;
}

.card.refinement {
    .refinement-icon.chevron-right {
        transition-duration: 300ms;
        transition-property: transform;
    }

    &.open {
        .refinement-icon.chevron-right {
            transform: rotate(90deg);
        }
    }
}
