*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header,
nav {
	display: block;
}

body {
	margin: 0;
	font-family: Arial, Sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #001022;
	text-align: left;
	background-color: #fff;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

a {
	color: #001022;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: black;
	text-decoration: underline;
}

img {
	vertical-align: middle;
	border-style: none;
}

h1,
h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h1 {
	font-size: 2.1875rem;
}

h3 {
	font-size: 1.53125rem;
}

.container {
	width: 100%;
	margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-bottom: 2rem;
}

@media (min-width: 544px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
        max-width: 728px;
        padding-left: 1.25rem;
		padding-right: 1.25rem;
		margin-bottom: 3.125rem;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 940px;
	}
}

@media (min-width: 1200px) {
	.container {
        max-width: 1060px;
        padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		margin-bottom: 3.75rem;
	}
}

@media (max-width: 767.98px) {
	.container {
		max-width: 100%;
	}
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col,
.col-sm-1 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.col {
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

@media (min-width: 544px) {
	.col-sm-1 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 8.33333%;
		-ms-flex: 0 0 8.33333%;
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}
}

.card {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.1875rem;
    margin-bottom: 1em;
}

.justify-content-center {
	-webkit-box-pack: center !important;
	-webkit-justify-content: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.pt-2 {
	padding-top: 0.5rem !important;
}

.pt-5 {
	padding-top: 3rem !important;
}

.text-center {
	text-align: center !important;
}

.header {
	background-color: #fff;
	border-bottom: 0.0625rem solid transparent;
}

.header-top-border {
	border-top: 0.3125rem solid #ffcb00;
	width: 100%;
}

@media (min-width: 1200px) {
	.header-top-border {
		border-top-width: 0.4375rem;
	}
}

.header-top {
	position: relative;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 0 0.35rem 0.8rem;
}

@media (min-width: 768px) {
	.header-top {
		padding-bottom: 0.95rem;
	}
}

@media (min-width: 1200px) {
	.header-top {
		padding-bottom: 0;
	}
}

.navbar-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-top-center {
	text-align: center;
	-webkit-transition: margin-top 0.3s;
	-o-transition: margin-top 0.3s;
	transition: margin-top 0.3s;
	-webkit-box-flex: 0.4;
	-webkit-flex: 0.4 0 0;
	-ms-flex: 0.4 0 0px;
	flex: 0.4 0 0;
	margin: 0.75rem auto 0;
}

@media (min-width: 1200px) {
	.header-top-center {
		margin-top: 1rem;
	}
}

.header-top-center:first-child {
	margin-top: 0.8rem;
}

@media (min-width: 768px) {
	.header-top-center:first-child {
		margin-bottom: 0.95rem;
	}
}

@media (min-width: 1200px) {
	.header-top-center:first-child {
		margin-bottom: 1rem;
	}
}

.header-top-center img {
	width: 100%;
	height: 100%;
	max-width: 8.125rem;
}

@media (min-width: 768px) {
	.header-top-center img {
		max-width: 8.5rem;
	}
}

@media (min-width: 1200px) {
	.header-top-center img {
		width: 12.5rem;
		max-width: 12.5rem;
		min-height: 2.69125rem;
		-webkit-transition: width 0.3s;
		-o-transition: width 0.3s;
		transition: width 0.3s;
	}
}

.site-offline img {
	max-width: 18rem;
	height: auto;
}

.site-offline .maintenance-header {
	padding-top: 2rem;
	font-weight: 300;
	font-size: 1.4375rem;
}

.site-offline .maintenance-header-ae {
	font-size: 1.4375rem;
}

.site-offline .maintenance-msg {
	padding-top: 3rem;
	font-weight: 500;
	font-size: 0.9375rem;
}

@media (max-width: 767.98px) {
	.site-offline .maintenance-msg {
		padding-top: 1rem;
	}
}

.site-offline .maintenance-msg-ae {
	padding-bottom: 2rem;
	font-size: 0.9375rem;
}

@media (max-width: 767.98px) {
	.site-offline .maintenance-msg-ae {
		padding-bottom: 1rem;
	}
}

.site-offline .maintenance-card {
    width: 21rem;
    max-width: 100%;
	margin: 0 auto;
	padding: 1rem;
	background-color: #f9f9f9;
	border: none !important;
}

@media (max-width: 767.98px) {
	.site-offline .maintenance-card {
		padding: 0;
	}
}

.site-offline .maintenance-card .maintenance-card-header {
	font-size: 0.875rem;
	font-weight: 600;
}

.site-offline .maintenance-card .maintenance-card-phone>i {
	padding-right: 0.3rem;
}

.site-offline .maintenance-social {
	padding-top: 2rem;
	margin: 2rem;
}

@media (max-width: 767.98px) {
	.site-offline .maintenance-social {
		padding-top: 0.5rem;
		margin: 1rem;
	}
}

.site-offline .maintenance-social [class^="sc-icon-"]::before {
	color: #717171 !important;
}
