.badges-container {
    height: auto;
    margin-bottom: 0.75rem;
}

.badges {
    color: $dove-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size--5;
    font-weight: $font-weight-bold;
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(md) {
        /* rtl:remove */
        font-size: $font-size--3;

        /* rtl:raw:
            font-size: #{$font-size-2};
        */
    }

    @include media-breakpoint-up(xl) {
        /* rtl:remove */
        font-size: $font-size--5;

        /* rtl:raw:
            font-size: #{$font-size-base};
        */
    }
}

.badge-item {
    position: relative;
    padding: 0 0.4rem;

    &:not(:last-child)::after {
        content: '';
        border-right: 0.0625rem solid rgba($dove-gray, 0.75);
        position: absolute;
        top: 0;
        right: -0.0625rem;
        bottom: 0.0625rem;
    }
}
