.clp-breadcrumb {
    .breadcrumb {
        max-width: $banner-max-width;

        li:first-child {
            margin-left: 5%;
        }
    }
}

.breadcrumb {
    color: $breadcrumb-active-color;
    border-radius: 0;
    border-bottom: 0;
    font-size: $breadcrumb-font-size;
    font-weight: $breadcrumb-font-weight;
    margin: 0 auto;
    text-transform: $breadcrumb-text-transform;

    a {
        color: $breadcrumb-text-color;
    }
}
