$indent__base: 1rem/2;

footer {
    background-color: $primary;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    position: absolute;
    width: 100%;
    bottom: 0;

    &.footer-logo-only {
        min-height: 82px;
    }

    .content-asset {
        min-width: 100%;
    }
}

.actions-row {
    padding: $indent__base * 3 0;

    @include media-breakpoint-up(lg) {
        padding: $indent__base * 3 4rem;
    }

    > .content-asset {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }

    .actions .action-links p {
        margin-bottom: 0;
    }
}

.actions-row > .content-asset > div {
    @include media-breakpoint-down(sm) {
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);

        &::after {
            display: inline-block;
            content: "";
            background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>  <path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
            position: absolute;
            right: 0;
            top: 1.2rem;
        }

        &:first-child {
            padding-top: 0;
        }

        &:first-child::after {
            top: 0.2rem;
        }
    }
}

.actions {
    .actions-heading {
        font-size: 1rem;
        font-weight: bold;
    }

    &.open {
        .action-links {
            @include media-breakpoint-down(sm) {
                max-height: 500px;
                transition: max-height 0.3s ease-in;
            }
        }
    }

    .action-links {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.8rem;
        font-size: 0.85rem;

        @include media-breakpoint-down(sm) {
            max-height: 0;
            transition: max-height 0.3s ease-out;
            overflow: hidden;
        }
    }
}

.footer-newsletter {
    .footer-newsletter-description {
        text-transform: uppercase;
        font-weight: $font-weight-semi-bold;
    }

    .btn-submit-newsletter {
        font-size: $font-size-base;
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }

    #newsletterEmail {
        background: 0 0;
        border: none !important;
        width: auto;
        text-align: left;
        display: inline-block;
        border-bottom: solid 1px rgba(0, 0, 0, 0.85) !important;
        padding: 0 0 5px;
    }
}

.footer-newsletter-and-copyright {
    padding-top: $indent__base * 6;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .copyright-logo {
        margin-right: $indent__base * 2;
    }

    .copyright-text {
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
    }
}

.customer-service {
    width: 100%;
    text-align: center;
    margin-bottom: $indent__base * 3;

    .customer-service-heading {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: $indent__base * 2;
    }
}
