
.slick-slider:hover {
    .slick-next,
    .slick-prev {
        visibility: visible;
    }
}

.slick-next,
.slick-prev {
    @media (hover: hover) { /* stylelint-disable-line */
        visibility: hidden;
    }

    top: 0;
    bottom: 0;
    height: auto;
    width: 4rem;
    z-index: 1;
    transform: none;

    &::before {
        display: none;
    }
}

[dir='rtl'] .slick-prev,
.slick-prev {
    /* rtl:ignore */
    left: 0;

    /* rtl:ignore */
    right: auto;
}

[dir='rtl'] .slick-next,
.slick-next {
    /* rtl:ignore */
    right: 0;

    /* rtl:ignore */
    left: auto;
}

[dir='rtl'] .slick-prev,
[dir='rtl'] .slick-next {
    /* rtl:ignore */
    transform: scaleX(-1);
}

.slick-slider .slick-track,
.slick-slider .slick-list,
.slick-slider .slick-dots {
    /* rtl:ignore */
    direction: ltr;
}

.slick-slide {
    height: auto;

    /* rtl:raw:
        direction: rtl;
    */

    > div {
        display: flex;
        height: 100%;
    }
}

.slick-dotted {
    .slick-next,
    .slick-prev {
        bottom: 2.75rem;
    }
}

.slick-dots {
    background: $white;
    clear: both;
    display: block;
    position: static;
    margin: 0 auto;
    padding: 0.9375rem 0 0.3125rem;
    z-index: 1;

    > li {
        display: inline-block;
        position: relative;
        line-height: 7.1;
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 0.6875rem;

        @include media-breakpoint-up(xl) {
            height: 0.625rem;
            width: 0.625rem;
            margin: 0 0.4375rem;
        }

        &.slick-active {
            width: 1.5625rem;
            height: 1.5625rem;
            top: -0.0625rem;

            @include media-breakpoint-up(xl) {
                width: 0.9375rem;
                height: 0.9375rem;
            }

            > button {
                background-color: $primary;
            }
        }

        > button {
            background: $grey3;
            width: 100%;
            height: 100%;
            border-radius: 100%;

            &::before {
                display: none;
            }
        }
    }
}

.slick-loading .slick-list {
    background: none;
}
