.main-menu-banner-container {
    border: 0.0625rem solid $primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.5;
    height: 366px;
    width: 227px;
    overflow: hidden;
    white-space: normal;
    text-align: center;

    &:hover {
        text-decoration: none;
    }
}

.main-menu-banner-image {
    display: block;
    margin-bottom: auto;
    width: 100%;
}

.main-menu-banner-title {
    font-size: $font-size-4;
    font-weight: $font-weight-medium;
    display: block;
    padding: 0 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.main-menu-banner-text {
    font-size: $font-size-base;
    display: block;
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
    text-transform: none;
}
