.quantity,
.simple-quantity,
.quantity-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    text-transform: uppercase;
}

.quantity-selector {
    background-color: #fff;

    .btn-link {
        text-align: center;
        background-color: #fff;
        height: 24px;
        width: 24px;
        padding: 0;

        &:first-child,
        &:last-child {
            border: 1px solid $black;

            &.disabled {
                border-color: $border-color;
            }
        }

        &.disabled {
            i::before,
            i::after {
                background-color: $grey3;
            }
        }
    }

    i::before,
    i::after {
        width: 0.75rem;
        height: 0.0625rem;
        background-color: $secondary;
    }

    .sc-icon-minus::before {
        margin: 0 0 0 0.2rem;
        left: 10%;
    }

    .sc-icon-plus::before,
    .sc-icon-plus::after {
        margin: -0.2575rem 0 0 -0.6275rem;
    }

    .form-control {
        background-color: $white !important;
        font-size: $font-size-1;
        font-weight: $font-weight-medium;
        text-align: center;
        padding: 0;
        width: 3rem;
        border: none !important;

        &.disabled {
            color: $grey3;
        }
    }
}

.quantity.btn-select.custom-select.single-select-option {
    @include media-breakpoint-down(sm) {
        flex-direction: row;
        align-items: center;

        .quantity-selector {
            width: auto;
        }
    }
}

@include media-breakpoint-down(lg) {
    .quantity,
    .simple-quantity,
    .quantity-selector {
        align-self: flex-start;
    }

    .quantity,
    .simple-quantity {
        flex-direction: column;
        align-items: flex-start;

        .btn-select {
            font-size: $font-size--3;
            text-transform: uppercase;
        }
    }

    .quantity-selector {
        align-self: flex-start;
    }
}
