@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";
@import "~brand_core/components/creditCardField";
@import "components/checkoutComponents";
@import "components/checkoutPaymentMethods";
@import "components/checkoutSteps";

$checkout-font-weight: 600;

.checkout-main {
    margin-bottom: 1rem;

    .card {
        border: 0;
        border-radius: 0;

        h4:not(.container-title) {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            font-size: $font-size-3;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        .form-control,
        .bootstrap-select > .dropdown-toggle {
            padding: 0.5rem 0.75rem 0.4rem;
            font-size: $font-size--3;
            font-weight: $font-weight-medium;
        }

        .bootstrap-select .no-result {
            font-size: $font-size--3;
            padding: 0.3125rem;
        }

        .shipping-address-block,
        .billing-address {
            font-size: $font-size--3;

            .form-control-label {
                font-size: $font-size--3;
                font-weight: $font-weight-semi-bold;
            }

            input[type="radio"] + .form-control-label {
                padding-top: 0.25rem;
            }
        }
    }

    .card-header {
        border-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .card-body {
        padding: 0;
        margin-top: 0;
        border-radius: 0;
    }

    .fieldset-content {
        background-color: $grey2;
        border: 0.0625rem solid $grey3;
        padding: 1rem 1rem 0;
    }

    .form-group {
        position: relative;
    }

    .shipment-selector-block {
        > .btn-link {
            font-size: $font-size-base;
            font-weight: $font-weight-semi-bold;
            padding: 0;
            margin-top: 1rem;
            margin-bottom: 0.25rem;
            text-decoration: underline;
        }

        .form-control-label {
            font-size: $font-size-base !important;
            font-weight: $font-weight-semi-bold !important;
            padding-left: 1.75rem;
            padding-top: 0.1rem;
        }
    }

    .address-item {
        background-color: $alabaster;
        border: 0.0625rem solid $grey3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 3.5rem;
        padding: 0 0.75rem;
        margin-bottom: -0.0625rem;
    }

    .address-selected {
        .address-item {
            background-color: $gallery-gray;
        }
    }

    .address-actions {
        color: $grey3;
        font-size: $font-size--2;
        font-weight: $font-weight-base;
        min-width: 6rem;
        margin-left: auto;
        text-align: right;

        .btn-link {
            color: $dove-gray;
            font-size: $font-size--2;
            font-weight: $font-weight-base;
            margin-top: 0;
            padding: 0;
            text-transform: none;
            text-decoration: underline;
        }
    }

    .shipping-method-block {
        h4 {
            margin-bottom: 1.5rem;
        }

        .row {
            margin-bottom: 2.5rem;
        }

        .shipping-method-option {
            .display-name {
                font-size: $font-size-1;
                font-weight: $font-weight-semi-bold;
                display: block;
                margin-bottom: 0.35rem;
            }

            .arrival-time {
                font-size: $font-size-base;
                font-weight: $font-weight-light;
                display: block;
            }
        }

        .shipping-cost,
        .discounted-shipping-cost {
            font-size: $font-size-2;
            font-family: $font-family-secondary;
            font-weight: $font-weight-extra-bold;
            display: block;
            text-align: center;
            margin: 0;
            text-transform: uppercase;
        }

        .form-check-label {
            padding-top: 0;
            padding-left: 2rem;
        }
    }

    .shipping-form-actions {
        align-items: center;
    }

    .shipping-form-action-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .btn {
            font-size: $font-size--3;
            font-weight: $font-weight-bold;
            padding-left: 2.75rem;
            padding-right: 2.75rem;
        }
    }

    .order-total-summary {
        background-color: $alabaster;
        padding: 1.5rem 1rem 1rem;
        margin-bottom: 3rem;

        @include media-breakpoint-down(sm) {
            margin-left: -0.5625rem;
            margin-right: -0.5625rem;
        }

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(xl) {
            margin-left: 1.5rem;
        }
    }

    .next-step-button {
        margin-bottom: 1.875rem;
        margin-top: 1rem;

        .btn {
            font-size: $font-size-2;
            font-weight: $font-weight-bold;
        }
    }

    .billing-payment-options-block {
        .nav-tabs .nav-link {
            &:not(:first-child) {
                border-top: 0.0625rem solid $grey3;
            }

            &.active {
                border-bottom: 0.0625rem solid $grey3;
                margin-bottom: -0.0625rem;

                .label-service-fee {
                    display: block;
                }
            }

            &.radio-button-link {
                font-size: $font-size-base;
                font-weight: $font-weight-semi-bold;
                padding: 0.85rem 0;
                text-align: left;
                min-height: 4rem;

                &.payment-method-credit_card.customer-has-payment-instruments.customer-is-registered {
                    display: none;
                }

                .btn {
                    font-size: $font-size-base;
                    font-weight: $font-weight-semi-bold;
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                    text-decoration: underline !important;
                    text-align: left;
                }

                > i {
                    margin-right: 1rem;
                }

                > span,
                > div {
                    align-items: center;

                    > i {
                        margin-right: 1rem;
                        width: 2.5rem;
                        min-width: 2.5rem;
                        text-align: center;

                        &::before {
                            font-size: 1.4rem;
                        }
                    }

                    > .sc-icon-credit_card::before {
                        font-size: $font-size-10;
                    }
                }

                &.selected-payment > i {
                    border-color: $secondary;

                    &::after {
                        display: block;
                    }
                }

                &.selected-payment.saved-payment-instrument > i {
                    @include media-breakpoint-down(md) {
                        margin-top: -2.25rem;
                    }
                }

                .saved-credit-card-info {
                    @include media-breakpoint-down(md) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                .saved-security-code {
                    @include media-breakpoint-down(md) {
                        align-self: flex-start;
                        margin-left: 3.5rem;
                        margin-top: 0.25rem;
                    }
                }
            }

            .nav-link-note {
                font-size: $font-size--4;
                font-weight: $font-weight-medium;
                font-style: italic;
                display: block;
            }
        }

        .label-service-fee {
            display: none;
            font-family: $font-family-secondary;
            font-weight: $font-weight-extra-bold;
            white-space: nowrap;
        }

        .label-default-method {
            color: $grey3;
            font-weight: $font-weight-light;
            font-size: $font-size--2;
        }

        .form-control-label {
            font-size: $font-size--2;
        }

        .securityCode {
            max-width: 6.5rem;
        }

        .security-code-input-container {
            display: flex;
            align-content: center;

            .form-text {
                font-size: $font-size--4;
                font-weight: $font-weight-light;
                max-width: 6.5rem;
                margin-top: 0;
                margin-left: 0.625rem;
            }
        }

        .tab-content {
            > .fieldset-content {
                background-color: $white;
                border: 0;
                padding: 0;
            }
        }

        .fade:not(.show) {
            display: none;
        }

        .fade.customer-has-payment-instruments.payment-method-credit_card {
            display: block;
            opacity: 1;
        }

        .payment-method-cod {
            .verify-phone-input:read-only {
                background-color: $white;
            }
        }

        .region-code {
            max-height: 2.75rem !important;
        }

        .applepay-content {
            button {
                display: inline-block;
                margin-top: 0;
            }
        }
    }

    .sms-verification-container {
        padding-top: 0.5rem;
        background: $white;

        .form-control-label {
            font-size: $font-size-base;
            font-weight: $font-weight-medium;
        }

        .form-control,
        .btn.dropdown-toggle {
            padding: 0.625rem 0.75rem;
            font-size: $font-size-1;
        }

        .btn {
            padding: 0.625rem 0.5rem 0.5rem;
        }

        .phone-number-container {
            @include media-breakpoint-up(lg) {
                padding-right: 0 !important;
            }
        }
    }
}

.card.ghost {
    opacity: 0.5;
}

.billing-address {
    display: block;
    padding-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
        border-bottom: 0.0625rem solid $grey3;
    }
}

.error-message {
    display: none;
}

.next-step-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-down(sm) {
        background-color: $white;
        padding: 1rem 1.5rem;
        margin: 0 !important;
    }

    @include media-breakpoint-up(md) {
        position: static;
        padding-right: 0.938em;
        padding-left: 0.938em;
    }
}

.order-total-summary-mobile {
    .order-total-summary {
        margin-bottom: 1.5rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.sticky-sidebar-container {
    @include media-breakpoint-down(sm) {
        padding: 0;
        width: 100%;
    }

    .order-total-summary-container {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.multi-ship .multi-shipping {
    display: block;
}

.order-product-summary {
    display: block;

    h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-4 !important;
            font-weight: $font-weight-light !important;
        }

        > a {
            font-size: $font-size--2 !important;
            font-weight: $font-weight-bold !important;

            @include media-breakpoint-up(md) {
                margin-right: 1rem;
            }
        }
    }
}

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
    display: block;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        button.submit-payment {
            display: none;
        }

        button.submit-shipping {
            display: none;
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        .checkout-step-shipping-title {
            color: $secondary;
            font-weight: $font-weight-semi-bold;
        }

        .shipping-title {
            display: block !important;
        }

        &.multi-ship .order-product-summary {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: block;
        }

        [data-address-mode=customer] {
            .shipping-address-block {
                display: none;
            }

            .shipment-selector-block {
                display: block !important;
            }
        }

        [data-address-mode=shipment] {
            .shipping-address-form {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new,
            .shipment-selector-block {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-add-new,
            .shipment-selector-block,
            .title-add-address {
                display: none;
            }

            .title-edit-address {
                display: block !important;
            }
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        .checkout-step-payment-title {
            color: $secondary;
            font-weight: $font-weight-semi-bold;
        }

        .payment-title {
            display: block !important;
        }

        .shipping-section,
        .card.ghost {
            display: none;
        }

        .card.payment-form,
        .shipping-summary {
            display: block;
        }

        button.submit-payment {
            display: block;
        }

        .terms-and-conditions-warning {
            display: block;
        }

        [data-address-mode=customer] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        .shipping-section,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: block;
        }
    }

    &[data-checkout-stage=submitted] {
        .shipping-form,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: none;
        }
    }

    option[value=new] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}

[data-customer-type=guest] .single-shipping .shipment-selector-block {
    display: none;
}

.single-shipping .multi-ship-action-buttons {
    display: none;
}

.single-shipping .view-address-block {
    display: none;
}

.btn-show-details {
    padding-top: 0;
}

.multi-ship-address-actions .btn-save-multi-ship {
    margin-left: 10px;
}
