@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import './utilities/swatch';
@import '~base/components/categoryTiles';

.confirmation-container {
    @include media-breakpoint-up(xl) {
        margin-top: 3.6rem;
    }

    margin-top: 2rem;

    @include media-breakpoint-down(sm) {
        padding: 0;
    }

    .confirmation-row {
        justify-content: space-between;

        @include media-breakpoint-only(xs) {
            margin: 0;
        }

        .confirmation-thank-you-msg {
            @include media-breakpoint-down(lg) {
                font-size: 1.6rem;
            }

            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }

        .confirmation-thank-you-email-msg {
            margin-top: 1.3rem;
            line-height: 1.7rem;
            font-weight: $font-weight-light;

            .confirmation-order-number {
                font-weight: $font-weight-semi-bold;
            }
        }

        .confirmation-have-questions {
            line-height: 1.15rem;
            font-weight: $font-weight-light;
        }

        .confirmation-order-header {
            font-size: $font-size-8;
            font-weight: $font-weight-medium;
            margin-top: 2rem;
            margin-bottom: 1rem;

            @include media-breakpoint-down(md) {
                text-align: center;
                font-family: $font-family-secondary;

                &::after {
                    content: '';
                    display: block;
                    border-bottom: 0.125rem solid $secondary;
                    margin: 0 auto;
                    padding-top: 0.5rem;
                    margin-top: 0.375rem;
                    width: 1.625rem;

                    @include media-breakpoint-up(xl) {
                        margin-top: 0;
                        margin-bottom: 2rem;
                        width: 2.625rem;
                    }
                }
            }
        }

        .confirmation-shipping-method {
            line-height: 1.2rem;

            .confirmation-shipping-name {
                font-weight: $font-weight-semi-bold;
                margin-bottom: 0;
            }

            .confirmation-shipping-arrival-time {
                font-weight: $font-weight-light;
            }
        }

        .confirmation-shipping-inline-title {
            font-weight: $font-weight-semi-bold;
            line-height: 1.7rem;
        }

        .confirmation-payment-info {
            margin-top: 1.3rem;
            font-weight: $font-weight-light;
        }

        .confirmation-sold {
            display: block;
            font-weight: $font-weight-light;

            @include media-breakpoint-down(lg) {
                width: 50%;
            }

            .confirmation-billing-line {
                margin-bottom: 0;
            }
        }

        .confirmation-shipped {
            display: block;
            font-weight: $font-weight-light;

            @include media-breakpoint-down(lg) {
                width: 50%;
            }
        }

        .confirmation-items-header {
            font-size: $font-size-3;
            font-weight: $font-weight-medium;
            text-transform: uppercase;
            margin-top: 2rem;
            margin-bottom: 1.9rem;

            @include media-breakpoint-up(xl) {
                margin-top: 3.5rem;
            }
        }

        .confirmation-items {
            padding: 0 1rem;

            .confirmation-item {
                display: flex;
                padding: 0.2rem 0;
                position: relative;

                .confirmation-item-image {
                    display: flex;
                    position: relative;

                    img {
                        max-width: 5rem;
                        width: 100%;
                        height: auto;
                        padding: 0.2rem;
                    }
                }

                .confirmation-item-description {
                    width: calc(100% - 5rem);
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;

                    @include media-breakpoint-only(xs) {
                        padding-left: 0.5rem;
                    }

                    .confirmation-item-name {
                        width: 60%;
                        position: relative;
                        margin-left: 0.9rem;
                        font-size: $font-size--1;
                        text-transform: uppercase;

                        @include media-breakpoint-up(xl) {
                            width: 13.875rem;
                        }
                        @include media-breakpoint-down(lg) {
                            margin-left: 0.1rem;
                        }

                        p {
                            margin-bottom: 0;
                        }

                        @include media-breakpoint-only(xs) {
                            width: 90%;
                            align-self: flex-end;
                        }
                    }

                    .confirmation-item-quantity {
                        flex: 1;
                        display: flex;
                        justify-content: left;
                        align-items: left;
                        font-size: $font-size--1;
                        line-height: 0;
                        margin-left: 3%;

                        @include media-breakpoint-up(xl) {
                            margin-left: 4vw;
                        }
                        @include media-breakpoint-down(lg) {
                            margin-left: 1rem;
                        }
                    }

                    .confirmation-item-price {
                        font-size: $font-size--1;
                        margin-right: 1.3rem;
                        text-align: center;
                        text-transform: uppercase;

                        @include media-breakpoint-down(lg) {
                            margin-right: 0.1rem;
                        }

                        .strike-through {
                            font-family: $font-family-secondary;
                            font-size: $font-size--3;
                            color: $dove-gray;
                            text-decoration: line-through;
                        }
                    }

                    .cart-product-price-main {
                        display: none;
                    }

                    .confirmation-item-details-mobile {
                        display: flex;
                        width: 100%;
                        align-self: flex-start;
                        align-items: center;
                        justify-content: space-between;

                        .confirmation-item-volume-mobile {
                            display: flex;

                            .confirmation-item-attributes-mobile {
                                padding-right: 0.3125rem;
                            }

                            .confirmation-item-quantity-mobile {
                                display: flex;

                                span:first-child {
                                    padding-right: 0.3125rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .confirmation-gift-items {
            padding: 0 0.1rem;

            .confirmation-gift-row {
                display: flex;
                padding-right: 1rem;
                position: relative;

                .confirmation-gift-description {
                    width: calc(100% - 5rem);
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;

                    .confirmation-gift-name {
                        width: 60%;
                        position: relative;
                        margin-left: 0.9rem;
                        font-size: $font-size--1;
                        text-transform: uppercase;

                        @include media-breakpoint-up(xl) {
                            width: 13.875rem;
                        }

                        p {
                            margin-bottom: 0;
                        }
                    }

                    .confirmation-gift-price {
                        font-size: $font-size--1;
                        margin-right: 0.7rem;
                        text-align: center;

                        @include media-breakpoint-down(lg) {
                            margin-right: 0;
                        }

                        .confirmation-gift-span {
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .confirmation-gift-personal {
                margin-top: 2rem;

                .confirmation-gift-header {
                    font-weight: $font-weight-medium;
                    font-size: $font-size-base;
                    margin-bottom: 0.6rem;
                }

                .confirmation-gift-message {
                    padding: 0.6rem;
                    border: 0.0625rem solid $grey3;
                    font-size: $font-size--2;
                    font-weight: $font-weight-light;
                    word-break: break-word;
                }
            }
        }

        .confirmation-gift-bonus {
            .strike-through {
                display: none;
            }
        }

        .confirmation-order-total-summary {
            margin-top: 2.1rem;
            padding: 1.3rem;
            background-color: $alabaster;

            p {
                margin-bottom: 0;
                line-height: 1.75rem;
            }

            .confirmation-total-line {
                margin-bottom: 0;
                line-height: 1rem;
            }

            .confirmation-total-include {
                font-size: $font-size--1;
                font-weight: $font-weight-light;
                line-height: 1rem;
            }

            .total-label {
                font-weight: 700;
                text-transform: uppercase;
            }

            .sub-total,
            .order-discount-total,
            .shipping-total-cost,
            .order-discount-total,
            .shipping-discount-total,
            .payment-service-fee-total {
                text-transform: uppercase;
                font-size: $font-size-2;
                font-weight: $font-weight-semi-bold;
                font-family: $font-family-secondary;
            }

            .grand-total-sum {
                font-size: $font-size-10;
                font-weight: $font-weight-semi-bold;
                font-family: $font-family-secondary;
            }
        }

        .confirmation-right-part {
            padding: 0 0.95rem !important;

            @include media-breakpoint-down(sm) {
                margin-top: 1.3rem;
            }

            .confirmation-form {
                border: 0.0625rem solid $grey3;
                padding: 1rem;

                @include media-breakpoint-up(xl) {
                    padding: 1.25rem;
                }

                .box-epsilon {
                    @include media-breakpoint-up(md) {
                        padding-right: 0;
                    }

                    @include media-breakpoint-up(xl) {
                        padding-right: 8rem;
                    }

                    > h4 {
                        @include media-breakpoint-up(md) {
                            font-size: $font-size-4;
                        }

                        @include media-breakpoint-up(xl) {
                            font-size: $font-size-6;
                        }
                    }

                    > p {
                        @include media-breakpoint-up(md) {
                            padding-top: 0.6rem;
                        }

                        @include media-breakpoint-up(xl) {
                            padding-top: 0;
                        }
                    }

                    > img {
                        @include media-breakpoint-up(md) {
                            width: 5.625rem;
                            float: right;
                            position: relative;
                            top: -0.5rem;
                            right: auto;
                            margin-left: 1rem;
                        }

                        @include media-breakpoint-up(xl) {
                            position: absolute;
                            top: -0.5rem;
                            right: 0;
                            width: 7.875rem;
                        }
                    }
                }

                .confirmation-subscribe-label {
                    font-size: $font-size--2;
                    font-weight: $font-weight-light;
                }

                .confirmation-subscribe-info {
                    font-size: $font-size--4;
                    font-weight: $font-weight-light;
                    padding: 0.3rem 1.5rem;

                    @include media-breakpoint-down(lg) {
                        padding: 0.7rem 0;
                    }
                }

                .confirmation-create-account-btn {
                    margin-top: 1.5rem;
                    padding: 0.9rem 1rem 0.8rem;
                    background-color: $primary;
                    border: none;
                    font-size: $font-size-1;

                    @include media-breakpoint-down(lg) {
                        margin-top: 0;
                    }
                }
            }

            .confirmation-find-gift {
                margin-top: 2.3rem;
                position: relative;

                .confirmation-find-gift-img {
                    padding: 1rem;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .confirmation-find-gift-header {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: $font-size-16;
                    font-weight: $font-weight-light;
                }

                .confirmation-find-gift-article {
                    font-size: $font-size-1;
                    font-style: italic;
                    text-align: center;
                }
            }
        }

        .confirmation-find-gift-only-tablet {
            display: none;
            margin-top: 1.3rem !important;

            @include media-breakpoint-down(lg) {
                display: block;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }

            .confirmation-find-gift {
                position: relative;
                display: flex;
                margin-top: 0.7rem;

                .row {
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                .row:nth-child(2) {
                    margin-left: 1rem;
                }

                .confirmation-find-gift-img {
                    padding-right: 2rem;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .confirmation-find-gift-header {
                    text-align: left;
                    text-transform: uppercase;
                    font-size: $font-size-16;
                    font-weight: $font-weight-light;
                    margin-top: 0.7rem;
                }

                .confirmation-find-gift-article {
                    font-size: $font-size-1;
                    font-style: italic;
                    text-align: left;
                }
            }
        }
    }
}
