@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import './utilities/swatch';
@import '~base/components/categoryTiles';

.wishlist-main {
    position: relative;
}

.wishlist-mobile-hr {
    display: none !important;

    @include media-breakpoint-down(md) {
        display: block !important;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

.wishlist-row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    .no-records-container {
        margin: 0 auto;
    }
}

.wishlist-product-col {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 2rem;

    @include media-breakpoint-down(md) {
        padding: 0.5rem 0;
        padding-bottom: 0;
    }
}

.wishlist-delete-from {
    z-index: 13;
    position: absolute;
    display: flex;
    width: 1.7rem;
    height: 1.7rem;
    right: 0;
    top: 0;

    button {
        width: 100%;
        height: 100%;
        z-index: 13;
    }

    @include media-breakpoint-down(md) {
        display: none;
    }

    button {
        background-color: $white;
        border: none;
        padding: 0 !important;

        .sc-icon-cross {
            &::before,
            &::after {
                width: 1.125rem;
            }
        }
    }
}

.wishlist-item {
    width: 100%;

    .image-container {
        min-height: auto !important;
        overflow: visible;

        @include media-breakpoint-down(md) {
            width: 30%;
            float: left;
        }

        .tile-image {
            width: auto !important;
            max-width: 100%;
            max-height: 11rem;

            @include media-breakpoint-down(md) {
                max-height: 7rem;
            }
        }
    }

    .tile-body {
        width: 100%;

        @include media-breakpoint-down(md) {
            width: 70%;
            float: left;
            padding-left: 2rem;
            padding-bottom: 0;

            .ratings-container,
            .price-container,
            .badges-container {
                height: auto;
                margin-bottom: 0.25rem;
            }

            .badges {
                justify-content: flex-start;

                .badge-item:first-child {
                    padding-left: 0;
                }
            }

            .sales,
            .list {
                display: flex !important;
                justify-content: flex-end !important;
            }

            .sales .value {
                font-size: $font-size-5;
            }

            .list .value {
                font-size: $font-size-base;
                font-weight: $font-weight-medium !important;
            }

            .pdp-link {
                text-align: left;
            }

            .ratings-container {
                justify-content: flex-end !important;
                text-align: right;
                align-items: flex-end;

                .rating-stars {
                    margin-top: 0;
                }
            }

            button {
                width: 70%;
                margin-top: 0.5rem;
                font-size: 0.875rem;
                float: right;
                padding: 0.65rem 0.5rem 0.525rem;
            }
        }

        @include media-breakpoint-down(sm) {
            button {
                width: 100%;
            }
        }
    }
}

.wishlist-remove-mobile {
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5rem;
    white-space: nowrap;

    @include media-breakpoint-down(md) {
        display: flex !important;
    }

    .btn {
        font-size: $font-size--4;
        padding: 0;

        i {
            min-width: 1.2rem;

            &::before {
                font-size: $font-size--1;
            }
        }
    }
}
