@import '../mixins/frame';

.frame {
    @include frame();
}

.frame-sm {
    @include media-breakpoint-up(sm) {
        @include frame();
    }
}

.frame-md {
    @include media-breakpoint-up(md) {
        @include frame();
    }
}

.frame-lg {
    @include media-breakpoint-up(lg) {
        @include frame();
    }
}

.frame-xl {
    @include media-breakpoint-up(xl) {
        @include frame();
    }
}

.frame-left-oob {
    &::before {
        left: $oob-spacing;
    }
}

.frame-right-oob {
    &::before {
        right: $oob-spacing;
    }
}

.frame-top-oob {
    &::before {
        top: $oob-spacing;
    }
}

.frame-bottom-oob {
    &::before {
        bottom: $oob-spacing;
    }
}

.hidden-frame {
    &::before {
        display: none;
    }
}

.hidden-frame-xs-down {
    &::before {
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
}

.hidden-frame-sm-down {
    &::before {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.hidden-frame-md-down {
    &::before {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.hidden-frame-lg-down {
    &::before {
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
}

.hidden-frame-xl-down {
    &::before,
    &::after {
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
}

.hidden-frame-sm-up {
    &::before {
        @include media-breakpoint-up(sm) {
            display: none;
        }
    }
}

.hidden-frame-md-up {
    &::before {
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

.hidden-frame-lg-up {
    &::before {
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

.hidden-frame-xl-up {
    &::before {
        @include media-breakpoint-up(xl) {
            display: none;
        }
    }
}

.border-sm {
    @include media-breakpoint-up(sm) {
        @include border();
    }
}

.border-md {
    @include media-breakpoint-up(md) {
        @include border();
    }
}

.border-lg {
    @include media-breakpoint-up(lg) {
        @include border();
    }
}

.border-xl {
    @include media-breakpoint-up(xl) {
        @include border();
    }
}

.border-right-xl {
    @include media-breakpoint-up(xl) {
        border-right: 0.0625rem solid $border-color;
    }
}

.border-top {
    border-top: 0.0625rem solid $border-color;
}

.border-right {
    border-right: 0.0625rem solid $border-color;
}

.border-bottom {
    border-bottom: 0.0625rem solid $border-color;
}

.border-left {
    border-left: 0.0625rem solid $border-color;
}
