$product-info-line-height: 24px !default;

.product-info {
    margin: 0 0 1.25rem;
    font-size: $font-size--3;
    line-height: $line-height-16;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    font-weight: $font-weight-normal;
    font-family: ff(tertiary);

    .badges-container {
        margin: 0.625rem 0 0;

        .badge-item {
            display: inline-block;
        }
    }

    .product-availability {
        padding-bottom: 0.3125rem;
    }

    .attributes-items {
        margin: 0.625rem 0;

        .form-control-select {
            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            */

            + .select2-container {
                /* rtl:raw:
                    font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
                */

                .select2-selection__rendered {
                    padding: 0.5625rem 0.9375rem;

                    /* rtl:raw:
                        font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
                    */
                }
            }
        }

        .attribute-color {
            .swatches-item {
                padding: 0;
                background: transparent;
                border: none;
            }
        }
    }

    .swatches-item {
        display: inline-block;
        vertical-align: top;
        margin: 0.4375rem 0.4375rem 0.4375rem 0;
    }

    .swatch-circle,
    .swatch-filter {
        border: 0.0625rem solid $grey2;
        height: 1.1875rem;
        width: 1.1875rem;

        &::after {
            border-radius: 100%;
            height: 1.5625rem;
            width: 1.5625rem;
            left: -0.25rem;
            top: -0.25rem;
            border: 0.0625rem solid $grey12;
        }
    }

    .add-to-cart {
        padding: 0;
        line-height: 2.5rem;

        &.disabled,
        &[disabled] {
            color: $white;
            opacity: 1;
            background-color: $primary;
            border-color: $primary;
        }

        .btn {
            margin: 0;
            width: 100%;
        }

        .text-danger {
            line-height: $line-height-5;
            text-align: left;
            padding-bottom: 0.9375rem;
        }
    }

    .back-in-stock-container {
        margin: 0 0 0.625rem;
    }
}

.product-general-info {
    border-top: 1px solid $grey1;
    padding-top: 0.625rem;
    margin-top: 0.625rem;
}

.product-short-description {
    border-top: 1px solid $grey1;
    padding-top: 1.25rem;
    margin-top: 0.625rem;
}

.product-long-description {
    &.m-expanded {
        .product-long-description-list {
            animation-duration: 0s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            max-height: 125rem;
            transition: max-height 2s ease;
            animation-name: visible;
        }

        .more {
            display: none;
        }

        .less {
            display: inline;
        }
    }

    &.m-disabled {
        .product-long-description-more {
            display: none;
        }
    }

    .less {
        display: none;
    }
}

.product-link {
    padding: 0;
    background: none;
    border: none;
    border-bottom: 1px solid $secondary;
    color: $secondary;
    font-size: $font-size--3;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    line-height: 0.9375rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        border-color: transparent;
        color: rgba($secondary, 0.5);
    }

    &.product-long-description-more {
        line-height: $headings-line-height;
    }
}

.product-long-description-list {
    margin: 0.625rem 0;
    max-height: $product-info-line-height * 1.8;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    overflow: hidden;
    transition: max-height 0.6s cubic-bezier(0, 1, 0, 1);
    animation-name: hidden;

    ul li {
        position: relative;
        padding-left: 0.8125rem;

        &::before {
            content: '';
            background: $primary;
            border-radius: 50%;
            display: inline-block;
            height: 0.1875rem;
            width: 0.1875rem;
            left: 0;
            position: absolute;
            top: 0.625rem;
        }
    }
}

.color-ladel {
    color: $secondary;
}

.product-detail {
    .product-price {
        .price {
            font-size: $font-size--3;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            text-align: left;
        }

        .old-price {
            color: $secondary;
        }

        .current-price {
            color: $olso-black;

            /* rtl:raw:
                display: inline-block;
            */
        }
    }
}

.product-size-chart {
    margin-top: -5.25rem;
    margin-bottom: 3.75rem;
    text-align: right #{"/*rtl:left*/"};

    .size-chart-link {
        cursor: pointer;
        letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
        font-size: $font-size--5;
        line-height: $font-ls-1;
        color: $secondary;
        border-bottom: 0.0625rem solid rgba(108, 113, 122, 0.85);

        &:hover {
            border-bottom: none;
        }
    }
}
