.slick-slider {
    .slick-arrow {
        i::before {
            background: $slick-arrow-bg;
        }

        &:focus {
            outline: none !important;
        }
    }
}

.carousel-flex {
    .slick-slide > div > div {
        display: flex !important;
    }
}
