@import "~brand_core/mixins/swatch";

.mobile-navbar-open {
    @include media-breakpoint-down(lg) {
        overflow: hidden !important;
        position: fixed;
        width: 100%;
    }
}

.header {
    background-color: $white;

    &.mobile-search-sliding {
        border-bottom: 0.1875rem solid $secondary !important;
    }

    &.navbar-visible {
        @include media-breakpoint-down(lg) {
            .icon-hamburger-menu {
                opacity: 0;
            }

            .icon-close {
                opacity: 1;
            }
        }

        .sticked-menu-right {
            display: none;
        }

        .main-menu .navbar-nav li:first-child a {
            padding-left: 2rem;
        }
    }
}

.header-top-border {
    border-top: 0.3125rem solid $primary;
    width: 100%;

    @include media-breakpoint-up(xl) {
        border-top-width: 0.4375rem;
    }
}

.header-top {
    margin: 0 auto;
    position: relative;

    @include media-breakpoint-up(xl) {
        padding-top: 0.75rem;
    }
}

.navbar-header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;

    .user,
    .minicart,
    .navbar-header-menu-item {
        display: inline-block;
        margin-top: 0.9rem;
        max-width: 5.5rem;
        padding: 0;
        position: relative;
        text-align: center;
        width: 46.5%;

        @include media-breakpoint-up(xl) {
            margin-top: 0.4rem;
            padding: 0 1.5rem 0 0.65rem;
            text-align: left;
            width: auto;
        }

        i::before {
            font-size: $font-size-11;

            @include media-breakpoint-up(xl) {
                font-size: $font-size-2;
            }
        }
    }

    .user,
    .minicart,
    .navbar-header-menu-item {
        @include media-breakpoint-up(xl) {
            height: auto;
            line-height: 2.25em;
        }
    }

    .navbar-toggle-search-btn {
        padding: 0;
        width: 46.5%;
        max-width: 5.5rem;
    }

    .navbar-toggle-search-btn {
        i::before {
            font-size: $font-size-11;
        }
    }

    .navbar-toggle-search-btn,
    .navbar-header-menu-item,
    .minicart {
        transition: opacity $animation-duration;
    }

    .minicart {
        @include media-breakpoint-up(xl) {
            top: -0.1875rem;
        }
    }
}

.navbar-toggler {
    align-items: center;
    display: flex;
    font-size: $font-size-11;
    justify-content: center;
    padding: 0 0.75rem;

    > span {
        transition: opacity $animation-duration;
    }

    .icon-hamburger-menu {
        margin-bottom: -0.3125rem;
    }

    .icon-close {
        opacity: 0;

        &::before,
        &::after {
            height: 0.1625rem;
            margin: 0.35rem 0 0 -1.2rem;
        }
    }
}

[data-action='Login-Show'] {
    .navbar-header {
        .guest {
            display: none;
        }
    }
}

.header-top-left,
.header-top-right {
    align-items: center;
    display: flex;
    flex: 0.3 0 0;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.header-top-left {
    flex: 0.5 0 0;
    justify-content: flex-start;
    margin-top: 0.9rem;

    @include media-breakpoint-up(xl) {
        margin-top: 0.1rem;
    }

    .header-top-left-menu {
        ul {
            li {
                a {
                    color: $secondary;
                    font-size: $font-size--1;
                    font-weight: $font-weight-medium;
                    padding: 0 0.625rem;
                    transition: color $animation-duration;

                    &:hover {
                        color: $primary;
                        text-decoration: none;
                    }
                }
            }

            .language-selector {
                a {
                    font-size: $font-size-base;
                }
            }
        }
    }
}

.header-top-right {
    justify-content: flex-end;

    .header-top-right-menu {
        ul.guest-menu {
            display: flex;

            li {
                &:first-child {
                    padding-right: 1rem;
                }

                a.guest-menu-link-root {
                    font-weight: $font-weight-medium;
                    font-size: $font-size--1;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.header-top-center {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up(xl) {
        margin-top: 0.75rem;
    }

    > .row {
        @include media-breakpoint-down(lg) {
            margin: 0 auto;
            width: 100%;
        }
    }

    .header-logo {
        img {
            width: 100%;
            height: 100%;
            max-width: 6.75rem;

            @include media-breakpoint-up(sm) {
                width: 14.875rem;
                max-width: 14.875rem;
                min-height: 2.625rem;
            }
        }

        img {
            width: 6.75rem;

            @include media-breakpoint-up(sm) {
                width: 14.875rem;
            }
        }

        @include media-breakpoint-up(xl) {
            margin: 0 auto;
        }
    }

    .mobile-menu-top {
        @include media-breakpoint-down(lg) {
            border-bottom: 0.0625rem solid $tertiary;
        }
    }

    .mobile-menu-right {
        > .col {
            align-items: center;
            border-left: 0.0625rem solid $tertiary;
            display: flex;
            justify-content: center;
            padding: 0.55rem 0;

            @include media-breakpoint-up(sm) {
                padding: 1.25rem #{$grid-gutter-width / 2};
            }
        }
    }
}

.header-user-icon {
    display: none;
    padding-left: 0.9375rem;
    padding-right: 1.5625rem;
    padding-bottom: 0.125rem;

    i::before {
        font-size: $font-size-1;
    }
}

.header-banner {
    background-color: $primary;
    color: $white;
    font-size: $font-size-1;
    padding: 0.7rem 0 0.6rem;
    text-align: center;
    display: none;

    @include media-breakpoint-up(xl) {
        font-size: $font-size--1;
        padding: 0.25rem 0;
    }

    .close-button {
        display: none;
    }
}

.page[data-action="null"] {
    .header-banner {
        display: block;
    }
}

.minicart {
    position: relative;
    padding: 0.375rem 0.75rem;

    @include media-breakpoint-up(xl) {
        display: flex;
        flex: 0.4 0 0;
        padding: 0;

        .minicart-icon {
            font-size: $font-size-11;
        }

        .minicart-link {
            color: $white;
        }
    }

    a.minicart-link {
        &:hover {
            text-decoration: none;
        }
    }

    .popover {
        left: auto;
        right: -0.0625rem;
        border-radius: 0;
        border: none;
        min-height: 16.875rem;
        min-width: 40rem !important;
        top: 2.3125rem;
    }
}

.minicart-quantity {
    left: calc(50%);
    align-items: center;
    background-color: $red;
    border-radius: 50%;
    color: $white;
    display: flex;
    font-size: $font-size--2;
    height: 1.125rem;
    justify-content: center;
    line-height: 1.2;
    position: absolute;
    text-align: center;
    top: -0.388rem;
    width: 1.125rem;

    @include media-breakpoint-up(xl) {
        top: 0.112rem;
        left: calc(50% - 0.4rem);
    }
}

.minicart-dropdown {
    max-height: 35rem;

    .minicart-items {
        max-height: 17.875rem;
        overflow-y: auto;
        padding-top: 1.0125rem;
    }

    .product-line-item {
        .swatch-circle {
            @include swatch($size: 1rem);
        }

        .color-name {
            padding-left: 0.5rem;
        }
    }
}

.minicart-title {
    padding: 1.1625rem 1.25rem 0.5rem;
}

.miniCart-checkout-message {
    margin: 1.563rem 0 0.5rem;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size--2;
}

.minicart-free-shipping {
    align-items: center;
    background-color: $grey1;
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-transform: uppercase;
}

.minicart-footer {
    font-size: $font-size-base;
    font-weight: $font-weight-demi-bold;
    padding: 0.8125rem 1.5625rem;
}

.minicart-footer-buttons {
    padding: 0.8125rem 1.5625rem;

    i::before {
        font-size: $font-size-base;
    }
}

.minicart-errorbox {
    .alert {
        margin-bottom: 0;
        margin-top: 0.625rem;
        padding: 0.625rem;
        font-size: $font-size--2;
        font-weight: $font-weight-light;
        border: none;
    }

    .minicart-errorbox-dismiss {
        position: absolute;
        background: transparent;
        border: none;
        right: 0.413rem;
        top: 0.413rem;

        i {
            &::before,
            &::after {
                width: 0.5625rem;
                margin: -0.055rem 0 0 -0.663rem;
                background-color: $grey6;
            }
        }
    }
}

.minicart-empty {
    padding: 0 #{$grid-gutter-width / 2};
}

.minicart-empty-actions,
.minicart-empty-suggestions {
    padding: 2rem 0;
}

.minicart-products {
    padding-bottom: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .product {
        width: 90%;
    }

    .product-tile {
        display: flex;
    }

    .image-container {
        width: 50%;
        text-align: center;
    }

    .tile-image {
        width: 5rem !important;
        height: auto !important;
    }

    .tile-body {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 !important;
        width: 50%;
    }

    .pdp-link {
        font-size: $font-size-base;
        text-align: left;
    }

    .engravable-badge,
    .badges-container,
    .swatches-container {
        display: none;
    }

    .name-container {
        text-align: left;
        margin-bottom: 0 !important;

        p {
            font-size: $font-size-base;
            height: auto !important;
        }
    }

    .ratings-price-container {
        flex-direction: column;
    }

    .ratings-container {
        .separator {
            display: none;
        }
    }

    .price-container {
        font-size: $font-size-base;
    }
}

.minicart-empty-actions {
    &::after {
        right: 0;
        border-right: 0.0625rem solid $tertiary;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        width: 0.0625rem;
    }
}

.minicart-empty-link {
    margin: 2rem 0;
    padding: 1rem 3rem;

    a {
        color: $grey4;
        font-size: $font-size-3;
        text-decoration: underline;

        &:hover {
            color: $primary;
        }
    }
}

.minicart-empty-delivery-message {
    background-color: $grey1;
    font-size: $font-size-3;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.added-product-notification {
    align-items: center;
    display: none;
    justify-content: center;
    left: 50%;
    padding: 0 0.625rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 25%);
    width: 100%;
    z-index: 1041;

    .miniCart-item-multiple-product-images {
        img {
            max-width: 7.5rem;
        }
    }

    @include media-breakpoint-up(sm) {
        position: fixed;
        transform: translate(-50%, -50%);
        width: auto;
    }
}

.added-product-wrapper {
    background-color: $white;
    padding: 2rem 0.9375rem 0.9375rem;
    position: relative;

    .added-product-close {
        right: 0.6rem;
        position: absolute;
        top: 0.3rem;

        button {
            background: none;
            border: none;
            line-height: 1;
            padding: 0.3125rem;
        }
    }

    .added-product-image {
        margin-right: 0.5rem;

        a {
            display: block;

            img {
                width: auto;
                height: 8.75rem;

                @include media-breakpoint-up(sm) {
                    height: 10rem;
                }
            }
        }
    }

    .added-product-quantity-wrapper {
        color: $grey4;
        font-size: $font-size-1;
    }

    .added-product-message {
        font-size: $font-size-2;
        margin-bottom: 1.25rem;
        margin-top: 1.5625rem;
    }

    .added-product-checkout {
        display: flex;
        flex-direction: column-reverse;

        .btn {
            i::before {
                font-size: $font-size-base;
            }
        }

        @include media-breakpoint-up(sm) {
            flex-direction: row;
            justify-content: space-between;

            .btn {
                width: calc(50% - 0.625rem);
            }
        }
    }

    .added-product-extras {
        align-items: center;
        background-color: $grey1;
        font-size: $font-size-3;
        justify-content: center;
        margin-top: 1rem;
        padding: 1rem;
        text-transform: uppercase;
    }

    @include media-breakpoint-up(sm) {
        padding: 2rem 1.875rem 1.875rem;
        width: 37.5rem;
    }
}

.add-to-cart-messages {
    display: none !important;
}

.added-product-notification-backdrop {
    left: 0;
    background: rgba($grey5, 0.72);
    cursor: pointer;
    display: none;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1040;
}

.slide-up {
    max-height: 6.25rem;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

    &.hide {
        margin-bottom: 0;
        margin-top: 0;
        max-height: 0;
        padding-bottom: 0;
        padding-top: 0;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
}

.sticked-search {
    display: none;

    i::before {
        font-size: $font-size-1;
    }
}

.minicart-icon {
    .minicart-link {
        display: block;
    }

    @include media-breakpoint-up(xl) {
        display: none;
    }
}

.minicart-link {
    position: relative;
    z-index: 2;
}

.minicart-button {
    color: $white;
    width: 100%;

    &.link-active {
        a {
            background-color: $white !important;
            border-color: $white !important;
            color: $primary !important;
        }

        .minicart-quantity {
            color: $primary !important;
        }
    }

    .minicart-link {
        font-size: $font-size--1;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0.625rem 0.575rem;

        .minicart-quantity {
            left: auto !important;
            background: transparent;
            color: $white;
            font-size: $font-size-base;
            height: auto;
            position: relative;
            top: auto !important;
            width: auto;

            &::before {
                content: '-';
                padding: 0 0.1875rem;
            }
        }
    }
}

.minicart-backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.sticked-menu-right {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    height: 100%;
    border-left: 0.0625rem solid $tertiary;
    border-bottom: 0.0625rem solid $tertiary;
    position: static;
}

.sticked {
    &.header {
        border-bottom: none;
    }

    .header-top {
        padding-top: 0;
    }

    .header-top-left,
    .header-top-right,
    .site-search,
    .header-minicart-link {
        display: none;
    }

    .search-mobile .site-search {
        display: block;
        position: static;
    }

    .sticked-search {
        display: block;
    }

    .sticked-menu-right {
        border: none;
    }

    .mobile-menu-nav {
        display: none;
    }

    .minicart {
        display: block !important;
        flex: none;

        .minicart-link {
            color: $primary;
        }
    }

    @include media-breakpoint-up(xl) {
        .header-top-center,
        .minicart-button {
            display: none !important;
        }

        .minicart-icon {
            display: block;
        }

        .header-user-icon {
            display: flex;
            align-items: center;
        }

        .minicart {
            margin-right: 1rem;

            .minicart-quantity {
                left: calc(50% + 0.0625rem);
            }

            .popover {
                top: 1.6875rem;
            }

            .minicart-icon::before {
                font-size: $font-size-1;
                vertical-align: 0.325rem;
            }
        }
    }
}

.header-logo-only {
    img {
        @include media-breakpoint-down(sm) {
            max-width: 10.625rem;
        }
    }
}

.hide-link-med {
    @include media-breakpoint-only(sm) {
        display: block !important;

        @media (orientation: $portrait) {
            display: none !important;
        }
    }
}

.hide-no-link {
    @include media-breakpoint-only(sm) {
        @media (orientation: $landscape) {
            display: none;
        }
    }
}

.header-backdrop {
    background: rgba($black, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1029;
}

.user-menu-quantity {
    right: 2.3rem;
    align-items: center;
    background-color: $alto;
    border-radius: 50%;
    color: $white;
    display: flex;
    font-size: $font-size--1;
    font-weight: $font-weight-demi-bold;
    height: 1.5rem;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
}
