.kit-builder-product-actions {
    display: none;
}

.state-kit-builder-active {
    .kit-builder-product-actions {
        display: block;
    }

    .is-outofstock {
        .kit-builder-product-actions {
            .btn.disabled {
                display: block !important;
            }

            .btn:not(.disabled) {
                display: none !important;
            }
        }
    }

    .product {
        max-width: 100%;
        margin-bottom: 2rem;

        &.selected {
            border: 0.1875rem solid $primary;
        }

        &:hover > .product-tile {
            > .image-container::before {
                @include media-breakpoint-up(lg) {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: $white;
                    opacity: 0.85;
                }
            }
        }
    }

    .product-tile {
        padding: 0.5rem;

        &:hover {
            .btn-tile-modal-toggle {
                @include media-breakpoint-up(lg) {
                    display: inline-block;
                }
            }
        }

        .btn-tile-modal-toggle {
            margin-top: 0.625rem;
            width: 90%;

            @include media-breakpoint-up(lg) {
                display: none;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .btn-action {
            display: none;
        }

        .disabled {
            opacity: 0.5;
        }
    }

    .tile-body {
        @include media-breakpoint-up(lg) {
            padding-bottom: 0;
        }
    }

    .alert {
        padding: 0.75rem !important;
        font-size: $font-size-2;
        text-transform: none;
    }

    .mobile-modal {
        display: block;
        z-index: 1;

        @include media-breakpoint-down(md) {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }
    }

    .mobile-modal-body {
        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }

    .refinements {
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }

    .mobile-modal-header,
    .mobile-modal-footer {
        display: none;
    }

    .refinement-top-bar,
    .grid-header {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .refinement-title,
    .refinement:not(.refinement-category),
    .plp-below-refinements {
        display: none !important;
    }

    .refinement.refinement-category {
        display: block;

        @include media-breakpoint-down(md) {
            margin-bottom: 0;
        }

        .card-body {
            background-color: transparent;
            border: none;
        }

        .values {
            font-weight: $font-weight-normal;
            font-size: $font-size-6;
            text-transform: none;

            @include media-breakpoint-down(md) {
                white-space: nowrap;
                overflow: auto;
                display: flex;
                flex-wrap: nowrap;
            }

            li {
                @include media-breakpoint-up(lg) {
                    margin-right: 0;
                    display: block;
                }

                @include media-breakpoint-down(md) {
                    border-bottom: none !important;
                    display: inline-block;
                }

                &:not(.alert) {
                    @include media-breakpoint-down(md) {
                        margin-bottom: 0 !important;
                    }
                }

                &:not(:last-child) {
                    @include media-breakpoint-down(md) {
                        margin-right: 1.75rem;
                    }
                }
            }

            a {
                color: $grey9;
                text-decoration: none;
                border-bottom: 0.1875rem solid $grey2;
                align-items: center;
                padding-bottom: 0.625rem;

                &:focus {
                    outline: none !important;
                }

                &:hover,
                &.selected {
                    color: $primary;
                    border-bottom-color: $primary;

                    i {
                        border-color: $primary;
                        background-color: $primary;
                        color: $white;
                    }
                }
            }

            i {
                border-radius: 100%;
                border: 0.0625rem solid $grey2;
                font-style: normal;
                height: 2rem;
                line-height: 1.95rem;
                margin-right: 1rem;
                text-align: center;
                width: 2rem;
            }
        }
    }
}

.btn-select-tile-for-kit {
    min-width: 10rem;
}

.state-kit-builder-review {
    .refinement-top-bar,
    .grid-header {
        display: none;
    }

    .swatch-circle {
        display: inline-block;
        @include swatch($size: 1rem, $selected-border-gap: 0.125rem);
    }

    .strike-through {
        margin-right: 0 !important;
    }

    .color-name {
        font-size: $font-size--1;
        font-weight: $font-weight-medium;
        padding-left: 0.5rem;
        text-transform: uppercase;
    }

    .review-title {
        font-size: $font-size-2;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        min-height: 2.625rem;
        line-height: 1.0625rem;
        margin-bottom: 0.625rem;
    }

    .kit-product-tile-desc {
        display: block;
        text-align: center;
    }

    .review-image {
        width: 100%;
        text-align: center;

        img {
            width: auto;
            max-width: 9.8125rem;
            max-height: 100%;
            margin: 0 auto;
        }
    }

    .kit-product-tile-actions {
        margin-top: 1.25rem;
        display: flex;
        justify-content: space-between;
    }

    .kit-product-tile-action {
        @include underline;

        color: $black;
        padding: 0;
        font-weight: $font-weight-normal;
    }
}

.kit-builder-selected-item {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    color: $japanese-laurel;
    font-size: $font-size-2;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media-breakpoint-up(lg) {
        margin-left: auto;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
    }
}

.kit-builder-start-page {
    position: relative;

    > .container {
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            > div {
                justify-content: flex-end #{"/*rtl:flex-start*/"} !important;
            }
        }
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    p {
        font-size: $font-size-1;
        margin-bottom: 2rem;
    }

    .btn {
        font-weight: $font-weight-medium;
        min-width: 12.5rem;
        text-transform: uppercase;
    }
}

.kitbuilder-summary-section {
    margin-top: 1.5625rem;

    @include media-breakpoint-up(lg) {
        margin-top: 1.875rem;
    }
}

.kitbuilder-summary {
    width: 100%;
    margin-bottom: 0.75rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 1.875rem;
    }
}

.kitbuilder-summary-inner {
    background-color: $alabaster;
    padding: 0.75rem 0.9375rem;
    margin: 0 -0.9375rem;

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.9375rem;
        margin: 0;
    }
}

.kitbuilder-summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3125rem 0;
    font-size: $font-size-2;
}

.kitbuilder-summary-title {
    font-size: $font-size-4;
    text-transform: uppercase;
    margin-bottom: 0.9375rem;

    @include media-breakpoint-up(lg) {
        margin: 0;
        font-size: $font-size-12;
        width: 45%;
        text-align: center;
    }
}

.kitbuilder-summary-totals {
    @include media-breakpoint-up(lg) {
        width: 55%;
    }
}

.kitbuilder-summary-total {
    margin-top: 0.4375rem;
    padding-top: 0.75rem;
    border-top: 0.0625rem solid $alto;
}

.kitbuilder-summary-item-label {
    text-transform: uppercase;
    width: calc(100% - 4.375rem);
}

.kitbuilder-summary-item-value {
    .price .sales {
        font-weight: $font-weight-normal;
    }
}

.kitbuilder-summary-item-label-desc {
    display: block;
    text-transform: none;
    font-size: $font-size-base;
}

.kitbuilder-title {
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-12;
    margin-bottom: 0.625rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 1.25rem;
    }
}

.kit-product-tile {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up(lg) {
        margin-bottom: 1.25rem;
    }
}

.kit-product-tile-inner {
    position: relative;
    padding: 1.5rem 1.25rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 21.5625rem;

    @include media-breakpoint-up(lg) {
        border: 0.0625rem solid $alto;
        max-width: none;
    }
}

.kit-product-tile-details {
    padding-top: 1.25rem;
    flex: 1;
}

.kit-product-tile-category {
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size--1;
    color: $secondary;
}

.kitbuilder-summary-actions-item {
    @include media-breakpoint-down(lg) {
        padding-left: 0;
        padding-right: 0;
    }
}

// Modal

.modal.product-tile-modal {
    .modal-dialog {
        min-width: 21.875rem;
        width: 21.875rem;
        padding: 0;
        margin: auto;
        border: 0.625rem solid $black;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    .modal-header {
        padding: 0;

        .close {
            top: -3.125rem;
            right: -0.625rem;
        }
    }

    .modal-body {
        padding: 2.1875rem 0.625rem;
    }

    .product-tile-name-link {
        text-decoration: none;
    }

    .product-tile-name-text {
        height: auto;
        font-size: $font-size-2;
        text-align: center;
        line-height: 1.0625rem;
        font-weight: $font-weight-normal;
    }

    .tile-image-link {
        pointer-events: none;
    }

    .product-tile-modal-variation-container {
        margin: 0.625rem 0 1.875rem;
    }
}
