/* rtl:begin:ignore */
.noUi-target {
    background: $secondary;
    border-radius: 0;
    box-shadow: none;
    border: 0;

    /* rtl:ignore */
    direction: ltr;
}

.noUi-connect {
    background: $primary;
}

.noUi-horizontal {
    height: 0.0625rem;
}

.noUi-handle {
    border: 0.0625rem solid $primary;
    border-radius: 100%;
    box-shadow: none;

    &::after {
        display: none;
    }

    &::before {
        background-color: $primary;
        border-radius: 100%;
        position: absolute;
        bottom: 0.25rem;
        left: 0.25rem;
        right: 0.25rem;
        top: 0.25rem;
        width: auto;
    }
}

.noUi-horizontal .noUi-handle {
    width: 1.5rem;
    height: 1.5rem;
    left: -0.4375rem;
    top: -0.75rem;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    left: auto;
    right: -0.4375rem;
}

/* rtl:end:ignore */
