.quantity {
    border: 0.0625rem solid $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.875rem;

    .btn {
        border: 0.0625rem solid $border-color;
        color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        padding: 0;
        text-decoration: none;

        &.disabled {
            color: $grey3;
        }
    }

    .form-control {
        background-color: $white !important;
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        text-align: center;
        padding: 0;
        width: 2.5rem;

        &.disabled {
            color: $grey3;
        }
    }
}
