@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.banner-side-buttons-image-picture,
.banner-side-buttons-image-img {
    width: 100%;
    display: block;
}

.banner-side-buttons-content {
    display: flex;
}

.banner-side-buttons-content-inner {
    width: 100%;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 1.25rem 0;
}

.banner-side-buttons-title {
    margin-bottom: 1.875rem;
    padding: 0 1.375rem;
    font-size: $font-size-4;
    font-weight: $font-weight-extra-bold;
    letter-spacing: $font-ls-8;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        margin-bottom: 2.1875rem;
        font-size: $font-size-8;
    }
}

.banner-side-buttons-title,
.banner-side-buttons-content-text {
    max-width: 22.5rem;
    margin-left: auto;
    margin-right: auto;
}

.banner-side-buttons-content-text {
    font-size: $font-size--1;
    color: $grey14;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-6;
    }
}

.banner-side-buttons-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.875rem;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        margin-top: 2.5rem;
    }
}

.banner-side-buttons-actions-item {
    margin-top: 1.5625rem;

    &:first-child {
        margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
        margin: 0 1.25rem;
    }

    @include media-breakpoint-up(xl) {
        margin: 0 2.1875rem;
    }
}

.banner-side-buttons-link {
    min-width: 8.125rem;

    @include media-breakpoint-up(lg) {
        min-width: 8.8125rem;
    }

    @include media-breakpoint-up(xl) {
        min-width: 11.5625rem;
    }
}
