@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.mosaic-container {
    position: relative;
    padding-bottom: 3.25rem;
    background: $mosaic-bg;

    @include media-breakpoint-up(lg) {
        padding-bottom: 3rem;
    }

    .mosaic-description-container {
        color: $black;
        text-align: center;
        font-size: $font-size--2;
        font-family: $font-family-secondary;
        letter-spacing: $font-ls-1;
        line-height: $font-lh--1;
        padding: 1.0625rem 1.25rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
        }
    }

    .mosaic-image-container {
        .mosaic-image {
            max-width: 100%;

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }

        .mosaic-icon {
            position: absolute;
            top: 1.8125rem;
            right: 1.75rem;
            background: $white;
            padding: 0.625rem 0.8125rem;
        }
    }

    .mosaic-full-link {
        font-size: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
