@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.positioned-image-with-text-container {
    .item {
        display: flex;

        .box-text-wrapper {
            line-height: $font-lh--1;
            display: block;
            margin-top: 0.4375rem;
            font-size: $font-size--2;
            color: $info-text;
            font-family: $font-family-base;
            letter-spacing: $font-ls-8;

            @include media-breakpoint-up(lg) {
                margin-top: 0.6875rem;
                font-size: 1rem;
            }

            @include media-breakpoint-up(xl) {
                margin-top: 1.3125rem;
                font-size: 1.125rem;
            }
        }

        .box-image-wrapper {
            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }

    .item.image-position-right {
        @include media-breakpoint-up(md) {
            .box-image-wrapper {
                order: 2;
            }
        }
    }
}
