@import "../../../variables";
@import "../../../api/all";
@import "bootstrap/scss/mixins/breakpoints";

.customer-care-subtitle,
.customer-care-title {
    font-family: ff(secondary);
    font-size: $font-size--6;
    font-weight: $font-weight-normal;
    line-height: $line-height-9;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    padding-bottom: 0.3125rem;
    margin-bottom: 0;
    text-align: center;
    color: $grey14;

    /* rtl:raw:
        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
    */
}

.customer-care-title {
    color: $primary;
    font-size: $font-size-2;
    line-height: $line-height-10;
    padding-bottom: 2rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.customer-care-link-back {
    position: absolute;
    left: 0;
    top: -0.75rem;
    color: $tory-navy;
    font-size: $font-size-4;
}

.customer-care-container {
    font-family: ff(tertiary);
    font-size: $font-size--4;
    line-height: $line-height-8;
    color: $primary-hover;

    .customer-care-help-wrapper {
        color: $primary;
        max-width: 48.125rem;
        margin: 0 auto 5.625rem;
        padding: 0;

        .region.customer-care-help {
            padding-right: 0;
        }

        .landing-mosaic-small {
            padding: 0;
        }

        .landing-mosaic {
            .row .region {
                margin-bottom: 0;
            }
        }
    }
}

@mixin links-underline {
    a u {
        color: $tory-navy;
        text-decoration: none;
        border-bottom: 1px solid;

        &:hover {
            border-color: $grey20;
        }

        &:active {
            border-color: $grey2;
        }
    }
}

@mixin castomer-care-secondary-heading {
    font-family: ff(secondary);
    font-size: $font-size--6;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    color: $primary;

    /* rtl:raw:
        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        font-weight: 400;
    */
}

.customer-care-secondary {
    font-family: ff(tertiary);
    font-size: $font-size--4;
    line-height: $line-height-12;
    letter-spacing: normal;
    padding: 1.25rem;

    @include media-breakpoint-up(md) {
        padding: 1.875rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 2.625rem 0 2.5625rem;
    }

    @include links-underline;

    .editorialRichText-component-container {
        .text-center {
            text-align: left !important;
        }
    }

    .experience-component {
        max-width: 48.125rem;
        padding: 0 0.9375rem;
        background: $white;
        margin: 0 auto;
        position: relative;

        &:not(.experience-commerce_assets-accordionElement) {
            &::after {
                content: '';
                position: absolute;
                bottom: -0.0625rem;
                left: 0;
                width: 100%;
                height: 0.1875rem;
                background: inherit;
            }
        }

        @include media-breakpoint-up(md) {
            padding: 0 6.25rem;
        }

        &:first-child {
            padding-top: 3.75rem;
        }

        &:nth-last-child(2) {
            .editorialRichText-component-container {
                p:last-child {
                    margin-bottom: 3.75rem;
                }
            }
        }
    }

    .experience-commerce_layouts-accordionHolder {
        padding: 0;

        .global-accordion {
            margin-bottom: 0;
            padding-bottom: 2.5rem;

            .accordion-btn {
                height: auto;
                padding: 1.3125rem 0 1.1875rem;
            }
        }

        .experience-commerce_assets-accordionElement {
            &:first-of-type .card {
                border-top: 0.0625rem solid $pipping-color;
            }

            .card {
                padding: 0 1.25rem;
                border-bottom: 0.0625rem solid $pipping-color;
            }

            .card-body {
                color: $primary-hover;
                font-size: $font-size--4;
                line-height: $line-height-12;
            }

            &:first-child {
                padding-top: 0;
            }

            .btn-link {
                color: $primary-hover;
                font-family: ff(tertiary);
                font-size: $font-size--2;
                line-height: $line-height-13;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                padding-right: 2rem;
                text-decoration: none;
                text-transform: none;
            }

            .card-header {
                border-top: 0;
            }

            .sc-icon-plus {
                right: 0;

                &::after,
                &::before {
                    width: 0.5rem;
                    height: 0.0625rem;
                    background-color: $tory-navy;
                }
            }
        }
    }

    .customer-care-item {
        position: relative;
    }

    .landing-mosaic {
        padding: 0;
        margin: 0;

        .experience-component {
            padding: 0;
        }

        .row .region {
            &.custom-table,
            &.custom-table-content {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    > .experience-component:last-child {
        border-top: 0.0625rem solid $athens-gray;
        padding: 5rem 0 5.625rem;
    }

    h4 {
        @include castomer-care-secondary-heading;

        margin-top: 2.5625rem;
        margin-bottom: 1.4375rem;
    }

    ul {
        padding: 0 0 1rem 1.25rem;
        list-style-type: disc;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            margin: 0 0 0.5rem;
        }
    }

    p {
        margin-bottom: 1rem;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 64%;
        }
    }

    .custom-table-th {
        @include castomer-care-secondary-heading;

        padding: 0.8125rem 0;
        margin-bottom: 1.25rem;
        text-transform: uppercase;
        background-color: $brand-light;

        .experience-component {
            background-color: $brand-light;
        }
    }

    .custom-table-td {
        padding: 0 0 1.25rem;
        margin-bottom: 1.25rem;
        border-bottom: 0.0625rem solid $pipping-color;
    }

    .custom-table {
        p {
            margin-bottom: 0;
        }
    }

    &.contact-us {
        .experience-component {
            padding: 0 0.9375rem;

            @include media-breakpoint-up(md) {
                padding: 0 6.25rem;
            }

            &:first-child {
                padding-top: 3.75rem;
            }

            &:nth-child(3) {
                padding: 1.875rem 0 0;
            }

            &:last-child {
                padding: 1rem 0.9375rem 2.5rem;

                @include media-breakpoint-up(md) {
                    padding: 1rem 6.25rem 3.75rem;
                }
            }
        }

        .customer-care-help {
            .experience-component {
                padding: 0;
            }

            .editorialRichText-component-container {
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .landing-mosaic {
            padding-bottom: 5rem;
            border-bottom: 0.0625rem solid $pipping-color;
        }
    }
}

.customer-care-accordion {
    text-align: center;
    color: $primary;
    padding: 0;
    max-width: 50rem;
    margin: 0 auto 5rem;

    body & {
        padding-left: 0;
        padding-right: 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 0.9375rem;
    }

    .experience-component {
        border-bottom: 0.0625rem solid $athens-gray;
    }

    .customer-care-link {
        transition: $animation-default;
        position: relative;
        padding: 2.3125rem 0;
        display: block;

        @include media-breakpoint-up(lg) {
            padding: 2.5rem 0;
        }

        &:hover {
            background: $brand-light;
        }

        .icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &.icon-arrow-left-md {
                left: 1rem;

                &::before {
                    font-size: $font-size-4;
                }
            }

            &.icon-arrow-right-md {
                right: 1rem;

                &::before {
                    font-size: $font-size-2;
                }
            }
        }

        .customer-care-subtitle {
            color: $primary;
            font-family: ff(secondary);
            font-size: $font-size--2;
            font-weight: $font-weight-normal;
            line-height: $line-height-9;
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
            margin: 0;
            padding: 0;

            /* rtl:raw:
                font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
            */
        }
    }

    &.customer-care-accordion-secondary {
        .customer-care-link {
            padding-left: 1rem;
            padding-right: 1rem;

            .customer-care-subtitle {
                font-size: $font-size--6;
                text-align: left;
            }
        }

        .experience-component {
            &:first-child {
                .customer-care-link {
                    .customer-care-subtitle {
                        font-size: $font-size--2;
                        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                        text-align: center;
                    }
                }
            }
        }
    }
}

.customer-care-help {
    font-family: ff(tertiary);
    font-size: $font-size--4;
    line-height: $line-height-8;
    color: $primary-hover;

    @include links-underline;

    /* rtl:raw:
        font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
    */

    &:nth-of-type(2) {
        margin-top: 3.5rem;
        padding-bottom: 4.125rem;

        @include media-breakpoint-up(sm) {
            margin: 0;
            padding-bottom: 0;
            border-left: 0.0625rem solid $athens-gray;
            border-right: 0;
        }
    }

    h3 {
        color: $primary;
        font-family: ff(tertiary);
        font-size: $font-size--6;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
        line-height: $line-height-9;
        letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
        margin-bottom: 0.4375rem;

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
        */

        @include media-breakpoint-up(sm) {
            font-weight: $font-weight-normal;
            font-family: ff(secondary);
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        }

        b,
        strong {
            font-weight: $font-weight-normal;
        }
    }

    p {
        margin-bottom: 0;
        font-family: ff(base);
        line-height: $line-height-base;
        font-size: $font-size--2;
        letter-spacing: normal;

        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */

        @include media-breakpoint-up(sm) {
            font-family: ff(tertiary);
            line-height: $line-height-7;
            font-size: $font-size--4;

            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            */
        }
    }

    img {
        max-width: 1.25rem;
        max-height: 1.25rem;
    }
}

@mixin about-us-common-font {
    font-family: ff(base);
    font-size: $font-size-base;
    line-height: $line-height-1;
    letter-spacing: 0 #{"/*rtl:normal*/"};
    color: $primary;
}

.static-page.about-us {
    @include about-us-common-font;

    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-up(lg) {
        padding-right: 1.875rem;
        padding-left: 1.875rem;
    }

    .customer-care-container {
        @include about-us-common-font;
    }

    .ITC-container .ITC-text-underneath {
        @include about-us-common-font;
    }

    .editorialRichText-component-container {
        .text-center {
            text-align: center !important;
        }
    }

    .landing-mosaic {
        margin-bottom: 0;

        @include media-breakpoint-down(lg) {
            padding: 0;
        }

        .logo-title {
            @include media-breakpoint-down(lg) {
                margin-top: 1.25rem;
                text-align: center;
            }

            img {
                @include media-breakpoint-down(lg) {
                    max-width: 13.9375rem;
                }
            }
        }

        img {
            width: 100%;
        }
    }

    [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .experience-commerce_assets-editorialRichText {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3.75rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 5rem;
        }
    }

    .experience-commerce_layouts-mainContainer {
        margin-bottom: 1.5625rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 2.1875rem;
        }
    }

    .photo-tile-figure {
        margin: 0;
    }

    .about-us-travel-block {
        .landing-mosaic {
            > .row {
                display: flex;
                flex-direction: column-reverse;

                @include media-breakpoint-up(md) {
                    flex-direction: row;
                }
            }
        }
    }

    span {
        color: $primary !important;
    }

    h4 {
        font-family: ff(secondary);
        color: $primary-hover;
        font-size: $font-size-1;
        line-height: $line-height-base;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        font-weight: $font-weight-normal;

        span {
            color: $primary-hover !important;
        }
    }

    h3 {
        font-family: ff(secondary);
        color: $primary-hover;
        font-size: $font-size-7;
        line-height: $line-height-3;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        font-weight: $font-weight-normal;

        span {
            color: $primary-hover !important;
        }
    }

    .photo-tile-figure {
        text-align: center;
    }

    .photo-tile-image {
        max-width: 100%;
        width: auto;
    }
}

.static-page.blog-post {
    margin: 1.875rem auto 0;
    max-width: 63.75rem;

    span {
        color: $black !important; //inline styles
        text-align: left;
    }

    .blog-post-logo {
        .image-fluid {
            max-width: 19.875rem;
            margin: 0 auto 2.5rem;

            @include media-breakpoint-down(md) {
                max-width: 9.5625rem;
                margin: 0 auto 1.3125rem;
            }
        }
    }

    .blog-post-date {
        color: $grey23;
        font-size: $font-size-4;
        font-weight: $font-weight-medium;
        padding: 0 0 3.125rem;
        font-family: $font-family-fifth;

        @include media-breakpoint-down(md) {
            font-size: $font-size--5;
            padding: 0 0 1.25rem;
        }

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        */

        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .blog-post-title {
        padding-bottom: 3.125rem;

        @include media-breakpoint-down(md) {
            padding-bottom: 1.5625rem;
        }

        h1 {
            color: $black;
            font-size: $font-size-31;
            line-height: $headings-line-height;
            letter-spacing: -0.05em #{"/*rtl:normal*/"};
            font-weight: $font-weight-normal;
            text-decoration: none;
            padding: 0;
            margin: 0;
            text-transform: none;
            font-family: $font-family-fifth;

            @include media-breakpoint-down(md) {
                font-size: $font-size-3;
            }

            /* rtl:raw:
                font-family: "GESSTwoLight-Light", Arial, Sans-serif;
            */
        }
    }

    .ITC-container {
        .ITC-text-underneath {
            font-weight: $font-weight-minor;
            color: $black;
            font-size: $font-size-3;
            line-height: 1.89em;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 1;
            font-family: $font-family-fifth;

            @include media-breakpoint-down(md) {
                padding: 0 1.6875rem;
                font-size: $font-size--2;
            }

            /* rtl:raw:
                font-family: "GESSTwoLight-Light", Arial, Sans-serif;
            */

            span {
                p {
                    &:first-child {
                        font-style: normal;
                        font-weight: $font-weight-minor;
                        color: $grey24;
                        font-size: $font-size-32;
                        line-height: $line-height-19;
                        text-align: center;
                        margin-top: 0.125rem;

                        span {
                            color: $grey24 !important;
                            padding-top: 0;
                            font-size: $font-size-32;
                        }
                    }
                }
            }
        }
    }

    .customer-care-container {
        font-family: $font-family-fifth;

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        */
    }

    .experience-commerce_assets-editorialRichText,
    .experience-commerce_layouts-mainContainer {
        margin-bottom: 0;
    }
}
