@import "../../../variables";
@import "../../../api/all";
@import "bootstrap/scss/mixins/breakpoints";

.landing-mosaic {
    margin-bottom: 1.25rem;
    padding: 0;

    @include media-breakpoint-up(md) {
        margin-bottom: 3.8125rem;
    }

    .region {
        .experience-component {
            margin-bottom: 0.625rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 0.9375rem;
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: 1.25rem;
            }

            @include media-breakpoint-up(xl) {
                margin-bottom: 1.875rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .row {
        padding-top: 0;
        margin-left: 0;
        margin-right: 0;

        .region {
            &.customer-care-help:nth-of-type(2) {
                @include media-breakpoint-up(sm) {
                    margin-bottom: 0;
                }
            }

            &:last-child {
                .ITC-text-underneath {
                    margin-bottom: 0;
                }

                .image-component {
                    float: right;
                }
            }
        }
    }

    .image-component {
        max-width: 100%;

        @include media-breakpoint-up(xl) {
            max-width: 29.9375rem;
        }
    }

    .landing-mosaic-title {
        margin: 0 0 1rem;
        color: $tertiary;
        font-size: $font-size-4;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        font-weight: $font-weight-medium;
        font-family: ff(secondary);

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }
    }

    .mosaic-container {
        padding-bottom: 0;
    }

    .mosaic-description-container {
        background: rgba(255, 255, 255, 0.8);
    }

    .category-banner {
        @include media-breakpoint-down(sm) {
            padding: 0 0.625rem;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .ITC-container {
        .ITC-text-underneath {
            margin-top: 0.9375rem;
            margin-bottom: 1.5625rem;
            font-family: ff(base);
            font-size: $font-size--2;
            line-height: $line-height-2;
            letter-spacing: $font-ls-8 #{"/*rtl:normal*/"};
            text-align: center;
            color: $primary;
            padding: 0;

            @include media-breakpoint-up(md) {
                margin-top: 0.9375rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: $font-size-base;
                margin-bottom: 0;
            }

            h2 {
                margin: 0 0 0.5rem;
                color: $primary;
                font-size: $font-size--3;
                letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
                font-weight: $font-weight-normal;
                font-family: ff(secondary);

                @include media-breakpoint-up(md) {
                    font-size: $font-size-base;
                }

                /* rtl:raw:
                    font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
                */
            }

            p {
                margin: 0 0 0.625rem;
                white-space: normal;
            }

            a {
                padding: 0;
                color: $primary;
                text-decoration: none;
                font-size: $font-size--6;
                letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
                font-weight: $font-weight-normal;
                font-family: ff(secondary);

                &:hover {
                    u {
                        border-color: $grey20;
                    }
                }

                &:active {
                    u {
                        border-color: $grey2;
                    }
                }

                u {
                    transition: border-bottom 0.3s ease;
                    border-bottom: 0.0625rem solid $grey19;
                    text-decoration: none;
                }
            }

            b,
            strong {
                font-weight: $font-weight-normal;
            }
        }

        .col-12 {
            @include media-breakpoint-down(sm) {
                padding: 0;
            }
        }
    }

    &.landing-mosaic-carousel {
        margin-bottom: 1.25rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 2.5rem;
        }

        .landing-mosaic {
            margin-bottom: 0;
        }

        .ITC-container {
            .ITC-text-underneath {
                margin-top: 0.625rem;

                a {
                    /* rtl:raw:
                        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
                    */

                    &:hover {
                        u {
                            border-color: $grey20;
                        }
                    }

                    &:active {
                        u {
                            border-color: $grey2;
                        }
                    }

                    u {
                        transition: border-bottom 0.3s ease;
                        border-bottom: 0.0625rem solid $grey19;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.landing-mosaic-small {
    .region {
        padding-right: 0;
        padding-left: 0;
    }
}
