$receipt-font-size: 0.875rem;
$receipt-spacing: 0.625em;

.grand-total {
    position: relative;
    font-size: fz(p13);
    font-weight: $font-weight-medium;
    padding-top: 1rem;
    margin-top: 0.5rem;

    &::before {
        content: '';
        border-top: 0.0625rem solid $text-muted;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}

.vat-label {
    display: block;
    font-size: fz(p13);
    font-weight: $font-weight-normal;
    white-space: normal;
}

.terms-and-conditions-warning {
    font-size: fz(p9);
    font-weight: $font-weight-medium;
    text-align: center;
    margin-top: 0.5rem;
    display: none;

    .link {
        font-size: fz(p9);
        font-weight: $font-weight-medium;
    }
}

.order-receipt-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-line-item + .product-line-item::before,
.multi-shipping + .product-line-item::before {
    content: "";
    display: block;
    border-bottom: 0.063em dashed $horizontal-rule-grey;
    margin: $receipt-spacing -0.625em;

    @include media-breakpoint-up(lg) {
        margin: $receipt-spacing -1.225em;
    }
}

.shipment-block + .shipment-block::before {
    content: "";
    display: block;
    border-bottom: 0.063em dashed $horizontal-rule-grey;
    margin: $receipt-spacing -0.625em;

    @include media-breakpoint-up(lg) {
        margin: $receipt-spacing -1.225em;
    }
}

.shipping-method {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.order-detail-header {
    font-size: fz(h3);
    font-weight: $font-weight-medium;
    line-height: $font-lh--2;
    margin-bottom: 1.25rem;
}

.confirmation-item-devider {
    margin: 0.9375rem 0;

    @include media-breakpoint-up(xl) {
        margin: 1.25rem 0;
    }
}

.confirmation-item-image {
    padding-right: 0.9375rem;

    @include media-breakpoint-up(md) {
        padding-right: 1.25rem;
    }

    @include media-breakpoint-up(xl) {
        padding-right: 0.925rem;
    }

    .product-image {
        width: 4.375rem;

        @include media-breakpoint-up(xl) {
            width: 5rem;
        }
    }
}

.confirmation-item-description {
    width: 100%;
}

.confirmation-item-brand {
    font-weight: $font-weight-bold;
    line-height: $font-lh--5;

    @include media-breakpoint-down(lg) {
        padding-right: 1.5625rem;
    }
}

.confirmation-item-name {
    line-height: $font-lh--3;
    margin-bottom: 0.75rem;
}

.confirmation-item-attribute-title {
    font-size: fz(body-sm);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}

.confirmation-item-quantity {
    .confirmation-item-attribute-value {
        display: block;
        text-align: center;
        max-width: 3.75rem;
    }
}

.confirmation-item-price {
    font-size: fz(h4);
    font-weight: $font-weight-extra-bold;
    color: $secondary;
    line-height: $font-lh--4;
    align-self: flex-end;

    @include media-breakpoint-up(md) {
        font-size: fz(h3);
        line-height: $font-lh--2;
    }

    .cart-bonus-product-no-price {
        font-size: fz(h3);
        font-weight: $font-weight-extra-bold;
        color: $secondary;
        line-height: $font-lh--2;
        text-transform: uppercase;
    }

    .cart-product-price-discounted {
        font-size: fz(h4);
        font-weight: $font-weight-extra-bold;
        color: $secondary;
        line-height: $font-lh--4;
    }

    .cart-product-price-main {
        &.strike-through,
        &.worth {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            line-height: $font-lh--3;
            color: $text-muted;
            margin: 0;
        }
    }
}

.summary-details {
    font-size: fz(body);
    line-height: $font-lh--9;
    max-width: 12.5rem;
}

.payment-information {
    margin-bottom: 1rem;
}

.checkout-hidden {
    display: none;
}

.user-payment-instruments {
    &.checkout-hidden {
        display: block !important;

        .radio-button-link.selected-payment i {
            border-color: $grey3 !important;
        }

        .radio-button-link.selected-payment i::after {
            display: none !important;
        }

        .stored-payments + .radio-button-link i {
            border-color: $secondary !important;
        }

        .stored-payments + .radio-button-link i::after {
            display: block !important;
        }
    }
}

.security-code-input {
    position: relative;

    .info-icon {
        position: absolute;
        right: 0.4rem;
        top: 0.4rem;

        i::before {
            color: $grey3;
            font-size: 1rem;
        }
    }
}

.card-image {
    width: 2.5rem;
    min-width: 2.5rem;
}

.cancel-new-payment {
    margin-top: 1rem;
}

.multi-ship .single-shipping .shipping-content {
    display: none;
}

.multi-ship .shipping-summary .single-shipping {
    display: none;
}

.gift-message-block {
    padding-bottom: 1em;
    padding-top: 1em;
}

.single-shipping .summary-section-label {
    margin-bottom: 0;
}

.confirm-details .shipping-method,
.confirm-details .shipping-method-price {
    margin-bottom: 0;
}

.multi-ship .confirm-details .single-shipping {
    display: none;
}

.multi-shipping {
    display: none;
}
