.cookie-warning-container {
    font-size: fz(body-xs);
    background-color: $light;
    color: $grey5;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    line-height: 1.5;
    overflow: hidden;
    padding: 0.625rem 0.75rem;
    transition: height $animation-duration, padding-top $animation-duration, padding-bottom $animation-duration;

    @include media-breakpoint-down(sm) {
        font-size: 0.5rem;
    }

    .btn-cancel {
        margin-left: auto;
        padding: 0 0.5rem;

        .sc-icon-cross {
            &::before,
            &::after {
                width: 0.875rem;
            }
        }
        @include ipad() {
            position: absolute;
            right: 0.313rem;
            top: 0;
        }
    }

    .content-asset {
        a {
            color: $grey5;
            font-weight: $font-weight-bold;
            text-decoration: underline;
        }
    }
}

@include media-breakpoint-up(xl) {
    .sticked {
        .cookie-warning-container {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
