/* rtl:begin:ignore */
.noUi-target {
    background: $secondary;
    border-radius: 0;
    box-shadow: none;
    border: 0;

    /* rtl:ignore */
    direction: ltr;

    @include media-breakpoint-up(md) {
        background: $text-muted;
    }
}

.noUi-connect {
    background: $secondary;

    @include media-breakpoint-up(md) {
        background: $tertiary;
    }
}

.noUi-horizontal {
    height: 0.0625rem;
    margin-right: 0.5rem;
    margin-left: 0.5625rem;
    position: relative;

    &::before {
        background: $secondary;
        content: "";
        height: 0.0625rem;
        left: -0.5625rem;
        position: absolute;
        width: 100%;

        @include media-breakpoint-up(md) {
            background: $tertiary;
        }
    }
}

.noUi-handle {
    border: 1px solid $secondary;
    border-radius: 0;
    box-shadow: none;

    @include media-breakpoint-up(md) {
        border-color: $text-muted;
    }

    &::before,
    &::after {
        display: none;
    }
}

.noUi-horizontal .noUi-handle {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    left: -0.5375rem;
    top: -0.425rem;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    left: auto;
    right: -0.5375rem;

    @include media-breakpoint-up(xl) {
        right: -0.4375rem;
    }
}

.slider-active {
    .noUi-handle {
        border-color: $secondary;
        background-color: $white;

        @include media-breakpoint-up(md) {
            border-color: $text-muted;
        }
    }

    .noUi-connect {
        background: $secondary;

        @include media-breakpoint-up(md) {
            background: $tertiary;
        }
    }
}

/* rtl:end:ignore */
