.login-title {
    font-family: ff(base);
    font-size: fz(h1);
    font-weight: $font-weight-medium;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2.5rem;

    @include media-breakpoint-down(lg) {
        font-size: fz(h2);
        border-bottom: 0.0625rem solid $tertiary;
        padding: 1.25rem 0;
    }
}

.separator {
    margin: 1.375rem 0;

    h6 {
        font-size: fz(body);
        font-family: ff(base);
        font-weight: $font-weight-medium;
        margin: 0 auto;
    }

    &::after {
        border-bottom: 0.0625rem solid $tertiary;
    }
}

.login-form-image {
    position: absolute;
    bottom: 0;
    left: 0.9375rem;
    height: 100%;
    width: calc(100% - 1.875rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* rtl:raw:
        transform: rotateY(180deg);
    */
}

.oauth-facebook {
    width: 100%;
    border: 0.0625rem solid $text-muted;
    padding: 0.75rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;

    &:hover {
        text-decoration: none;
    }

    span {
        font-weight: $font-weight-extra-bold;
        color: $text-muted;
        text-transform: uppercase;
        margin-left: 0.9375rem;
        line-height: $font-lh--3;
    }
}

.login-form-left {
    .form-control-label {
        display: block;
        font-size: fz(body);
        font-weight: $font-weight-medium;
        margin-bottom: 0.625rem;
    }

    .login-option-menu {
        font-weight: $font-weight-medium;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: 1.0625rem;
        margin-bottom: 1.75rem;

        a {
            font-size: fz(body);
            color: $text-muted;
            text-decoration: underline;
        }

        .remember-me {
            label {
                font-size: fz(body);
                font-weight: $font-weight-medium;
                padding-left: 1.875rem;
            }
        }

        .forgot-password {
            text-align: right;
        }
    }

    .login-btn {
        font-weight: $font-weight-extra-bold;
    }

    .create-account-wrapper {
        .modal-register-btn {
            border: 0.0625rem solid $primary;
            color: $primary;
            font-weight: $font-weight-extra-bold;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .modal-dialog {
        max-width: 45.625rem;

        @include media-breakpoint-down(lg) {
            max-width: 43.1875rem;
        }

        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }

        .modal-header {
            padding-top: 1.25rem;

            .modal-title {
                font-size: fz(h2);
                font-weight: $font-weight-medium;
                text-transform: uppercase;

                @include media-breakpoint-down(sm) {
                    font-size: fz(h3);
                }

                &::after {
                    display: none;
                }
            }
        }

        .modal-body {
            max-width: 21.875rem;
            padding: 2.4375rem 0 2.125rem;
            margin: 0 auto;

            @include media-breakpoint-down(sm) {
                padding: 2.125rem 1.875rem;
            }

            .request-password-msg {
                padding-top: 2.125rem;
                padding-bottom: 4.3125rem;
            }
        }
    }
}

// Register
.register-title {
    font-family: ff(base);
    font-size: fz(h1);
    font-weight: $font-weight-medium;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2.5rem;

    @include media-breakpoint-down(lg) {
        font-size: fz(h2);
        padding: 1.25rem 0;
        margin-bottom: 0;
    }
}

.registration {
    .form-control-label {
        color: $secondary;
        font-size: fz(body);
        font-weight: $font-weight-medium;
        padding-left: 0;
        margin-bottom: 0.625rem;

        &::before {
            border-color: $secondary;
        }
    }

    .form-group {
        margin-bottom: 1.25rem;
    }

    .mandatory-fields-label {
        position: absolute;
        top: 0;
        right: 0.9375rem;
        color: $text-muted;
        font-size: fz(body);
        font-weight: $font-weight-medium;
        font-style: italic;
        text-transform: lowercase;
    }

    .register-content {
        font-size: fz(h4);

        @include media-breakpoint-down(sm) {
            font-size: fz(body);
            text-align: center;
        }

        .register-content-title {
            font-weight: $font-weight-medium;
            line-height: $font-lh--4;
            margin-bottom: 1rem;

            @include media-breakpoint-up(lg) {
                font-size: fz(h3);
            }
        }

        .register-content-image {
            background-size: cover;
            background-position: center;
            height: 3.9375rem;

            @include media-breakpoint-down(sm) {
                display: none;
            }

            @include media-breakpoint-down(xl) {
                height: 5.875rem;
            }
        }

        .register-content-desc {
            @include media-breakpoint-down(sm) {
                max-width: 70%;
                margin: 0 auto;
            }
        }
    }

    .register-separator {
        margin: 1.5625rem 0;
        border-top: 0.0625rem solid $grey2;
    }

    .register-terms-conditions {
        @include media-breakpoint-only(lg) {
            margin-left: 3.125rem;
        }

        @include media-breakpoint-only(md) {
            margin-left: 0.625rem;
        }

        p {
            font-size: fz(body);
            font-weight: normal;
            margin-bottom: 0;
        }
    }

    .register-communication-method {
        margin-bottom: 1.5625rem;

        > .row {
            display: flex;
            justify-content: space-between;
            padding: 0 0.9375rem;
        }

        .checkbox-communication-method {
            float: left;
            width: calc(100% / 3);

            @include media-breakpoint-down(lg) {
                width: calc(100% / 4);
                margin-right: 0.46875rem;
            }

            @include media-breakpoint-down(sm) {
                margin: 0;
            }
        }

        @include media-breakpoint-down(lg) {
            padding-bottom: 1.25rem;
            margin-bottom: 1.25rem;
            border-bottom: 0.0625rem solid $grey2;
        }
    }

    .subscribe-newsletters {
        .subscribe-confirmation-label {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            color: $secondary;
            margin-bottom: 0.5rem;
        }

        .subscribe-newsletters-text {
            font-size: fz(body-xs);
            font-weight: $font-weight-normal;
            line-height: $font-lh--4;
        }
    }

    .password-feedback {
        .text-success,
        .text-danger {
            font-size: fz(body);
            font-weight: $font-weight-medium;
        }
    }
}
