.modal {
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &.show {
        display: flex !important;

        .modal-dialog {
            display: block;
        }
    }

    .modal-dialog {
        width: 100%;
        display: none;
        margin: 0;
    }
}

.modal-header {
    padding-bottom: 0;
    z-index: 1;

    .close {
        display: inline-block;
        transform: rotate(90deg);
        position: absolute;
        margin: 0;
        padding: 0;
        top: 1rem;
        right: 1rem;
        width: 1.125rem;
        height: 1.125rem;
        opacity: 1;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 0.3125rem;
            top: 50%;
            left: 50%;
            margin: -0.0625rem 0 0 -0.78125rem;
            width: 1.5625rem;
            height: 0.125rem;
            background-color: $secondary;
        }

        &::before {
            transform: rotate(-45deg) translate(0) translateZ(0);
        }

        &::after {
            transform: rotate(45deg) translate(0) translateZ(0);
        }

        > span {
            display: none;
        }
    }
}

.modal-title {
    font-size: fz(p20);
    font-weight: $font-weight-base;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0.5rem;
    text-align: center;
    width: 100%;

    &::after {
        content: '';
        display: block;
        border-bottom: 0.125rem solid $secondary;
        margin: 0 auto;
        padding-top: 0.5rem;
        margin-top: 0.375rem;
        width: 1.625rem;
    }
}

.mobile-modal {
    display: none;

    @include media-breakpoint-down(lg) {
        background-color: $white;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1040;
    }

    &.open {
        display: block;
    }
}

.mobile-modal-header {
    padding: 1.25rem 4.6875rem;
    position: relative;
    text-align: center;

    .btn-close {
        position: absolute;
        right: 0.625rem;
        top: 1.1875rem;

        @include media-breakpoint-up(md) {
            right: 2.1875rem;
            top: 1.4375rem;
        }

        .sc-icon-cross {
            position: relative;
            top: -0.2125rem;

            &::before,
            &::after {
                width: 1.325rem;
            }
        }
    }

    .btn-back {
        align-items: center;
        display: flex;
        font-size: fz(body-xs);
        font-weight: $font-weight-medium;
        justify-content: center;
        left: 0.25rem;
        padding-left: 0;
        position: absolute;
        top: 0.875rem;

        @include media-breakpoint-up(md) {
            font-size: fz(body);
            left: 1.75rem;
            top: 1rem;
        }

        .sc-icon-arrow-back {
            @include rtl-flip;

            margin-right: -5px;

            &::before {
                font-size: 1.6875rem;
            }
        }
    }
}

.mobile-modal-title {
    font-size: fz(h2);
    font-family: ff(base);
    font-weight: $font-weight-medium;
    margin-bottom: 0;
    align-self: center;
    text-transform: none;
    text-align: center;
    width: 100%;
    min-height: 31px;

    @include media-breakpoint-up(md) {
        font-size: fz(h1);
    }
}

.mobile-modal-body {
    padding: 0 0.9375rem;
    position: relative;
    overflow: auto;
    max-height: calc(100% - 10.5rem);

    @include media-breakpoint-up(md) {
        padding: 0 2.4375rem;
        min-height: 29.875rem;
        max-height: calc(100% - 12rem);
    }

    @include media-breakpoint-up(xl) {
        padding: 0;
        min-height: 0;
        max-height: 100%;
        overflow: hidden;
    }
}

.mobile-modal-footer {
    background: $white;
    padding: 0 0.9375rem 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    @include media-breakpoint-up(md) {
        padding: 0 2.4375rem 3.5rem;
    }

    @include media-breakpoint-up(xl) {
        position: static;
        padding: 0;
    }

    > .btn {
        font-size: fz(body);
        font-weight: $font-weight-bold;
        padding: 0.625rem 0.5rem;
        margin: 0.9375rem auto 0;
        display: block;
        width: 100%;

        @include media-breakpoint-up(md) {
            max-width: 28.0625rem;
        }

        @include media-breakpoint-up(xl) {
            width: 100%;
        }
    }
}

.mobile-safari .refinement-bar.open {
    @media (orientation: $landscape) {
        .mobile-modal-body {
            max-height: initial;
        }

        .mobile-modal-footer {
            position: relative;
        }
    }
}

.modal-notification {
    .modal-body {
        text-align: center;
        font-size: fz(p16);
        font-weight: $font-weight-medium;
        line-height: 1.4;
        padding: 2.4375rem 5.2375rem;
    }

    .modal-footer {
        padding: 0 5.2375rem 2.4375rem;
        justify-content: center;
    }
}

.back-in-stock-container {
    &:not(.d-none) + .cart-and-ipay {
        display: none;
    }

    .close {
        width: 0.875rem;
        height: 0.875rem;
    }

    .form-group {
        margin-bottom: 0;
    }

    .modal-title {
        font-family: ff(base);
        font-size: fz(body);
        font-weight: $font-weight-medium;
        justify-content: center;
        text-transform: uppercase;
        line-height: 1.25;
        margin: 0;
        margin-bottom: 0.9rem;

        &::after {
            display: none;
        }
    }

    .modal-content {
        width: 21.5rem;
        margin: 0 auto;
    }

    .modal-description {
        font-family: ff(base);
        font-size: fz(body);
        color: $secondary;
        font-weight: $font-weight-normal;
        text-align: center;
        text-transform: none;
        line-height: 1.25;
        margin-bottom: 2rem;
    }

    .modal-header {
        flex-direction: column;
        margin-top: 2.75rem;
        padding: 0 0.9375rem;
    }

    .modal-body {
        padding: 0 0.9375rem;
        margin-bottom: 1.5625rem;
        text-align: left;
    }

    .modal-footer {
        padding-top: 0;
        justify-content: center;

        .btn.back-in-stock-submit {
            min-width: 9.8125rem;
            width: auto;
            line-height: 1.25rem;
            font-size: fz(body);

            @include media-breakpoint-up(md) {
                min-width: 13.125rem;
            }

            @include media-breakpoint-up(md) {
                min-width: 9.8125rem;
            }
        }
    }

    .alert {
        margin-bottom: 2rem;
        text-align: center;
        text-transform: none;
    }

    .form-control-label {
        text-transform: none;
    }
}
