.breadcrumb-container {
    background-color: $breadcrumb-bg;
    display: none;

    @include media-breakpoint-up($breadcrumb-min-visible-breakpoint) {
        display: block;
    }
}

.breadcrumb {
    color: $breadcrumb-text-color;
    border-radius: 0;
    border-bottom: 0;
    font-size: $breadcrumb-font-size;
    font-weight: $breadcrumb-font-weight;
    margin: 0 auto;
    text-transform: $breadcrumb-text-transform;

    a {
        color: $breadcrumb-text-color;
    }
}

.breadcrumb-item + .breadcrumb-item {
    display: flex;
    padding-left: $breadcrumb-item-padding;
    padding-right: 0;

    &::before {
        font-size: $breadcrumb-divider-font-size;
        line-height: $breadcrumb-divider-line-height;
        padding-right: $breadcrumb-item-padding;
        padding-left: 0;
    }
}
