.address-map {
    position: relative;

    .map-holder {
        margin-bottom: 1.25rem;
        height: 16.875rem;
        width: 100%;

        > div > div > iframe {
            // Hide Goggle link and Terms of Use link
            ~ .gmnoscreen,
            ~ .gmnoprint.gm-style-cc,
            ~ .gmnoprint > .gm-style-cc,
            + div > a[rel=noopener] {
                display: none !important;
            }
        }

        .gm-style-iw-a > .gm-style-iw-t {
            // Hide Address Details Tooltip
            &::after,
            > .gm-style-iw.gm-style-iw-c {
                display: none !important;
            }
        }

        // Zoom controls
        .gm-bundled-control.gm-bundled-control-on-bottom {
            @include media-breakpoint-down(lg) {
                display: none !important;
            }
        }
    }
}

.dashboard-content,
.checkout-main {
    .use-my-location {
        float: right;
        position: relative;
        z-index: 1;
        cursor: pointer;
        font-size: $font-size-base;
        margin-top: -0.125rem;
    }

    .use-my-location-icon {
        vertical-align: middle;

        &::before {
            font-size: $font-size-10;
        }
    }

    .use-my-location-link {
        text-decoration: underline;
        display: inline-block;
        vertical-align: middle;
        line-height: $line-height-base;
    }
}
