@import '../variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "../api/all";

.order-history-sort {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    border-bottom: 0.0625rem solid $grey2;

    .custom-select.bootstrap-select {
        .dropdown-toggle {
            border-color: $grey2;
            font-weight: $font-weight-medium;
        }
    }
}

span.order-history-select {
    font-weight: $font-weight-medium;
    padding-right: 0.625rem;
    text-transform: uppercase;
}

.bootstrap-select.order-history-select {
    min-width: 10rem;
}

.order-list-item {
    padding: 1.25rem 0;
    border-bottom: 0.0625rem solid $grey2;
}
