@import '../variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "../api/all";

.preferences-description-row {
    p {
        font-size: fz(body);
    }

    .btn-preferences-save {
        width: 15.9375rem;
        margin: 0.3125rem 0;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }
}

.preferences-checkboxes {
    display: flex;
    margin-top: 0.625rem;
    margin-bottom: 1.5625rem;

    .custom-checkbox {
        @include media-breakpoint-up(lg) {
            padding-right: 8.125rem;
        }

        &:first-child {
            padding-left: 0;
        }
    }
}
