.global-accordion {
    margin-bottom: 1.875rem;

    .card {
        color: $primary;
        border-radius: 0;
        border: none;
        margin: 0;

        &:last-child {
            border-bottom: 0.0625rem solid $grey2;
        }

        /* rtl:raw:
            text-align: right;
        */
    }

    .card-header {
        padding: 0;
        border-radius: 0;
        border-bottom: none;
        border-top: 0.0625rem solid $grey2;

        .sc-icon-plus {
            position: absolute;
            right: 0.9375rem;
            margin-top: 0.375rem;
            top: 50%;
            transform: translateX(-50%) rotate(45deg);

            /* rtl:raw:
                right: auto;
                left: 0.9375rem;
            */

            &::before,
            &::after {
                width: 0.5625rem;
                height: 0.0625rem;
                background-color: $primary;
            }

            &::after {
                opacity: 0;
            }
        }
    }

    .collapse,
    .collapsing {
        color: $secondary;
        font-size: $font-size--2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        line-height: $line-height-1;
        font-family: ff(tertiary);
        font-weight: $font-weight-normal;
    }

    .btn-link {
        position: relative;
        color: $primary;
        display: block;
        width: 100%;
        text-align: left;
        padding: 0;
        height: 3.125rem;
        font-size: $font-size--2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        font-family: ff(tertiary);
        font-weight: $font-weight-normal;

        &.collapsed {
            color: $primary;

            .sc-icon-plus {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .card-body {
        color: $secondary;
        padding: 0 0 1.25rem;
        font-family: ff(tertiary);
    }
}

.info-accordion {
    .btn-link {
        height: 4.6875rem;
        text-transform: none;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }

    .collapse,
    .card-body {
        color: $primary;
    }
}

.order-summary-accordion {
    margin-bottom: 0;

    .btn-link {
        height: 3.125rem;
        font-family: $font-family-tertiary;
        font-size: $font-size--1;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        text-decoration: none;

        &.collapsed {
            background: $brand-light;

            .icon {
                transform: rotate(0);
            }

            .sub-total {
                display: inline-block;
            }
        }

        .icon {
            float: right;
            font-size: $font-size--8;
            margin: 0.3125rem 0.625rem -0.3125rem;
            transform: rotate(180deg);
        }

        .sub-total {
            display: none;
            float: right;
        }
    }

    .card-header {
        border: none;
    }

    .card:last-child {
        border: none;
    }

    .collapse,
    .collapsing {
        padding: 0.9375rem 1.25rem 0;

        @include media-breakpoint-up(md) {
            padding: 0.9375rem 1.875rem 0;
        }

        &.show {
            border-bottom: 0.0625rem solid $iron;
        }
    }
}

.mini-accordion {
    .btn-link {
        height: 3.25rem;
        width: auto;
        padding-right: 2.5rem;
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }

    .card-header {
        border: none;

        .sc-icon-plus {
            margin-top: 0.375rem;
        }
    }

    .collapse,
    .collapsing,
    .card-body {
        color: $primary-hover;
        font-size: $font-size--5;
        letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
        line-height: $line-height-3;
    }

    .card {
        &:last-child {
            border-bottom: none;
        }
    }
}

.accordion-secondary {
    color: $secondary;

    .card:last-child {
        border-bottom: 0;
    }

    .btn-link {
        background: $brand-light;
        padding: 0.9375rem;
        text-transform: none;
        text-decoration: none;
        font-size: $font-size--1;
        font-family: $font-family-tertiary-bold;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        display: flex;
        height: 5rem;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
            height: auto;
            display: inline-block;
            background: transparent;
        }

        &,
        &.collapsed {
            color: $secondary;
        }

        &.collapsed {
            .sc-icon-arrow-next {
                transform: rotate(90deg);
            }
        }

        .sc-icon-arrow-next {
            transform: rotate(180deg);

            &::before,
            &::after {
                width: 0.5rem;
            }
        }
    }

    .card-header {
        @include media-breakpoint-up(lg) {
            border: none;
        }
    }

    .card-body {
        background: $brand-light;
        padding: 0 0.9375rem 1.25rem;

        @include media-breakpoint-up(lg) {
            background: transparent;
        }
    }
}
