@font-face {
    font-family: 'GeezaPro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GeezaProRegular.eot');
    src:
        url('../fonts/GeezaProRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GeezaProRegular.ttf') format('truetype'),
        url('../fonts/GeezaProRegular.woff') format('woff'),
        url('../fonts/GeezaProRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'GESSTwoBold-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GESSTwoBold.eot');
    src:
        url('../fonts/GESSTwoBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GESSTwoBold.ttf') format('truetype'),
        url('../fonts/GESSTwoBold.woff') format('woff'),
        url('../fonts/GESSTwoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'GESSTwoLight-Light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GESSTwoLight.eot');
    src:
        url('../fonts/GESSTwoLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GESSTwoLight.ttf') format('truetype'),
        url('../fonts/GESSTwoLight.woff') format('woff'),
        url('../fonts/GESSTwoLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NHaasGroteskTXPro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/NHaasGroteskTXPro-55Rg.eot');
    src:
        url('../fonts/NHaasGroteskTXPro-55Rg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskTXPro-55Rg.ttf') format('truetype'),
        url('../fonts/NHaasGroteskTXPro-55Rg.woff') format('woff'),
        url('../fonts/NHaasGroteskTXPro-55Rg.woff2') format('woff2');
}

@font-face {
    font-family: 'NHaasGroteskTXPro-Md';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/NHaasGroteskTXPro-65Md.eot');
    src:
        url('../fonts/NHaasGroteskTXPro-65Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskTXPro-65Md.ttf') format('truetype'),
        url('../fonts/NHaasGroteskTXPro-65Md.woff') format('woff'),
        url('../fonts/NHaasGroteskTXPro-65Md.woff2') format('woff2');
}

@font-face {
    font-family: 'FuturaLTPro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/FuturaLTPro-Heavy.eot');
    src:
        url('../fonts/FuturaLTPro-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaLTPro-Heavy.ttf') format('truetype'),
        url('../fonts/FuturaLTPro-Heavy.woff') format('woff'),
        url('../fonts/FuturaLTPro-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: 'Caslon540LTStd';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Caslon540LTStd-Roman.eot');
    src:
        url('../fonts/Caslon540LTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Caslon540LTStd-Roman.ttf') format('truetype'),
        url('../fonts/Caslon540LTStd-Roman.woff') format('woff'),
        url('../fonts/Caslon540LTStd-Roman.woff2') format('woff2');
}

@font-face {
    font-family: 'Caslon540LTStd';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/Caslon540LTStd-Italic.eot');
    src:
        url('../fonts/Caslon540LTStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Caslon540LTStd-Italic.ttf') format('truetype'),
        url('../fonts/Caslon540LTStd-Italic.woff') format('woff'),
        url('../fonts/Caslon540LTStd-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'SweetSans-Md';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/SweetSansPro-Medium.eot');
    src:
        url('../fonts/SweetSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SweetSansPro-Medium.ttf') format('truetype'),
        url('../fonts/SweetSansPro-Medium.woff') format('woff'),
        url('../fonts/SweetSansPro-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SweetSans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/SweetSansPro-Light.eot');
    src:
        url('../fonts/SweetSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SweetSansPro-Light.ttf') format('truetype'),
        url('../fonts/SweetSansPro-Light.woff') format('woff'),
        url('../fonts/SweetSansPro-Light.woff2') format('woff2');
}
