.site-search {
    position: relative;
    padding-bottom: 0.275rem;

    /* rtl:raw:
        display: flex;
        float: right;
    */

    @include media-breakpoint-only(xs) {
        padding-left: 0.875rem;
    }

    @include media-breakpoint-only(sm) {
        width: 12.5em;
    }

    @include media-breakpoint-up(sm) {
        margin-right: 0.5em;
    }

    @include media-breakpoint-down(md) {
        width: 8.15rem;
    }

    &::before {
        bottom: 0.1875rem;
        width: 0;
    }

    &.search-focus {
        @include media-breakpoint-up(xl) {
            width: 14rem;
        }

        &::before {
            width: 100%;
        }

        .search-field {
            padding-left: 0.5rem;

            @include media-breakpoint-up(xl) {
                width: 90%;
            }
        }
    }

    &.search-found {
        &::before,
        &::after {
            display: none;
        }
    }

    .form-group {
        display: flex;
        margin-bottom: 0;
    }

    .btn-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;

        .icon-cross {
            position: relative;
            width: 1rem;

            @include media-breakpoint-up(xl) {
                top: 0.25rem;
            }

            &::before,
            &::after {
                width: 1rem;
            }
        }

        > i::before {
            font-size: $font-size-2;
        }
    }

    .btn-toggle-search {
        display: none;
    }

    .search-field {
        border: 0;
        border-radius: 0;
        color: $secondary;
        font-size: $font-size--1;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        height: 100%;
        padding: 0.5rem 0.2rem 0.5rem 0;
        transition: $animation-duration;

        @include media-breakpoint-up(xl) {
            width: 85%;
        }
    }
}

/* rtl:raw:
    .site-search > form {
        flex: 1 0 0;
    }
*/

.search-mobile {
    display: none;
    margin-bottom: -0.0625rem;

    .site-search {
        border-top: 0.0625rem solid $grey3;
        border-bottom: 0.125rem solid $secondary;
        width: 100%;
        margin: 0;
        padding: 0;

        &::before,
        &::after {
            display: none;
        }

        .form-group {
            align-items: center;
        }

        .search-field {
            font-size: $font-size-2;
            padding: 0.9375rem 1.5rem 0.5625rem;

            @include media-breakpoint-up(md) {
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }

            @include media-breakpoint-up(xl) {
                padding-left: 0.625rem;
                padding-right: 0.625rem;
            }
        }

        .btn-do-search,
        .btn-toggle-search {
            display: none;
        }

        .btn-clear-search {
            position: relative;
            padding: 0.5rem 0 0 0.5rem;
            margin-right: 1.35rem;
            margin-left: 1rem;
            width: $font-size-2;
            height: $font-size-2;

            @include media-breakpoint-up(md) {
                margin-right: 2.5rem;
                margin-left: 1rem;
            }

            @include media-breakpoint-up(xl) {
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }

            .icon-cross {
                &::before,
                &::after {
                    width: $font-size-2;
                    margin-top: 0.225rem #{"/*rtl:-0.35rem*/"};
                }
            }
        }
    }
}

.suggestions {
    display: flex;
    flex-direction: column;
    background-color: $white;
    left: 0;
    width: 100%;
    z-index: 3;
    height: auto;
    overflow: auto;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;

    @include media-breakpoint-up(xl) {
        max-height: 18.75rem !important;
        display: block;
        top: 0 !important;
        left: -1.25rem;
        margin-top: 1.25rem;
        margin-bottom: -0.3125rem;
    }

    .suggestion-item,
    .suggestion-phrase > a,
    .suggestion-view-all > a {
        border: 0.0625rem dotted transparent;

        &.selected {
            border: 0.0625rem dotted $secondary;
        }
    }

    .do-you-mean {
        font-size: $font-size--1;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        display: none;
        flex-direction: column;
        padding: 0.7rem 1.5rem;
        border-bottom: 0.0625rem solid $grey3;
        text-transform: uppercase;

        @include media-breakpoint-up(sm) {
            padding: 0.7rem 2.5rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 0.7rem 0.5rem;
        }
    }

    .suggestion-phrase {
        &:not(:first-child)::before {
            content: ',';
        }
    }

    .suggestion-item {
        display: flex;
        align-items: center;
        padding: 0;
        border: none;

        &:hover {
            text-decoration: none;
        }
    }

    .suggestion-item-name {
        color: $tory-navy;
        font-family: ff(secondary);
        font-size: $font-size--4;
        font-weight: $font-weight-normal;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        line-height: 2.6875rem;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include media-breakpoint-up(xl) {
            line-height: 2.375rem;
        }
    }

    .suggestion-item-image {
        display: none;
    }

    .suggestion-view-all {
        display: none;
        justify-content: flex-end;
        padding: 0.7rem 1.5rem;

        > a {
            text-decoration: underline;
            font-weight: $font-weight-bold;
            font-size: $font-size--1;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            text-transform: none;
        }

        @include media-breakpoint-up(sm) {
            padding: 0.7rem 2.5rem;

            a {
                font-size: $font-size-1;
            }
        }

        @include media-breakpoint-up(xl) {
            padding: 0.5rem;

            a {
                font-size: $font-size--3;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .sticked {
        .site-search:not(.search-active):not(.search-focus):not(.open) {
            &::after,
            &::before,
            .search-field {
                width: 0;
            }

            .btn-toggle-search {
                display: flex;
            }

            .site-search {
                width: 1rem;
            }

            .btn-do-search,
            .btn-clear-search {
                height: auto;
                border: 0;
            }
        }
    }
}
