// Header
$header-text-transform: uppercase !default;
$header-font-weight: 600 !default;
$header-logo-text-color: #0c2340 !default;
$header-logo-size: 2.25rem;
$header-logo-size-mobile: 1.875rem;
$header-nav-item-text-color: #1a1a1a !default;

// Header Banner
$header-banner-font-size: 0.91rem;
$header-banner-symbol: quote("›") !default;

// Header Banner Bottom
$header-banner-bottom-background: #abccff;
$header-banner-bottom-line-height: normal;
$header-banner-title-font-size: 1.6875rem;
$header-banner-description-font-size: 0.9375rem;
$header-banner-line-width: 0.1875rem;
$header-banner-btn-width: 8.3125rem;
$header-banner-btn-height: 2.25rem;
$header-banner-btn-link: #cee1ff;
$header-banner-btn-font-size: 0.6875rem;

// Minicart
$minicart-item-name-line-height: 1.6;
$minicart-quantity-line-height: 1.2;

// Small icon
$small-icon-line-height: 2rem;

.mobile-navbar-open {
    @include media-breakpoint-down(lg) {
        overflow: hidden;
        position: fixed;
        width: 100%;
    }
}

.header {
    background-color: $white;
    border-bottom: 0.0625rem solid transparent;
    font-weight: $font-weight-semi-bold;
    z-index: map-get($zindex, zindex-3) !important; // js code

    &.navbar-visible {
        @include media-breakpoint-down(lg) {
            .navbar-toggle-search-btn,
            .navbar-toggler .icon-hamburger-menu {
                opacity: 0;
            }

            .navbar-toggler .icon-cross {
                opacity: 1;
            }
        }
    }

    .site-search-wrapper {
        &.search-visible {
            opacity: 1;
            max-height: inherit;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background: $white;

            @include media-breakpoint-up(lg) {
                position: relative;
                height: auto;
            }
        }

        .site-search {
            border-top: none;
            border-bottom: none;
            width: 100%;
            background: $white;
            margin: 0;
            padding: 0;
            transition: opacity 0.3s ease-out 0.15s, max-height 0.3s ease-out;
        }

        .site-search-form {
            position: relative;
            padding: 0.9375rem 1.875rem 1.875rem;

            @include media-breakpoint-up(lg) {
                max-width: 36.375rem;
                margin: -0.3125rem auto 0;
                padding: 0 0 1.875rem;
            }

            .search-field {
                color: $primary;
                font-size: $font-size--4;
                text-transform: uppercase;
                border-bottom: 0.0625rem solid $grey3;
                padding-left: 0;
                padding-right: 2.5rem;
                transition: none;
                width: 100%;

                /* rtl:raw:
                    font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
                */

                @include media-breakpoint-up(lg) {
                    font-size: $font-size-2;
                }

                &::placeholder {
                    text-transform: uppercase;
                    color: $grey3;
                    opacity: 1;
                }
            }

            .btn-clear-search {
                display: block;
                margin-left: 0;
                width: 1.25rem;
                height: 1.25rem;
                position: absolute;
                padding: 0;
                right: -0.4375rem;
                margin-right: 0;
                top: 0.625rem;

                /* rtl:raw:
                    left: 0;
                    right: auto;
                */
            }
        }

        .sc-icon-cross {
            &::before,
            &::after {
                width: 1rem;
                background-color: $primary;
            }
        }
    }
}

.checkout-header {
    border-bottom: 0.0625rem solid $athens-gray;
    margin-bottom: 2.5rem;
    padding: 0.3125rem 0 0.625rem;
}

.header-top-border {
    border-top: 0.3125rem solid $primary;
    width: 100%;

    @include media-breakpoint-up(xl) {
        border-top-width: 0.4375rem;
    }
}

.header-top {
    position: relative;
    margin: 0 auto;
    text-transform: $header-text-transform;
    padding: 0 0.35rem 0.4375rem;

    @include media-breakpoint-up(lg) {
        padding-bottom: 0;
    }

    .navbar-toggler,
    .navbar-toggle-search-btn,
    .navbar-header-contact-us,
    .minicart {
        @include ipad() {
            display: block !important;
        }
    }
}

.navbar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;

    @include media-breakpoint-up(lg) {
        padding-top: 1.125rem;
    }

    .user,
    .minicart,
    .wishlist {
        display: inline-block;
        position: relative;
        max-width: 5.5rem;
        margin-top: 0.75rem;
        margin-right: 0;
        padding: 0;
        width: 46.5%;
        text-align: center;

        @include media-breakpoint-up(xl) {
            padding: 0 1rem;
            margin-top: 0.4rem;
            text-align: left;
            width: auto;
        }
    }

    .user,
    .minicart,
    .wishlist,
    .navbar-toggler {
        @include media-breakpoint-up(xl) {
            line-height: $small-icon-line-height;
            height: auto;
        }
    }

    .minicart {
        margin-right: -0.1875rem;

        @include media-breakpoint-down(lg) {
            margin-right: 0;
        }

        .sticked & {
            @include media-breakpoint-down(lg) {
                margin-top: 0.25rem;
                margin-bottom: -0.25rem;
            }
        }
    }

    .navbar-toggler,
    .navbar-toggle-search-btn {
        padding: 0;
        width: auto;
        max-width: 5.5rem;
        margin-right: 1rem;

        @include media-breakpoint-up(lg) {
            width: 100%;
            text-transform: none;
            vertical-align: middle;
            padding: 0;
            height: auto;
            text-decoration: none;
            margin-top: 0.625rem;
            margin-right: 0;
            font-size: $font-size--5;
            letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
            font-weight: $font-weight-normal;

            .sticked & {
                margin-top: 0;
                margin-right: -0.0625rem;
                font-size: 0;
            }

            .icon-search {
                margin: 0 0 -0.3125rem;
            }
        }
    }

    .navbar-toggle-search-btn {
        @include media-breakpoint-down(lg) {
            width: auto;
            padding: 0 0.1875rem;
        }

        .icon-search {
            width: 1.375rem;
            height: 1.25rem;

            @include media-breakpoint-up(lg) {
                width: 1.25rem;
                height: 1.25rem;
            }
        }
    }

    .navbar-toggler {
        font-size: $font-size-16;
        font-weight: $font-weight-semi-bold;
        position: relative;
        top: -0.1rem;
        left: 0;

        .icon-cross {
            opacity: 0;

            &::before,
            &::after {
                margin: 1.25rem 0 0 -1.5rem;
                height: 0.1625rem;
            }
        }

        .icon-hamburger-menu {
            position: relative;
            height: 1rem;
            width: 0.875rem;
            top: 0.125rem;
        }
    }

    .navbar-toggle-search-btn,
    .navbar-toggler > span,
    .minicart {
        transition: opacity $animation-duration;
    }

    .user {
        .popover {
            position: absolute;
            display: none;
            padding: 1em;
            top: 85%;
            left: 0;

            &::before {
                left: 1.5rem;
            }

            &::after {
                left: 1.5rem;
            }

            &.show {
                display: block;
            }
        }
    }

    .icon-bag {
        position: relative;
        top: -0.125rem;

        /* rtl:raw:
            top: -0.0625rem;
        */
    }
}

.header-top-left,
.header-top-right {
    display: flex;
    align-items: top;
    flex: 0.3 0 0;
}

.header-top-left {
    justify-content: flex-start;
    margin-top: 0.6875rem;

    @include media-breakpoint-up(lg) {
        margin-top: 0;
    }

    .dropdown {
        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
    }

    .country-selector {
        .rounded-flag-icon {
            mask-image: radial-gradient($white, $black);
            line-height: 0;
            border-radius: 100%;
            display: inline-block;
            overflow: hidden;
            margin-right: 0.7rem;
            height: 1rem;
            width: 1rem;
        }

        .flag-icon {
            font-size: $font-size-2;
            margin-left: -0.15rem;
        }

        .country-code {
            font-size: $font-size--3;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            font-weight: $font-weight-medium;
            position: relative;
            top: 0.0625rem;
        }

        > .btn {
            display: flex;
            border-radius: 0;
            position: relative;
            align-items: center;
            text-transform: none;
            padding: 0.375rem 1.25rem;
            font-size: $font-size--5;
            letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
            font-weight: $font-weight-normal;

            &::after {
                margin-left: 0.5rem;
            }
        }

        .dropdown-item {
            display: flex;
            align-content: center;
            padding: 0.5rem 1.15rem 0.5rem 1.275rem;

            .country-code {
                top: 0.125rem;
            }
        }

        .dropdown-menu {
            border-color: $dove-gray;
            border-radius: 0;
            margin: 0;
            padding: 0;
            min-width: 6.6375rem #{"/*rtl:7.2rem*/"};

            /* rtl:ignore */
            left: -0.0625rem #{"/*rtl:-0.1rem*/"};
        }
    }

    .search {
        margin-left: 1.2rem;
        max-width: 8.6rem;
    }
}

.header-top-right {
    justify-content: flex-end;
    margin-top: 0.3125rem;
    margin-bottom: -0.125rem;

    .search {
        margin-top: -0.125rem;
    }

    .sticked & {
        margin-top: 0.5625rem;

        .search {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        .sticked & {
            margin-top: 0.5625rem;
            z-index: map-get($zindex, zindex-base);

            .search {
                margin-top: 0;
                margin-right: 1.25rem;
                font-size: 0;
            }
        }
    }
}

.header-top-center {
    text-align: center;
    flex: 0.4 0 0;
    margin: 0.75rem auto 0;

    @include media-breakpoint-up(lg) {
        transform: translateY(-0.1875rem);
    }

    .header-logo-image {
        width: $header-logo-size-mobile;
        height: $header-logo-size-mobile;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../images/icons/logo-small.svg');

        @supports (-ms-ime-align:auto) {
            width: 2rem;
            height: 2rem;
        }

        @include media-breakpoint-up(xl) {
            width: $header-logo-size;
            height: $header-logo-size;

            .homepage & {
                background-image: url('../images/logo.svg');
                margin-top: -0.0625rem;
                margin-left: 0;
                width: 11.75rem;
            }
        }
    }
}

.slide-up {
    max-height: 6.25rem;
    overflow: hidden;

    &.hide {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
}

.sticked {
    &.header {
        border-bottom-color: $athens-gray;

        .site-search:not(.search-active):not(.search-focus):not(.open)::after,
        .site-search:not(.search-active):not(.search-focus):not(.open)::before,
        .site-search:not(.search-active):not(.search-focus):not(.open) .search-field {
            width: 100%;
        }
    }

    .navbar-header {
        padding-top: 0;
        margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
        .header-top-center {
            &:not(:first-child) {
                margin: 1.5rem 0 0.8125rem -0.375rem;
                flex: 0.1 0 0;
                z-index: map-get($zindex, zindex-base);
                text-align: left;
            }

            .header-logo-image {
                background-image: url('../images/icons/logo-small.svg');
                width: 1.625rem;
                margin: 0.0625rem 0 -0.0625rem 0.375rem;

                @supports (-ms-ime-align:auto) {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }

        .header-top-left {
            display: none;
        }

        .header-top-right {
            .user,
            .wishlist {
                display: none;
            }
        }

        .header-top-banner {
            font-size: 0;
            padding: 0;
        }

        .header-top-banner-text {
            transition: none;
        }

        .header-top-banner-link {
            transition: none;
        }
    }
}

.header-logo {
    font-weight: $font-weight-semi-bold;

    .header-logo-link {
        color: $header-logo-text-color;
        font-size: $font-size-8;
        display: flex;
        justify-content: center;

        &:hover {
            color: $header-logo-text-color;
        }

        .sticked & {
            justify-content: center;

            @include media-breakpoint-up(lg) {
                justify-content: flex-start;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        height: $header-logo-size;
    }
}

.header-top-banner {
    padding: 0.5625rem 0.5rem;
    text-align: center;
    text-transform: $header-text-transform;
    background-color: $grey21;
    color: $grey22;
    font-size: $font-size--6;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    font-weight: $font-weight-normal;
    font-family: ff(secondary);
    transition: 0.3s;

    .sticked & {
        font-size: 0;
        padding: 0;
    }

    .header-top-banner-text {
        margin-right: 0.3rem;

        .sticked & {
            transition: none;
            opacity: 0;
        }
    }

    .header-top-banner-link {
        color: $grey22;
        transition: font-size 0s;

        .sticked & {
            opacity: 0;
        }

        &:hover {
            color: $grey22;
        }

        &::after {
            content: $header-banner-symbol;
            font-size: $header-banner-font-size;
            margin-left: 0.2rem;
            position: relative;
            top: 0.0625rem;

            .sticked & {
                font-size: 0;
                opacity: 0;
            }

            /* rtl:raw:
                margin-left: auto;
                margin-right: 0.2rem;
            */
        }
    }
}

.header-banner {
    text-align: center;
    display: none;

    @include media-breakpoint-up(xl) {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }

    .container {
        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .header-banner-wrapper {
        position: relative;
        background-color: $header-banner-bottom-background;
        color: $white;
        padding: 0.6875rem 0 0.0625rem;
        font-size: $header-banner-title-font-size;
        line-height: $header-banner-bottom-line-height;
        font-family: ff(secondary);
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};

        .homepage & {
            margin-bottom: 0.3125rem;
        }

        .btn-all-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .homepage & {
        display: block;
    }

    .header-banner-discount {
        margin: -0.25rem 0 0;
        font-size: $font-size--4;
        text-transform: uppercase;
        letter-spacing: $font-ls-6 #{"/*rtl:normal*/"};

        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }

    .header-banner-actions {
        .btn-link {
            letter-spacing: $font-ls-10 #{"/*rtl:normal*/"};
            padding: 0;
            font-size: $font-size--6;
            height: auto;
            margin: 0.0625rem 0 0;
            text-decoration: none;
            border-bottom: 0.0625rem solid $header-banner-btn-link;

            &:hover {
                color: $white;
            }
        }
    }
}

.header-top-left {
    align-items: center;
}

.header-top-left,
.header-top-right {
    flex: 0.5 0 0;
}

.header-curency {
    font-weight: $font-weight-normal;
    font-family: ff(tertiary);
    font-size: $font-size--5;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
    display: none;

    /* rtl:raw:
        font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
    */

    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.country-switcher {
    padding-left: 1.25rem;
    align-items: center;
    display: none;

    @include media-breakpoint-up(lg) {
        display: flex;
    }

    @include media-breakpoint-down(lg) {
        font-size: $font-size--5;
        letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
    }

    &.country-selector {
        .btn {
            padding: 0.0625rem 0.625rem;

            @include media-breakpoint-down(lg) {
                font-size: $font-size--5;
                letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
            }
        }
    }
}

.country-switcher-btn {
    font-family: $font-family-base-ar;
    height: auto;
    position: relative;
    padding: 0.0625rem 0.625rem;
    letter-spacing: 0.03125rem #{"/*rtl:normal*/"};
    font-weight: $font-weight-normal;
    white-space: nowrap;

    /* rtl:raw:
        font-family: "Caslon540LTStd", Arial, Sans-serif;
        text-decoration: underline;
    */

    &::after {
        content: '/';
        position: absolute;
        right: -0.25rem;
    }

    &:last-child {
        &::after {
            display: none;
        }
    }

    &.btn {
        text-decoration: underline;
        font-family: ff(tertiary);

        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */

        + .btn {
            text-decoration: underline;
            font-weight: $font-weight-light;
        }

        /* rtl:raw:
            text-decoration: none;
        */
    }
}

.main-menu {
    .country-selector {
        display: flex;
        padding-left: 0.5625rem;
        max-width: 27.1875rem;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}
