/* stylelint-disable */

@if not variable-exists('icons') {
    $icons: () !global;
}

@font-face {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../../fonts/icons/iconfont.eot?178956455");
  src: url("../../fonts/icons/iconfont.eot?178956455#iefix") format("embedded-opentype"), url("../../fonts/icons/iconfont.woff2?178956455") format("woff2"), url("../../fonts/icons/iconfont.woff?178956455") format("woff"), url("../../fonts/icons/iconfont.ttf?178956455") format("truetype"), url("../../fonts/icons/iconfont.svg?178956455#iconfont") format("svg");
}

$icons: map-merge($icons, (

  'arrow-back': ('iconfont' '\ea01'),

  'arrow-down': ('iconfont' '\ea02'),

  'arrow-left-md': ('iconfont' '\ea03'),

  'arrow-right-md': ('iconfont' '\ea04'),

  'arrow-up': ('iconfont' '\ea05'),

  'bag': ('iconfont' '\ea06'),

  'bag-dark': ('iconfont' '\ea07'),

  'bag-grey': ('iconfont' '\ea08'),

  'hamburger': ('iconfont' '\ea09'),

  'heart': ('iconfont' '\ea0a'),

  'icon-lock': ('iconfont' '\ea0b'),

  'icon-lock-mob': ('iconfont' '\ea0c'),

  'lock-dark': ('iconfont' '\ea0d'),

  'lock-grey': ('iconfont' '\ea0e'),

  'logo': ('iconfont' '\ea0f'),

  'logo-small': ('iconfont' '\ea10'),

  'search': ('iconfont' '\ea11'),

  'user': ('iconfont' '\ea12'),

));

/* stylelint-enable */

@mixin icon(
    $icon: auto,
    $pseudo: before,
    $font_size: inherit,
    $color: inherit
) {
    &::#{$pseudo} {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        content: $icon;
        display: inline-block;
        font-family: $icon-font-family !important;
        font-style: normal;
        font-variant: normal;
        font-weight: normal !important;
        vertical-align: middle;

        @content;
    }
}

@mixin iconfonticons($name: null) {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: $icon-font-family !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal !important;
    vertical-align: middle;

    @if ($name != null) {
        $icon: map-get($icons, $name);

        &::before {
            content: #{'"' + nth($icon, 2) + '"'};
        }
    }
}

.icon {
    @include iconfonticons;
}

/* stylelint-disable */


$icon-arrow-back: "\ea01";

$icon-arrow-down: "\ea02";

$icon-arrow-left-md: "\ea03";

$icon-arrow-right-md: "\ea04";

$icon-arrow-up: "\ea05";

$icon-bag: "\ea06";

$icon-bag-dark: "\ea07";

$icon-bag-grey: "\ea08";

$icon-hamburger: "\ea09";

$icon-heart: "\ea0a";

$icon-icon-lock: "\ea0b";

$icon-icon-lock-mob: "\ea0c";

$icon-lock-dark: "\ea0d";

$icon-lock-grey: "\ea0e";

$icon-logo: "\ea0f";

$icon-logo-small: "\ea10";

$icon-search: "\ea11";

$icon-user: "\ea12";


@each $name, $code in $icons {
    .icon-#{$name} {
        &::before {
            content: #{'"' + nth($code, 2) + '"'};
        }
    }
}
/* stylelint-enable */

@mixin icon-small {
    width: 1.125rem;
    height: 1.125rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-small {
    @include icon-small;

    &::before {
        display: none;
    }
}

.sc-icon-cross,
.sc-icon-plus {
    display: inline-block;
    transform: rotate(90deg);

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 0.3125rem;
        top: 50%;
        left: 50%;
        margin: -0.0625rem 0 0 -0.78125rem;
        width: 1.5625rem;
        height: 0.0625rem;
        background-color: $secondary;
    }

    &::before {
        transform: rotate(-45deg) translate(0) translateZ(0);
    }

    &::after {
        transform: rotate(45deg) translate(0) translateZ(0);
    }
}

.sc-icon-plus {
    transform: rotate(45deg);
}

.sc-icon-minus::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -0.0625rem;
    width: 0.875rem;
    height: 0.125rem;
    background-color: $secondary;
}

.sc-icon-arrow-next,
.sc-icon-arrow-prev {
    display: inline-block;
    width: 1.3125rem;
    height: 0.875rem;
    position: relative;

    &::after,
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: 1.875rem;
        height: 0.0625rem;
        background-color: $secondary;
        transform-origin: 0 0;
    }

    &::before {
        transform: rotate(-45deg) translate(-100%) translateZ(0);
    }

    &::after {
        transform: rotate(45deg) translate(0) translateZ(0);
    }
}

.sc-icon-arrow-prev {
    transform: rotate(-90deg);
}

.sc-icon-arrow-next {
    transform: rotate(90deg);
}

.icon-wishlist {
    background-image: url('../images/icons/heart.svg');
}

.icon-bag {
    background-image: url('../images/icons/bag.svg');
}

.icon-bag-dark {
    background-image: url('../images/icons/bag-dark.svg');
}

.icon-bag-grey {
    background-image: url('../images/icons/bag-grey.svg');
}

.icon-lock-dark {
    background-image: url('../images/icons/lock-dark.svg');
}

.icon-lock-grey {
    background-image: url('../images/icons/lock-grey.svg');
}

.icon-logo-small {
    background-image: url('../images/icons/logo-small.svg');

    &::before {
        display: none;
    }
}

.icon-logo {
    background-image: url('../images/icons/logo.svg');

    &::before {
        display: none;
    }
}

.icon-search {
    background-image: url('../images/icons/search.svg');
}

.icon-user-account {
    background-image: url('../images/icons/user.svg');
}

.icon-arrow-back {
    background-image: url('../images/icons/arrow-back.svg');
}

.icon-hamburger {
    background-image: url('../images/icons/hamburger.svg');
}
