$container-title-ls: 0;
$container-title-lh: 1.25rem;
$form-control-label-lh: 1.5rem;
$modal-header-text-lh: 1.5625rem;

.modal-backdrop {
    background: rgba($color: $black, $alpha: 0.15);

    &.show {
        opacity: 1;
    }
}

.modal-dialog {
    border: none;
    color: $grey9;
    border-radius: 0;
    background: $white;
    box-shadow: 0.0625rem 0.0625rem 0.1875rem 0.0625rem rgba(85, 85, 85, 0.33);
}

.modal-header,
.modal-body,
.modal-content {
    border: none;
    border-radius: 0;
}

.modal-header {
    padding: 0.9375rem 1.25rem 0.9375rem 1.875rem;
    text-transform: uppercase;
    background: $grey1;
    color: $grey9;

    @include media-breakpoint-up(md) {
        padding: 0.9375rem 1.25rem 0.9375rem 2.5rem;
    }

    .modal-title {
        font-size: $font-size-1;
        font-weight: $font-weight-normal;
    }

    .close {
        font-weight: $font-weight-normal;
        text-shadow: none;
        color: $primary;
    }
}

.modal-body {
    padding: 0.625rem 1.875rem 1.875rem;

    @include media-breakpoint-up(md) {
        padding: 0.625rem 2.5rem 2.5rem;
    }
}

.modal-footer {
    padding: 1rem 1.875rem;

    @include media-breakpoint-up(md) {
        padding: 1.5625rem 1.875rem;
    }
}

.modal {
    &.modal-centered {
        display: none !important;

        &.show {
            display: flex !important;
            justify-content: center;
            flex-direction: column;
        }

        .modal-dialog {
            min-width: 100%;

            @include media-breakpoint-up(lg) {
                min-width: 31.25rem;
            }

            &.modal-dialog-centered {
                min-height: 0;

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }
}

.subscribe-modal {
    .modal-dialog {
        max-width: 54.6875rem;

        @include media-breakpoint-up (md) {
            margin-top: 9.9375rem;
        }
    }

    .modal-header {
        background-color: transparent;
        padding: 3.0625rem 0 0.9375rem;

        @include media-breakpoint-up (md) {
            padding: 0 1.25rem;
            margin-left: 23rem;
            max-width: 31.6875rem;
            align-items: flex-end;
            height: 11.3125rem;
            justify-content: center;
        }

        .content-asset {
            @include media-breakpoint-down (sm) {
                width: 100%;
                padding: 0 1.875rem;
            }
        }
    }

    .close {
        position: absolute;
        right: 1.3125rem;
        top: 1rem;
        font-size: $font-size-2;
        opacity: 1;
    }

    .modal-body {
        @include media-breakpoint-up (lg) {
            padding: 0 4.5625rem 0 0;
        }
    }

    .modal-header-text {
        color: $primary;
        font-family: ff(secondary);
        font-size: $font-size-2;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        line-height: $modal-header-text-lh;
        width: 100%;
        text-align: center;
        margin-bottom: 0.9375rem;
    }

    .container-title {
        font-family: ff(base);
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        line-height: $container-title-lh;
        text-transform: none;
        max-width: 14.6875rem;
        margin-left: auto;
        margin-right: auto;
    }

    .form-control {
        height: 2.5rem;
        padding-right: 1.875rem;

        + .form-control-label {
            &::after {
                right: 1.0625rem;
            }
        }
    }

    .select + .select2-container--default {
        .select2-selection {
            max-height: 2.5rem;
        }

        .select2-selection__rendered {
            color: $secondary;
            padding: 0.5rem 0.625rem 0.5rem 0.9375rem;
        }
    }

    .form-control-label {
        font-size: $font-size--3;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        line-height: $form-control-label-lh;
        top: 0.5rem;
        left: 0.375rem;

        &::after {
            top: 1.45rem;
        }
    }

    .form-group {
        margin-bottom: 1.25rem;

        .form-control-select {
            font-size: $font-size--2;
            color: $secondary;
            letter-spacing: $font-ls-2;
            height: 2.5rem;
            padding: 0.5rem 0.625rem 0.5rem 0.9375rem;
        }
    }

    .email-address-field {
        .form-control-label {
            letter-spacing: 0 #{"/*rtl:normal*/"};
            left: 0.1875rem;

            &::after {
                top: 1.45rem;
            }
        }
    }

    .title-list-field {
        @include media-breakpoint-up (md) {
            padding-right: 0.0625rem;
        }
    }

    .first-name-field {
        @include media-breakpoint-up (md) {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    .last-name-field {
        @include media-breakpoint-up (md) {
            padding-left: 0.0625rem;
        }
    }

    .accept-terms-conditions-field {
        .form-group {
            margin-bottom: 0;

            .form-control-label {
                color: $secondary;
                padding-top: 0;
                padding-bottom: 1.25rem;
                margin-top: 0.0625rem;
                margin-left: 0;
                top: 0;

                &::before {
                    top: 0;
                }

                &::after {
                    top: 0.375rem;
                }
            }
        }
    }

    .subscribe-image-container {
        margin-top: -11.3125rem;
    }

    .subscribe-image {
        @include media-breakpoint-up (lg) {
            max-width: 23rem;
        }
    }

    .subscribe-form-container {
        padding-left: 0.9375rem;

        @include media-breakpoint-up (lg) {
            padding-left: 2.20563rem;
        }

        .text-danger {
            padding: 0 1.25rem 1rem;
            font-size: $font-size--3;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            margin-top: -1rem;
        }

        .veil {
            top: -1%;
            height: 102%;
        }
    }
}

.size-chart-modal {
    .modal-dialog {
        margin: 0;
        max-width: 100%;

        @include media-breakpoint-up (xl) {
            margin: 2.5rem auto;
            max-width: calc(100% - 5rem);
        }
    }

    .modal-content {
        text-align: center;

        @include media-breakpoint-up (xl) {
            min-height: calc(100vh - 5rem);
        }

        img {
            max-width: 23.4375rem;
            margin: 0 auto;
            width: 100%;

            @include media-breakpoint-down (sm) {
                max-width: calc(100% - 2.5rem);
            }

            @include media-breakpoint-up (xl) {
                max-width: 64rem;
            }
        }
    }

    .modal-header {
        background: transparent;
        padding-bottom: 0;
    }
}
