.product-grid {
    display: grid;
    grid-row-gap: 0.9375rem;
    align-content: baseline;
    margin: 0 -0.9375rem;
    justify-content: space-between;
    grid-template-columns: repeat(2, 50%);

    @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(4, 25%);
    }

    .product-tile-wrapper {
        padding: 0 0.9375rem;
    }

    .slick-arrow {
        opacity: 0;
        transition: $animation-default;
    }

    .product-tile-image-carousel {
        &:hover {
            .slick-arrow {
                @include media-breakpoint-up(xl) {
                    opacity: 1;
                }
            }
        }

        .slick-slide {
            text-align: center;
        }
    }
}

.grid-footer {
    grid-column: 1 / -1;

    .btn {
        line-height: 1; // todos - fix globally
    }
}

.grid-banner {
    grid-column: 1 / -1;
    margin: 0 auto;
    position: relative;
    text-align: center;

    @include media-breakpoint-up(lg) {
        padding-bottom: 2.1875rem;
        margin-top: 0.3125rem;
    }

    &.width-small {
        max-width: 65rem;
    }

    &.full-width {
        max-width: 100%;
        width: 100%;
    }

    .grid-banner-col {
        @include media-breakpoint-up(md) {
            margin: 0 auto;
            max-width: 44.0625rem;
            max-height: 37.8125rem;
            padding: 0;
        }
    }

    &.grid-banner-bottom {
        overflow: hidden;
        grid-column: unset;
        padding-bottom: 0.625rem;

        .grid-banner-content-title {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0.0625rem;
            font-size: $font-size-4;
            max-width: 100%;
        }

        .grid-banner-content-link {
            color: $primary;
            font-family: ff(secondary);
            font-size: $font-size--6;
            font-weight: $font-weight-normal;
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};

            &:hover {
                u {
                    border-color: $grey20;
                }
            }

            u {
                transition: border-bottom 0.3s ease;
                border-bottom: 0.0625rem solid $grey19;
                text-decoration: none;
            }
        }

        .grid-banner-col {
            max-height: inherit;
        }
    }
}

.search-results-breadcrumbs {
    margin-top: 2.5rem;
}

.grid-banner-col {
    @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;

        &:first-child {
            margin-bottom: 1.5625rem;
            max-width: 100vw;
        }
    }

    @include media-breakpoint-up(lg) {
        &:first-child {
            padding-right: 3.125rem;
        }

        &:last-child {
            padding-left: 3.125rem;
        }
    }

    .grid-banner-content-title {
        max-width: 12.5rem;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(md) {
            padding: 1.875rem 0.9375rem 1.25rem;
        }
    }
}

.grid-banner-content {
    font-family: ff(base);
    padding: 1.25rem 0.9375rem 0;
    text-align: center;
}

.grid-banner-content-label,
.grid-banner-content-title {
    color: $primary;
    font-family: ff(secondary);
    text-transform: uppercase;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    font-weight: $font-weight-normal;
}

.grid-banner-content-label {
    font-size: $font-size--6;
}

.grid-banner-content-title {
    font-size: $font-size-base;
    margin-bottom: 0.625rem;
}

.grid-banner-content-text {
    font-size: $font-size--2;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

    @include media-breakpoint-up(md) {
        font-size: $font-size-base;
        line-height: $line-height-3;
        letter-spacing: normal;
    }
}

.product-tile {
    .image-container {
        position: relative;
        padding-top: 113.63636%;
        margin-bottom: 0.625rem;
        width: 100%;

        .product-tile-image-carousel {
            display: flex;
            position: absolute;
            align-items: flex-end;
            background: $brand-light;
            overflow: hidden;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            .img-fluid {
                opacity: 0;
                transition: opacity 0.3s ease-in;
            }

            &.slick-initialized {
                .img-fluid {
                    opacity: 1;
                }
            }
        }

        .slick-list {
            /* rtl:raw:
                direction: ltr;
            */
        }

        .slick-arrow {
            z-index: map-get($zindex, zindex-base);

            &::before {
                font-size: $font-size-2;
            }
        }

        .slick-next {
            right: 0.625rem;

            /* rtl:raw:
                right: auto;
                transform: rotate(180deg);
            */

            &:hover {
                right: 0.4375rem;
            }
        }

        .slick-prev {
            left: 0.625rem;

            /* rtl:raw:
                left: auto;
                transform: rotate(180deg);
            */

            &:hover {
                left: 0.4375rem;
            }
        }

        .image-container-link {
            display: block;
            min-width: 100%;
        }

        .dropdown-menu {
            top: 3.125rem;
            border-radius: 0;
            max-height: 280.313rem;
            overflow-y: auto;
            width: 100%;
            padding: 0;

            ul {
                list-style: unset;
                padding: 0;
                margin: 0;

                li {
                    height: 3.125rem;
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: space-between;
                    line-height: 3.125rem;
                    font-size: 0.688rem;
                    color: $black;
                    padding-left: 0.938rem;
                    padding-right: 0.938rem;

                    .add-to-bag {
                        opacity: 0;
                        text-align: right;
                    }
                }

                li:hover {
                    background-color: $brand-light;

                    .add-to-bag {
                        opacity: 1;
                    }
                }
            }
        }

        .dropdown-toggle:focus {
            box-shadow: unset;
        }

        .openDrowdown {
            height: 3.125rem;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            grid-column: 1;
            grid-row: 2;
            z-index: map-get($zindex, zindex-base);
            justify-self: center;
            border: unset;
            padding: 0;
            width: 100%;
            color: $primary;
            background-color: $white;
        }

        .openDrowdown::after {
            display: none;
        }
    }

    .image-container:hover {
        .openDrowdown {
            opacity: 0.9;
        }
    }

    .tile-body {
        display: grid;
        grid-auto-flow: row;
        gap: 0.313rem;
        font-weight: $font-weight-normal;
        font-size: 0.688rem;
        text-align: left;
        font-family: $font-family-tertiary;

        .card-title {
            color: $primary;
            text-decoration: none;

            &:hover {
                cursor: pointer;
            }
        }

        .price {
            color: $secondary;
            font-weight: $font-weight-normal;
            font-family: ff(tertiary);
            font-size: $font-size--5;
            letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};

            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            */

            .value {
                font-weight: $font-weight-normal;
            }
        }

        .old-price {
            color: $secondary;

            /* rtl:raw:
                display: inline-block;
            */

            + * + .current-price,
            + .current-price {
                color: $orange;
                font-weight: $font-weight-normal;
            }
        }

        .swatches-carousel {
            margin: 0;

            .slick-track {
                float: left;

                /* rtl:raw:
                    float: left;
                */
            }

            .slick-arrow {
                opacity: 1;
                margin: 0;
                width: 0.75rem;
                height: 0.75rem;
                visibility: visible;

                /* rtl:raw:
                    margin-top: -0.375rem;
                */

                &::before {
                    font-size: $font-size--6;
                    color: $primary;
                }

                &.slick-disabled {
                    opacity: 0;
                }
            }

            .slick-prev {
                @include icon($icon-arrow-left-md);

                left: -1.25rem;

                /* rtl:raw:
                    left: auto;
                    transform: rotate(180deg);
                */
            }

            .slick-next {
                @include icon($icon-arrow-right-md);

                right: -0.9375rem;

                /* rtl:raw:
                    right: auto;
                    transform: rotate(180deg);
                */
            }
        }

        .color-swatches {
            min-height: auto;
            margin: 0 -0.1875rem;

            .swatch-item-link {
                cursor: pointer;
                margin: 0 0.1875rem;
                padding: 0.125rem 0 0 0.125rem;
                display: inline-block;

                &.unselectable {
                    cursor: not-allowed;
                    opacity: 0.4;
                }
            }

            .swatch-circle {
                border: none;
                box-shadow: 0 0 0 0.0625rem $iron;
                overflow: hidden;
                width: 0.6875rem;
                height: 0.6875rem;
                margin-top: 0.0625rem;

                &.selected {
                    box-shadow: 0 0 0 0.0625rem $white, 0 0 0 0.125rem $black;
                    border: none;
                }
            }

            .swatch-circle-image {
                margin: -0.3125rem 0 0;
            }
        }
    }

    .name-container {
        .pdp-link .link {
            font-size: $font-size--5;
            font-weight: $font-weight-normal;
            font-family: ff(tertiary);
            text-transform: capitalize;
            letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
        }
    }

    .badge-item {
        color: $secondary;
        font-size: $font-size--2;
        font-family: ff(base);
        font-style: italic #{"/*rtl:normal*/"};
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }
}
